html
{
	max-width: 100%;
	overflow-x: hidden;
	
	transition: background-color .6s ease, opacity .3s ease !important;
}

body
{
	max-width: 100%;
	overflow-x: hidden;
}

.button-row
{
	width: 70vw;
	height: 38px;
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
}

.button-text
{
	margin: auto;
	margin-left: 10px !important;
	text-align: left;
}

.heading-text
{
	transition: color .6s ease;
}

.body-text
{
	transition: color .6s ease;
}

.text-button
{
	transition: filter .15s ease-in-out, color .6s ease, border-color .6s ease !important;
}

.footer-button
{
	transition: filter .15s ease-in-out, border-color .6s ease !important;
}



#apply-button-container
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70vw;
	margin: 0 auto;
}



@media screen and (max-aspect-ratio: 9/16), (max-width: 700px)
{
	.button-row
	{
		width: 90vw;
	}
}