/* Something about the before tag makes the scrolling work on mobile. */
.banner:before
{
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: -10;
	
	/* Place these five lines in the actual file with a url to the image */
	background: rgb(0, 0, 0) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


#content
{
	background: rgba(0, 0, 0, 0);
	position: relative;
}