/* Required for every page. Provides support for the various kinds of text, the logo, and the footer. */



@import url("https://fonts.googleapis.com/css?family=Rubik");
@import url("https://fonts.googleapis.com/css?family=Gentium+Book+Basic");

html
{
	font-size: max(calc((1.5vmin + 1.5vmax) / 2), 12px);
	font-family: "Rubik", sans-serif;
	
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	
	overflow-y: scroll;
}

body
{
	margin: 0;
	padding: 0;
	
	-webkit-text-size-adjust: 100%;
}

a
{
	color: rgb(127, 192, 127);
	text-decoration: none;
}

p, h1, h2
{
	margin: 0;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	
	font-weight: normal;
}

q
{
	font-style: italic;
}

q:before, q:after
{
	content: "";
}



.logo
{
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

.logo img
{
	position: absolute;
	width: 100px;
	height: 100px;
	
	-webkit-transition: -webkit-filter .15s ease-in-out;
	transition: filter .15s ease-in-out;
	
	-webkit-filter: brightness(100%);
	filter: brightness(100%);
}

.logo img:hover
{
	-webkit-filter: brightness(75%);
	filter: brightness(75%);
}



.heading-text, .section-text, .body-text, .date-text, .song-lyrics
{
	position: relative;
	width: 70vw;
	margin: 0 auto;
}

.heading-text
{
	font-size: 250%;
	color: rgb(0, 0, 0);
	text-align: center;
}

.date-text
{
	font-size: 125%;
	color: rgb(0, 0, 0);
	text-align: center;
}

.section-text
{
	font-size: 175%;
	color: rgb(96, 96, 96);
	text-align: center;
}

.body-text
{
	font-size: 125%;
	color: rgb(127, 127, 127);
	text-align: justify;
}



.footer-button-container
{
	width: calc(100vw - 10px);
	display: flex;
	align-items: left;
	margin-bottom: 6px;
	justify-content: space-between;
}

.footer-button
{
	width: 25px;
	margin-left: 10px;
	
	align-self: flex-end;
	
	background-color: rgb(255, 255, 255);
	
	border: 2px solid rgb(127, 127, 127);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	padding: 5px;
	
	-webkit-transition: -webkit-filter .15s ease-in-out;
	transition: filter .15s ease-in-out;
	
	-webkit-filter: brightness(100%);
	filter: brightness(100%);
	
	cursor: pointer;
}

.footer-button:hover
{
	-webkit-filter: brightness(75%);
	filter: brightness(75%);
}



.row:after
{
	content: "";
	display: table;
	clear: both;
}



.line-break
{
	margin: 0 auto;
	width: 70vw;
	height: 1px;
	
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,a0a0a0+50,ffffff+100 */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(left, rgb(255,255,255) 0%, rgb(160,160,160) 50%, rgb(255,255,255) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgb(255,255,255) 0%,rgb(160,160,160) 50%,rgb(255,255,255) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgb(255,255,255) 0%,rgb(160,160,160) 50%,rgb(255,255,255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}



.footer-image-links
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 56vw;
	margin: 0 auto;
}

.footer-image-link
{
	position: relative;
	float: left;
	width: 8vw;
	height: 8vw;
	display: inline-block;
	
	-webkit-border-radius: 10%;
	border-radius: 10%;
}

.footer-image-link img
{
	position: absolute;
	width: 8vw;
	height: 8vw;
	
	-webkit-border-radius: 10%;
	border-radius: 10%;

	-webkit-transition: -webkit-filter .15s ease-in-out;
	transition: filter .15s ease-in-out;
	
	-webkit-filter: brightness(100%);
	filter: brightness(100%);
}

.footer-image-link img:hover
{
	-webkit-filter: brightness(75%);
	filter: brightness(75%);
}



/* Used on pages with nonstandard background colors to fade to the default. */
.background-transition
{
	-webkit-transition: background-color .45s ease-in-out !important;
	transition: background-color .45s ease-in-out !important;
}



@media screen and (max-aspect-ratio: 10/16), (max-width: 800px)
{
	.heading-text, .section-text, .body-text, .date-text
	{
		width: 90vw;
	}
}



/* If the user is running an operating system on dark mode, automatically set the theme to dark, unless they've chosen a theme manually. */
@media (prefers-color-scheme: dark)
{
	html
	{
		background-color: rgb(24, 24, 24);
	}
}