@import url("https://fonts.googleapis.com/css?family=Rubik");
@import url("https://fonts.googleapis.com/css?family=Gentium+Book+Basic");

html
{
	font-size: max(calc((1.5vmin + 1.5vmax) / 2), 12px);
	font-family: "Rubik", sans-serif;
	
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body
{
	margin: 0;
	padding: 0;
}

a
{
	color: rgb(127, 192, 127);
	text-decoration: none;
}

.link
{
	cursor: pointer;
}



.logo
{
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

.logo img
{
	position: absolute;
	width: 100px;
	height: 100px;
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
	-webkit-filter: brightness(100%);
	-moz-filter: brightness(100%);
	-o-filter: brightness(100%);
	filter: brightness(100%);
}

.logo img:hover
{
	-webkit-filter: brightness(75%);
	-moz-filter: brightness(75%);
	-o-filter: brightness(75%);
	filter: brightness(75%);
}



.heading-text, .section-text, .body-text, .date-text, .song-lyrics
{
	position: relative;
	width: 70vw;
	margin: 0 auto;
}

.heading-text
{
	font-size: 250%;
	color: rgb(0, 0, 0);
	text-align: center;
}

.date-text
{
	font-size: 125%;
	color: rgb(0, 0, 0);
	text-align: center;
}

.section-text
{
	font-size: 175%;
	color: rgb(96, 96, 96);
	text-align: center;
}

.body-text
{
	font-size: 125%;
	color: rgb(127, 127, 127);
	text-align: justify;
}

.body-text .link
{
	color: rgb(127, 192, 127);
	text-decoration: none;
}

.writing-text
{
	/* Also to be used for things like blog posts and stories. Will use serif font when font mode is default. */
	font-family: "Gentium Book Basic", serif;
}

.song-lyrics
{
	font-size: 125%;
	color: rgb(127, 127, 127);
	text-align: center;
	font-family: "Gentium Book Basic", serif;
}



.footer-button
{
	width: 25px;
	margin-left: 10px;
	
	align-self: flex-end;
	
	background-color: rgb(255, 255, 255);
	
	border: 2px solid rgb(127, 127, 127);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	padding: 5px;
	
	-webkit-transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
	-moz-transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
	-o-transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
	transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
	
	cursor: pointer;
}

.footer-button:hover
{
	border-color: rgb(96, 96, 96);
	background-color: rgb(192, 192, 192);
}


.nav-buttons
{
	display: flex;
	width: 70vw;
	margin: 0 auto;
	justify-content: space-between;
}

.nav-button
{
	color: rgb(127, 127, 127);
	background-color: rgb(255, 255, 255);
	height: 20px;
	position: relative;
	opacity: 1;

	border: 2px solid rgb(127, 127, 127);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	padding: 10px;
	
	-webkit-transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
	-moz-transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
	-o-transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
	transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
	
	cursor: pointer;
}

.nav-button:hover
{
	border-color: rgb(96, 96, 96);
	background-color: rgb(192, 192, 192);
}



.image-links
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 70vw;
	margin: 0 auto;
}

.image-link
{
	width: 13.75vw;
	height: 13.75vw;
}

.image-link img
{
	position: absolute;
	width: 13.75vw;
	height: 13.75vw;
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
	-webkit-filter: brightness(100%);
	-moz-filter: brightness(100%);
	-o-filter: brightness(100%);
	filter: brightness(100%);
}

.image-link img:hover
{
	-webkit-filter: brightness(75%);
	-moz-filter: brightness(75%);
	-o-filter: brightness(75%);
	filter: brightness(75%);
}

.image-link-subtext
{
	position: relative;
	margin-top: 15vw;
	color: rgb(127, 127, 127);
	text-align: center;
	font-size: 125%;
}

/* Added to images with white around the edges to provide contrast. */
.image-link-light img
{
	-webkit-filter: brightness(95%) !important;
	-moz-filter: brightness(95%) !important;
	-o-filter: brightness(95%) !important;
	filter: brightness(95%) !important;
}

.image-link-light img:hover
{
	-webkit-filter: brightness(75%) !important;
	-moz-filter: brightness(75%) !important;
	-o-filter: brightness(75%) !important;
	filter: brightness(75%) !important;
}


.row-break
{
	height: 5vw;
}



/* Used for two small horizontal images side by side. */
.image-row
{
	display: flex;
	width: 70vw;
	margin: 0 auto;
	justify-content: space-between;
}

.big-image-horizontal
{
	position: relative;
	width: 70vw;
	height: auto;
	margin-left: 15vw;
	display: inline-block;
}

.small-image-horizontal
{
	position: relative;
	float: left;
	width: 32.5vw;
	height: auto;
	display: inline-block;
}

.big-image-vertical
{
	position: relative;
	width: 90vh;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.small-image-vertical
{
	position: relative;
	width: auto;
	height: 50vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.big-image-horizontal, .small-image-horizontal, .big-image-vertical, .small-image-vertical
{
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
	-webkit-filter: brightness(100%);
	-moz-filter: brightness(100%);
	-o-filter: brightness(100%);
	filter: brightness(100%);
}

.big-image-horizontal:hover, .small-image-horizontal:hover, .big-image-vertical:hover, .small-image-vertical:hover
{
	-webkit-filter: brightness(75%);
	-moz-filter: brightness(75%);
	-o-filter: brightness(75%);
	filter: brightness(75%);
}



.text-button
{
	color: rgb(127, 127, 127);
	background-color: rgb(255, 255, 255);
	height: 20px;
	width: auto;
	display: inline-block;
	margin: auto;
	position: relative;
	
	color: rgb(127, 127, 127);
	text-align: center;
	font-size: 125%;

	border: 2px solid rgb(127, 127, 127);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	padding: 10px;
	
	-webkit-transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
	-moz-transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
	-o-transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
	transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
	
	cursor: pointer;
}

.text-button:hover
{
	color: rgb(96, 96, 96);
	border-color: rgb(96, 96, 96);
	background-color: rgb(192, 192, 192);
}



.text-box
{
	border: none;
	border-radius: 0px;
	border-bottom: 2px solid rgb(192, 192, 192);
	outline: none;
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	
	color: rgb(127, 127, 127);
	font-size: 125%;
	text-align: center;
	
	-webkit-transition: border-color .3s ease-in-out, color .3s ease-in-out;
	-moz-transition: border-color .15s ease-in-out, color .15s ease-in-out;
	-o-transition: border-color .15s ease-in-out, color .15s ease-in-out;
	transition: border-color .15s ease-in-out, color .15s ease-in-out;
}

.text-box:focus
{
	border-color: rgb(127, 127, 127);
}

.text-box-dark
{
	border-bottom: 2px solid rgb(64, 64, 64);
}



.stage-bubbles
{
	width: 50vw;
	margin-left: 25vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.stage-bubble
{
	width: 5vw;
	height: 5vw;
	border: 2px solid rgb(127, 127, 127);
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	padding: 2px;
}

.stage-bubble span
{
	width: 0%;
	height: 0%;
	margin: 0 auto;
	position: relative;
	display: block;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	background-color: rgb(127, 127, 127);
	overflow: hidden;
	
	-webkit-transition: width 1.2s ease, height 1.2s ease, background-color 1.2s ease;
	-moz-transition: width 1.2s ease, height 1.2s ease, background-color 1.2s ease;
	-o-transition: width 1.2s ease, height 1.2s ease, background-color 1.2s ease;
	transition: width 1.2s ease, height 1.2s ease, background-color 1.2s ease;
	
	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.stage-bubble-subtext
{
	width: 17.5vw;
	margin-left: -6.25vw;
	margin-top: calc(5vw + 1vh);
	text-align: center;
	
	-webkit-transition: margin-top 1.2s ease;
	-moz-transition: margin-top 1.2s ease;
	-o-transition: margin-top 1.2s ease;
	transition: margin-top 1.2s ease;
}



.progress-bar
{
	width: calc(50vw - 8px);
	height: 5vh;
	margin-left: 25vw;
	border: 2px solid rgb(127, 127, 127);
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	padding: 2px;
}

.progress-bar span
{
	width: 0%;
	position: relative;
	display: block;
	height: 100%;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	background-color: rgb(127, 127, 127);
	overflow: hidden;
	-webkit-transition: width 1.2s ease;
	-moz-transition: width 1.2s ease;
	-o-transition: width 1.2s ease;
	transition: width 1.2s ease;
}



.row:after
{
	content: "";
	display: table;
	clear: both;
}



.line-break
{
	margin: 0 auto;
	width: 70vw;
	height: 1px;
	
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,a0a0a0+50,ffffff+100 */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(left, rgb(255,255,255) 0%, rgb(160,160,160) 50%, rgb(255,255,255) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgb(255,255,255) 0%,rgb(160,160,160) 50%,rgb(255,255,255) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgb(255,255,255) 0%,rgb(160,160,160) 50%,rgb(255,255,255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* Unfortunately, gradient transitions aren't supported by any browser at the moment, so this somewhat uglier method is required. */
.line-break-dark
{
	margin: 0 auto;
	width: 70vw;
	height: 1px;
	
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#181818+0,5c5c5c+50,181818+100 */
	background: rgb(24,24,24); /* Old browsers */
	background: -moz-linear-gradient(left, rgb(24,24,24) 0%, rgb(92,92,92) 50%, rgb(24,24,24) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgb(24,24,24) 0%,rgb(92,92,92) 50%,rgb(24,24,24) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgb(24,24,24) 0%,rgb(92,92,92) 50%,rgb(24,24,24) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	
	opacity: 0;
}



.menu-image-links
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 56vw;
	margin: 0 auto;
}

.menu-image-link
{
	position: relative;
	float: left;
	width: 8vw;
	height: 8vw;
	display: inline-block;
}

.menu-image-link img
{
	position: absolute;
	width: 8vw;
	height: 8vw;

	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
	-webkit-filter: brightness(100%);
	-moz-filter: brightness(100%);
	-o-filter: brightness(100%);
	filter: brightness(100%);
}

.menu-image-link img:hover
{
	-webkit-filter: brightness(75%);
	-moz-filter: brightness(75%);
	-o-filter: brightness(75%);
	filter: brightness(75%);
}



/* Used on pages with nonstandard background colors to fade to the default. */
.background-transition
{
	-webkit-transition: background-color .45s ease-in-out !important;
	-moz-transition: background-color .45s ease-in-out !important;
	-o-transition: background-color .45s ease-in-out !important;
	transition: background-color .45s ease-in-out !important;
}



@media screen and (max-aspect-ratio: 10/16), (max-width: 800px)
{
	.heading-text, .section-text, .body-text, .date-text, .song-lyrics
	{
		width: 90vw;
	}
	
	

	/* Put two images per row, rather than four. */
	.image-link
	{
		width: 40vw;
		height: 40vw;
		margin-bottom: 10vw;
	}
	
	.image-links
	{
		width: 90vw;
		
		/* Cancel out the bottom row's bottom margin */
		margin-bottom: -10vw;
	}
	
	.image-link img
	{
		width: 40vw;
		height: 40vw;
	}

	/* Reposition subtext. */
	.image-link-subtext
	{
		margin-top: 41.25vw;
	}
	
	/* Make spacing even. */
	.row-break
	{
		height: 10vw;
	}
	
	
	
	.nav-buttons
	{
		width: 90vw;
	}
	
	
	
	.big-image-horizontal
	{
		width: 90vw;
		margin-left: 5vw;
	}

	.small-image-horizontal
	{
		width: 42.5vw;
	}
	
	.image-row
	{
		width: 90vw;
	}

	.big-image-vertical
	{
		width: 90vw;
	}
}



/* If the user is running an operating system on dark mode, automatically set the theme to dark, unless they've chosen a theme manually. */
@media (prefers-color-scheme: dark)
{
	html
	{
		background-color: rgb(24, 24, 24);
	}
}