#content
{
	overflow-x: hidden;
}

.column
{
	float: left;
	width: 23.333%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 5%;
	margin-right: 5%;
}

.quote-text
{
	font-size: 125%;
	color: rgb(176, 176, 176);
	text-align: justify;
	padding-right: .1em;
}

.quote-attribution
{
	font-size: 125%;
	color: rgb(92, 92, 92);
	text-align: right;
}



.name-text
{
	font-size: 17.5vmin;
	color: rgb(255, 255, 255);
	text-align: left;
	font-family: "Gentium Book Basic", serif;
	text-shadow: 0px 0px 20px rgb(0, 0, 0);
}

#cruz-text
{
	margin-top: 2.1875vmin;
	margin-left: 4.9583vmin;
}

#godar-text
{
	margin-top: 19.6875vmin;
	margin-left: 4.9583vmin;
}



.title-text
{
	font-size: 200%;
	color: rgb(0, 0, 0);
	text-align: center;
}



@media screen and (max-aspect-ratio: 10/16), (max-width: 800px)
{
	/* Stack the quote columns on top of one another. */
	.column
	{
		width: 90vw;
		margin-bottom: 6vh;
	}
}