/* Adds support for image links, the main form of navigation on the site. */



.image-links
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 70vw;
	margin: 0 auto;
}

.image-link
{
	width: 13.75vw;
	height: 13.75vw;
	
	-webkit-border-radius: 10%;
	border-radius: 10%;
}

.image-link img
{
	position: absolute;
	width: 13.75vw;
	height: 13.75vw;
	
	-webkit-border-radius: 10%;
	border-radius: 10%;
	
	-webkit-transition: -webkit-filter .15s ease-in-out;
	transition: filter .15s ease-in-out;
	
	-webkit-filter: brightness(100%);
	filter: brightness(100%);
}

.image-link img:hover
{
	-webkit-filter: brightness(75%);
	filter: brightness(75%);
}

.image-link-subtext
{
	position: relative;
	margin-top: 15vw;
	color: rgb(127, 127, 127);
	text-align: center;
	font-size: 125%;
}

/* Added to images with white around the edges to provide contrast. */
.image-link-light img
{
	-webkit-filter: brightness(95%) !important;
	filter: brightness(95%) !important;
}

.image-link-light img:hover
{
	-webkit-filter: brightness(75%) !important;
	filter: brightness(75%) !important;
}



.row-break
{
	height: 5vw;
}



@media screen and (max-aspect-ratio: 10/16), (max-width: 800px)
{
	/* Put two images per row, rather than four. */
	.image-link
	{
		width: 40vw;
		height: 40vw;
		margin-bottom: 10vw;
	}
	
	.image-links
	{
		width: 90vw;
		
		/* Cancel out the bottom row's bottom margin */
		margin-bottom: -10vw;
	}
	
	.image-link img
	{
		width: 40vw;
		height: 40vw;
	}

	/* Reposition subtext. */
	.image-link-subtext
	{
		margin-top: 41.25vw;
	}
	
	/* Make spacing even. */
	.row-break
	{
		height: 10vw;
	}
}