.banner-1:before, .banner-2:before, .banner-3:before, .banner-4:before, .banner-5:before, .banner-6:before, .banner-7:before, .banner-8:before, .banner-9:before, .banner-10:before, .banner-11:before, .banner-12:before, .banner-13:before, .banner-14:before, .banner-15:before, .banner-16:before, .banner-17:before
{
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	
	/* This is some magic right here */
	transform: translate3d(0, 0, 0);
}

.banner-1:before
{
	background: url("/graphics/banners/banner-1.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.banner-2:before
{
	background: url("/graphics/banners/banner-2.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.banner-3:before
{
	background: url("/graphics/banners/banner-3.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.banner-4:before
{
	background: url("/graphics/banners/banner-4.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.banner-5:before
{
	background: url("/graphics/banners/banner-5.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.banner-6:before
{
	background: url("/graphics/banners/banner-6.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.banner-7:before
{
	background: url("/graphics/banners/banner-7.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.banner-8:before
{
	background: url("/graphics/banners/banner-8.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.banner-9:before
{
	background: url("/graphics/banners/banner-9.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.banner-10:before
{
	background: url("/graphics/banners/banner-10.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.banner-11:before
{
	background: url("/graphics/banners/banner-11.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.banner-12:before
{
	background: url("/graphics/banners/banner-12.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.banner-13:before
{
	background: url("/graphics/banners/banner-13.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.banner-14:before
{
	background: url("/graphics/banners/banner-14.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.banner-15:before
{
	background: url("/graphics/banners/banner-15.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.banner-16:before
{
	background: url("/graphics/banners/banner-16.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.banner-17:before
{
	background: url("/graphics/banners/banner-17.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}