:root
{
	--theme: 0;

	--background: color-mix(in srgb, rgb(255, 255, 255), rgb(24, 24, 24) calc(var(--theme) * 100%));

	--high-contrast: color-mix(in srgb, rgb(0, 0, 0), rgb(255, 255, 255) calc(var(--theme) * 100%));
	--normal-contrast: color-mix(in srgb, rgb(64, 64, 64), rgb(208, 208, 208) calc(var(--theme) * 100%));
	--low-contrast: color-mix(in srgb, rgb(96, 96, 96), rgb(184, 184, 184) calc(var(--theme) * 100%));

	--neutral-hover: color-mix(in srgb, rgb(208, 208, 208), rgb(64, 64, 64) calc(var(--theme) * 100%));

	--link: color-mix(in srgb, rgb(80, 192, 80), rgb(160, 224, 160) calc(var(--theme) * 100%));
	--link-hover: color-mix(in srgb, rgb(160, 224, 160), rgb(192, 255, 192) calc(var(--theme) * 100%));

	--gallery-color: rgb(176, 238, 173);
	/* --gallery-color: lch(90% 35 140); */

	--applets-color: rgb(255, 180, 203);
	/* --applets-color: lch(90% 50 12); */

	--teaching-color: rgb(255, 216, 150);
	/* --teaching-color: lch(90% 35 80); */

	--slides-color: rgb(244, 199, 255);
	/* --slides-color: lch(90% 70 300); */

	--writing-color: rgb(175, 229, 255);
	/* --writing-color: lch(90% 30 255); */

	--about-color: rgb(222, 222, 222);
	/* --about-color: lch(90% 0 0); */

	--page-width: 1150px;
	--text-width: 800px;
}

@media (prefers-contrast: more)
{
	:root
	{
		--normal-contrast: var(--high-contrast);
		--low-contrast: var(--high-contrast);

		--link: color-mix(in srgb, rgb(0, 164, 0), rgb(127, 255, 127) calc(var(--theme) * 100%));
		--link-hover: color-mix(in srgb, rgb(0, 255, 0), rgb(0, 192, 0) calc(var(--theme) * 100%));
	}
}

html
{
	background-color: var(--background);

	font-size: 16px;
	font-family: "Rubik", sans-serif;
	
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	min-height: 100vh;
	
	overflow-x: hidden;
	overflow-y: scroll;
}

body
{
	margin: 0;
	padding: 0;
	
	overflow-x: hidden;
	
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

.page
{
	overflow-x: hidden;
	width: calc(100% - 32px);
	padding-left: 16px;
	padding-right: 16px;
}

@media (min-width: 501px)
{
	.page
	{
		width: calc(100% - 64px);
		padding-left: 32px;
		padding-right: 32px;
	}
}



header
{
	margin-top: 80px;
	margin-bottom: 32px;
}

#banner ~ #content-container header
{
	margin-top: 8px;
}

section
{
	margin-bottom: 96px;
}



a
{
	color: var(--link);
	text-decoration: none;
	
	cursor: pointer;
}

a.hover
{
	color: var(--link-hover);
}

a:not(:hover):focus
{
	color: var(--link-hover);
	outline: none;
}

p, h1, h2
{
	margin: 0;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	
	font-weight: normal;
}

q
{
	font-style: italic;
}

q:before, q:after
{
	content: "";
}

dfn
{
	font-weight: bold;
	font-style: normal;
}

code
{
	font-family: Menlo, Monaco, Consolas, monospace;
}

pre code.highlightable
{
	position: relative;
	max-width: var(--text-width);
	margin: 0 auto;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
}



img
{
	transform: translateZ(0);
	perspective: 1000;
	
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}



#logo, #logo-no-link
{
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

#logo img, #logo-no-link img
{
	position: absolute;
	width: 100px;
	height: 100px;
	
	border-radius: 50px;
};

#logo img:not(:hover):focus
{
	transform: scale(1.05);
	outline: none;
}



.heading-text, .section-text, .body-text, .song-lyrics
{
	position: relative;
	max-width: var(--text-width);
	margin: 0 auto;
	margin-bottom: 16px;
}

.heading-text
{
	font-size: 175%;
	color: var(--high-contrast);
	text-align: center;
}

.section-text
{
	font-size: 125%;
	color: var(--high-contrast);
	text-align: center;
}

.body-text
{
	font-size: 100%;
	color: var(--normal-contrast);
	text-align: justify;
	line-height: 1.55;
}



.body-text span
{
	display: inline-block;
	text-align: justify;
}

/* Centers body text, but only if it's a single line (not long enough to justify). */
.center-if-needed
{
	text-align: center !important;
}



/* Centers whatever's inside of it, no margins needed. For use when margin: 0 auto just won't work. */
.center-content
{
	display: flex;
	justify-content: center;
	margin: 0 auto;
}



/* Used on pages with nonstandard background colors to fade to the default. */
.background-transition
{
	transition: background-color .5s ease-in-out !important;
}



#MathJax_Message
{
	display: none !important;
}

mjx-container
{
	overflow-y: hidden;
	margin: 0 !important;
	pointer-events: none;
	width: fit-content;
}

.tex-holder
{
	position: relative;
	
	max-width: calc(100% - 16px);
}

.tex-holder.inline-math
{
	white-space: nowrap;
}

.tex-holder:not(.inline-math)
{
	overflow-x: auto;
}

.card .tex-holder:not(.inline-math)
{
	max-width: calc(100vw - 80px);
}

@media (max-width: 500px)
{
	.card .tex-holder:not(.inline-math)
	{
		max-width: calc(100vw - 64px);
	}
}

.tex-holder textarea
{
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
}

.bad-math
{
	color: rgb(255, 127, 0);
}



#card-container
{
	position: fixed;
	top: 0;
	left: 0;
	
	width: 100%;
	
	/* This is to make the scale animations look just a little nicer. */
	height: calc(100% * 1.1);
	
	/* For some reason this needs to be in terms of vh or Chrome starts changing it wrt width. */
	margin-top: calc(-100vh * .05);
	
	z-index: 1000;
	
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
}

#card-container::-webkit-scrollbar
{
	display: none;
}

.card
{
	display: none;
	
	position: relative;
	
	opacity: 1;
	
	max-width: min(var(--page-width), calc(100vw - 64px));
	padding: 16px;
	
	margin-left: 16px;
	margin-right: 16px;

	margin-top: calc(16px + 5vh);
	margin-bottom: calc(16px + 5vh);
	
	border-radius: 16px;
	
	background-color: var(--background);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .3);
}

@media (prefers-contrast: more)
{
	.card
	{
		border: 2px solid var(--high-contrast);
	}
}

@media (max-width: 500px)
{
	.card
	{
		margin-left: 8px;
		margin-right: 8px;

		margin-top: calc(8px + 5vh);
		margin-bottom: calc(8px + 5vh);

		max-width: calc(100vw - 48px);
	}
}

.card .body-text, .card .section-text, .card .heading-text
{
	width: 100% !important;
	
	text-align: left;
}

.card .body-text.numbered-list-item
{
	margin-top: 32px;
}

.card .heading-text
{
	/* Makes things look just a little nicer. */
	
	margin-top: -4.5px;
	width: calc(100% - 50px) !important;
	margin-left: 0;
}

.card > *:last-child
{
	margin-bottom: 0;
}

.card .text-buttons
{
	grid-template-columns: unset !important;
}

#card-container .card
{
	display: block;
}

#card-close-button
{
	position: absolute;
	
	top: 0;
	right: 0;
	
	font-size: 32px;
	color: var(--high-contrast);
	
	cursor: pointer;
	
	border-radius: 10px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: var(--background);
	
	width: 38px;
	
	margin: 6px;
	
	z-index: 1001;
}

#card-close-button.hover
{
	background-color: var(--neutral-hover);
}

@media (prefers-contrast: more)
{
	#card-close-button.hover
	{
		outline: 2px solid var(--high-contrast);
	}
}

#card-close-button span
{
	margin-top: -1.35px;
	margin-bottom: 1.35px;
}


#contents-indicator
{
	position: fixed;
	right: 0;
	top: calc((100vh - 128px) / 2);
	width: 8px;
	padding-right: 8px;
	padding-left: 32px;
	padding-top: 48px;
	padding-bottom: 48px;
	cursor: pointer;
}

@media (max-width: 440px)
{
	#contents-indicator
	{
		width: 6px;
		padding-right: 6px;
		padding-right: 8px;
		padding-left: 24px;
		padding-top: 36px;
		padding-bottom: 36px;
	}
}

@media (max-width: 320px)
{
	#contents-indicator
	{
		width: 4px;
		padding-right: 4px;
		padding-right: 4px;
		padding-left: 16px;
		padding-top: 24px;
		padding-bottom: 24px;
	}
}

#contents-container
{
	position: fixed;
	height: calc(100% - 112px);
	width: fit-content;

	/* To account for the border. */
	max-width: min(100% - 4px, 500px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* To account for the header. */
	top: 56px;
	right: 0;

	z-index: 100;
}

#contents
{
	width: fit-content;
	max-width: 100%;
	overflow-y: auto;
	padding: 16px;
	border-radius: 16px;

	margin-left: 16px;

	/* This accounts for the total 4px of the border. */
	margin-right: 20px;
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.35);

	outline: calc(var(--theme) * 2px) solid var(--normal-contrast);

	background-color: var(--background);
}

@media (prefers-contrast: more)
{
	#contents
	{
		outline: 2px solid var(--high-contrast);
	}
}

#contents > *
{
	cursor: pointer;
}

#contents > .section-text, #contents > .heading-text
{
	width: fit-content;
}

#contents > .section-text
{
	margin-top: 48px;
}

#contents > .notes-pf-title, #contents > .notes-thm-title + .notes-cor-title, #contents > .notes-prop-title + .notes-cor-title, #contents > .notes-pf-title + .notes-cor-title, #contents > .notes-lem-title
{
	margin-left: 16px;
}

#contents > .notes-lem-title + .notes-pf-title
{
	margin-left: 32px;
}

#contents > *:last-child
{
	margin-bottom: 0;
}



*:focus
{
	outline: none;
}

.output-canvas
{
	width: calc(100% - 8px) !important;
	height: auto;
	
	border: 2px solid var(--normal-contrast);
	border-radius: 16px;
	padding: 2px;
}

.hidden-canvas
{
	position: fixed;
	left: -200vw;
	width: 10px;
	height: 10px;
}



.wilson-output-canvas-container
{
	width: 100% !important;
}

.wilson-applet-canvas-container
{
	margin-top: 32px !important;
	margin-bottom: 0 !important;
	line-height: 0 !important;
}

.wilson-applet-canvas-container.black-background
{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.fps-canvas
{
	width: 100px;
	height: 100px;

	position: absolute;
	bottom: 4px;
	right: 4px;
	border-bottom-right-radius: 12px;
}

body > .wilson-fullscreen-components-container .fps-canvas
{
	bottom: 0px;
	right: 0px;
	border-bottom-right-radius: 0;
}

.wilson-help-button
{
	position: absolute;
	left: 10px;
	top: 10px;
	width: 15px;
	height: 15px;
	z-index: 50;
	background: var(--background);
	border: 2px solid var(--normal-contrast);
	padding: 5px;
	border-radius: 25%;
	cursor: pointer;
	outline: none;
}

.wilson-help-button img
{
	width: 100%;
	height: 100%;
	filter: invert(calc(.25 + var(--theme)* .5657));
}

body > .wilson-fullscreen-components-container .wilson-help-button
{
	display: none;
}



#canvas-landscape
{
	display: flex;
	flex-direction: column;
	
	width: 100%;
	
	justify-content: space-between;
	
	align-items: center;
}

#canvas-landscape-left, #canvas-landscape-middle, #canvas-landscape-right
{
	width: 90%;
}

.desmos-border .output-canvas
{
	border: none;
	padding: 0;
	border-radius: 12px;
	width: 100% !important;
}

.desmos-border .wilson-applet-canvas-container
{
	margin-top: 0 !important;
}

.desmos-border .wilson-enter-fullscreen-button
{
	right: 4px;
	top: 4px;
}



@media (min-aspect-ratio: 1/1) and (min-width: 750px)
{
	
	#canvas-landscape
	{
		flex-direction: row;
	}
	
	#canvas-landscape-left, #canvas-landscape-middle, #canvas-landscape-right
	{
		width: 33.33%;
	}

	#canvas-landscape-middle
	{
		margin-left: 16px;
		margin-right: 16px;
	}
	
	#canvas-landscape-left .body-text, #canvas-landscape-left .section-text, #canvas-landscape-middle .body-text, #canvas-landscape-middle .section-text, #canvas-landscape-right .body-text, #canvas-landscape-right .section-text
	{
		width: 70%;
	}
}

/* Provides suppport for full-page, parallax banners at the top of the page, complete with scroll buttons. */

#banner, #banner-small, #banner-large
{
	position: fixed;
	width: calc(100vw + 75px);
	height: calc(100vh + 75px);
	
	left: -25px;
	
	background: url("") no-repeat center center;
	background-size: cover;
	
	/* Some magic that prevents the banner from abruptly resizing on mobile devices on which the size of the url bar changes on scroll. */
	transform: translate3d(0, 0, 0);
}

#banner-small
{
	z-index: 10;
}

#banner-large
{
	z-index: 5;
}



#banner-cover
{
	height: 90vh;
	position: absolute;
}

#content-container
{
	display: flex;
	justify-content: center;
	margin-top: calc(100vh - 40px);
}

@media (max-width: 500px)
{
	#banner ~ #content-container
	{
		margin-left: -24px;
		margin-right: -24px;
	}
}

#content
{
	background: var(--background);
	position: relative;
	border-radius: 16px;
	padding: 16px;
	max-width: var(--page-width);
	box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, .35);
}

#height-measurer
{
	height: 1vh;
	position: fixed;
	top: 0;
	left: 0;
}


/* Adds support for text buttons and text boxes. */



.text-boxes, .text-buttons, .sliders
{
	position: relative;
	display: grid;
	
	justify-content: center;
	
	width: 70%;
	margin: 0 auto;

	grid-template-columns: repeat(auto-fit, 100px);
	
	row-gap: 10px;
	column-gap: 10px;
	
	margin-top: 32px;
}

.text-buttons.dropdown-holder
{
	z-index: 75;
}

.sliders
{
	grid-template-columns: repeat(auto-fit, 200px);
}

.text-boxes
{
	align-items: start;
}

.contents-button-container
{
	display: flex;
	justify-content: center;
	margin-top: -22px;
	margin-bottom: 32px;
}

.nav-buttons:first-of-type
{
	margin-top: 0;
	
	margin-bottom: 32px;
}


.text-button
{
	color: var(--normal-contrast);
	background-color: rgba(0, 0, 0, 0);
	width: fit-content;
	display: inline-block;
	margin: auto;
	position: relative;
	
	text-align: center;
	font-size: 100%;

	border: 2px solid var(--normal-contrast);
	border-radius: 10px;
	padding: 10px;
	
	cursor: pointer;
	outline: none;
	
	z-index: 10;
}

.text-button:not(:hover):focus
{
	outline: none;
}

.text-button.dropdown
{
	border-radius: 25px;

	position: absolute;

	width: fit-content;

	height: 50px;

	padding: 0;
	
	white-space: pre;

	background-color: var(--background);

	overflow: hidden;

	transition: box-shadow .2s ease-out;

	z-index: 75;
}

.text-button.dropdown.expanded
{
	box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, .4);
	cursor: default;
}

.text-button.dropdown .option-container
{
	display: grid;
	padding: 10px;

	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

.text-button.dropdown .option-container.two-column
{
	grid-template-columns: repeat(2, 1fr);
}

.text-button.dropdown .option-container.two-column > *:first-child
{
	grid-column: span 2;
}

.text-button.dropdown .option-container > *
{
	width: fit-content;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
}

.text-button.dropdown.expanded .option-container > *:not(:first-child).hover
{
	cursor: pointer;
	
	background: var(--neutral-hover);
}

@media (prefers-contrast: more)
{
	.text-button.dropdown.expanded .option-container > *:not(:first-child).hover
	{
		outline: 2px solid var(--high-contrast);
	}
}



.checkboxes
{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	
	justify-content: center;
	align-items: center;
	
	width: 100%;
	margin: 0 auto;
	column-gap: 32px;
	row-gap: 32px;
	
	margin-top: 32px;
}

.checkbox-row
{
	display: flex;
	align-items: center;
	justify-content: center;
}

.checkbox-row p
{
	width: auto;
	text-align: left;
}

.checkbox-subtext
{
	margin-bottom: 0 !important;
	width: 100% !important;
}



.checkbox-container
{
	position: relative;
	
	width: 24px;
	height: 24px;
	
	border: 2px solid var(--normal-contrast);
	border-radius: 6px;
	padding: 2px;
	cursor: pointer;
}

.checkbox-container:not(:hover):focus
{
	transform: scale(1.1);
	
	outline: none;
}





.checkbox-container > input
{
	position: absolute;
	
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	
	margin: 0;
	
	opacity: 0;
	
	cursor: pointer;
	
	transition: width .125s ease-in-out, height .125s ease-in-out;
}

.checkbox-container > input ~ .checkbox
{
	width: 100%;
	height: 100%;
	
	border-radius: 2px;
	
	background: rgba(0, 0, 0, 0);
	
	cursor: pointer;
	
	transition: background-color .125s ease-in-out, width .125s ease-in-out, height .125s ease-in-out;
}

.checkbox-container > input:checked ~ .checkbox
{
	background-color: var(--normal-contrast);
}


.text-box
{
	width: 100%;
	
	border: none;
	border-radius: 0;
	border-bottom: 2px solid var(--normal-contrast);
	outline: none;
	background-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	
	color: var(--normal-contrast);
	font-size: 100%;
	text-align: center;
	
	transition: border-color .25s ease-out, color .25s ease-out;
}

.text-box:focus
{
	border-color: var(--high-contrast);
	color: var(--high-contrast);
}

.text-box-container
{
	width: 100px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text-box-subtext
{
	width: 100% !important;
	height: fit-content;
	
	margin-bottom: 0 !important;
	
	text-align: center !important;
}

.text-box-subtext span
{
	transition: color .25s ease-out;
}

.text-box-container.capped-input-max .text-box
{
	border-bottom: 2px solid rgb(192, 0, 0) !important;
	color: rgb(192, 0, 0) !important;
}

.text-box-container.capped-input-max .text-box-subtext span
{
	color: rgb(192, 0, 0) !important;
	cursor: pointer;
}

.text-box-container.capped-input-min .text-box
{
	border-bottom: 2px solid rgb(0, 0, 255) !important;
	color: rgb(0, 0, 255) !important;
}

.text-box-container.capped-input-min .text-box-subtext span
{
	color: rgb(0, 0, 255) !important;
	cursor: pointer;
}

.text-box-subtext .triangle
{
	width: 0;
	padding-left: 0;
	opacity: 0;
	
	font-size: 12px;
	
	transition: width .25s ease-out, opacity .25s ease-out, padding .25s ease-out, color .25s ease-out;
}

.text-box-container.capped-input-max .body-text .triangle,
.text-box-container.capped-input-min .body-text .triangle
{
	width: 12px;
	padding-left: 2px;
	opacity: 1;
}

.input-cap-dialog
{
	max-width: min(360px, calc(100vw - 48px));
	background-color: var(--background);
	color: var(--normal-contrast);
	text-align: justify;
	
	padding: 12px;
	padding-top: 10px;
	border-radius: 12px;
	box-shadow: 0px 0px 16px calc(var(--theme) * 8px) rgba(0, 0, 0, .4);
	outline: calc(var(--theme) * 2px) solid var(--normal-contrast);
	position: absolute;
	z-index: 100;
}

@media (prefers-contrast: more)
{
	.input-cap-dialog
	{
		outline: 2px solid var(--high-contrast);
	}
}

.input-cap-dialog .checkbox-row
{
	margin-top: 16px !important;
}



.text-field
{
	width: 100%;
	
	border: 2px solid var(--normal-contrast);
	border-radius: 10px;
	padding: 10px;
	outline: none;
	background-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	
	margin-left: 16px;
	margin-right: 16px;
	
	color: var(--normal-contrast);
	font-size: 100%;
	
	transition: border-color .25s ease-in-out, color .25s ease-in-out;
}

.text-field:focus
{
	border-color: var(--high-contrast);
	color: var(--high-contrast);
}

.text-field-container
{
	width: 300px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin: 0 auto;
	
	margin-top: 32px;
}

.text-field-container p
{
	width: 70%;
	margin-bottom: 0 !important;
}





.slider-container
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slider-container > input
{
	-webkit-appearance: none;
	appearance: none;
	
	-webkit-user-select: none;
	user-select: none;
	
	width: calc(100% + 1px);
	height: 3px;
	
	border-radius: 1.5px;
	
	margin-left: -1px;
	
	background-color: var(--normal-contrast) !important;
	outline: none;
	box-shadow: none;
	
	z-index: 10;
	
	transition: background-color .125s ease-in-out;
}

.slider-container > input::-webkit-slider-thumb, .slider-container > input::-moz-slider-thumb
{
	-webkit-appearance: none;
	appearance: none;
	
	-webkit-user-select: none;
	user-select: none;
	box-shadow: none;
	
	width: 25px;
	height: 25px;
	background-color: var(--high-contrast) !important;
	
	border-radius: 50%;
	
	cursor: pointer;
	
	transition: background-color .125s ease-in-out;
}

.slider-container > input:active, .slider-container > input:active::-webkit-slider-thumb, .slider-container > input:active::-moz-slider-thumb
{
	background-color: var(--high-contrast) !important;
}

.slider-container > input:hover::-webkit-slider-thumb, .slider-container > input:hover::-moz-slider-thumb
{
	background-color: var(--high-contrast) !important;
}

.slider-container p
{
	text-align: center;
	margin-bottom: 0 !important;
	width: 100% !important;
}

.slider-container > label
{
	z-index: 5;
	width: 100% !important;
	margin-top: 4px;
}

.slider-subtext
{
	white-space: nowrap;
}

.slider-subtext span
{
	font-family: Menlo, Monaco, Consolas, monospace;
}



.dropdown-container
{
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	
	margin-top: 32px;
}

select
{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	display: none;
	
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	
	z-index: 20;
	
	cursor: pointer;
	outline: none;
}

option
{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}





@media (min-aspect-ratio: 1/1), (max-width: 1000px)
{
	.text-boxes, .text-buttons, .sliders, .checkboxes
	{
		width: 100%;
	}
}



.carousel
{
	width: min(500px, 100%);
	margin: 0 auto;
	margin-top: 32px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.carousel-content
{
	width: 100%;
}

.carousel-entry:not(:first-child)
{
	display: none;
	opacity: 0;
}

.carousel-dots
{
	display: flex;
	align-items: center;
	margin-top: 16px;
}

.carousel-dot
{
	width: 8px;
	height: 8px;
	border-radius: 8px;
	border: 2px solid var(--low-contrast);

	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.carousel-dot:not(:first-child)
{
	margin-left: 4px;
}

.carousel-dot:not(.active)
{
	cursor: pointer;
}

.carousel-dot:not(.active).hover
{
	background-color: var(--low-contrast);
}

@media (prefers-contrast: more)
{
	.carousel-dot:not(.active).hover
	{
		outline: 2px solid var(--high-contrast);
	}
}

.carousel-dot .fill
{
	opacity: 0;
	width: 8px;
	height: 8px;
	margin-left: -2px;
	margin-right: -2px;
	border-radius: 4px;
	background-color: var(--low-contrast);
}



#header-container
{
	position: fixed;
	top: -50vh;
	left: -50vw;
	
	height: calc(40px + 50vh);
	width: calc(100% + 100vw);
	
	background-color: var(--background);
	box-shadow: 0px 0px 16px calc(var(--theme) * 8px) rgba(0, 0, 0, calc(.15 + var(--theme) * .15));
	
	z-index: 105;
	
	transform-origin: 50% calc(40px + 100vh);
	transform: scale(1);
}

@media (prefers-contrast: more)
{
	#header-container
	{
		outline: 2px solid var(--high-contrast);
	}
}



#header
{
	position: fixed;
	top: 0;
	left: 0;
	
	height: 40px;
	
	width: 100%;
	
	z-index: 110;
	
	transform-origin: 50% 50vh;
}



#header-logo
{
	position: absolute;
	top: 5px;
	left: 5px;
	
	padding: 2.5px;
	border-radius: 5px;
	
	height: calc(100% - 15px);
	width: fit-content;
	
	display: flex;
	align-items: center;
	
	cursor: pointer;
}

#header-logo img
{
	height: 100%;
	filter: invert(var(--theme));
}

#header-logo span
{
	color: var(--high-contrast);
	padding-left: 5px;
}

#header-logo.hover
{
	background-color: rgb(224, 224, 224);
}

@media (prefers-contrast: more)
{
	#header-logo.hover
	{
		outline: 2px solid var(--high-contrast);
	}
}

#header-logo.hover span
{
	color: rgb(0, 0, 0);
}

#header-logo.hover img
{
	filter: invert(0);
}



#header-links
{
	margin: 0 auto;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: fit-content;
}

#header-links a
{
	padding: 5px;
	border-radius: 5px;
	
	margin-left: 2.5px;
	margin-right: 2.5px;
	margin-top: 5px;
	margin-bottom: 5px;
	
	cursor: pointer;
	
	transition: none;
	
	height: calc(100% - 20px);
	
	display: flex;
	align-items: center;
	justify-content: center;
}

#header-links a span
{
	color: var(--high-contrast);
}

#header-links a img
{
	height: 100%;
	display: none;
	filter: invert(var(--theme));
}

#header-links a.hover span
{
	color: rgb(0, 0, 0);
}

#header-links a.hover img
{
	filter: invert(0);
}

@media (prefers-contrast: more)
{
	#header-links a.hover
	{
		outline: 2px solid var(--high-contrast);
	}
}

#header-gallery-link.hover
{
	background-color: var(--gallery-color);
}

#header-applets-link.hover
{
	background-color: var(--applets-color);
}

#header-teaching-link.hover
{
	background-color: var(--teaching-color);
}

#header-slides-link.hover
{
	background-color: var(--slides-color);
}

#header-writing-link.hover
{
	background-color: var(--writing-color);
}

#header-about-link.hover
{
	background-color: var(--about-color);
}

#header-theme-button
{
	position: absolute;
	top: 5px;
	right: 5px;

	aspect-ratio: 1;
	
	padding: 6px;
	border-radius: 5px;
	
	height: calc(100% - 22px);
	width: fit-content;
	
	display: flex;
	align-items: center;
	
	cursor: pointer;
}

#header-theme-button.hover
{
	background-color: rgb(224, 224, 224);
}

@media (prefers-contrast: more)
{
	#header-theme-button.hover
	{
		outline: 2px solid var(--high-contrast);
	}
}

#header-theme-button input
{
	height: 100%;
	
	filter: invert(var(--theme));
}

#header-theme-button.hover input
{
	filter: invert(0);
}



@media (max-width: 700px)
{
	#header-logo span
	{
		display: none;
	}
}

@media (max-width: 500px)
{
	#header-links a span
	{
		display: none;
	}

	#header-links a img
	{
		display: block;
	}

	#header-logo, #header-links a, #header-theme-button
	{
		/* Wrap around the little image link glyphs nicely. */
		border-radius: 7.5px;
	}
	
	#header-links a
	{
		padding: 2.5px;
		height: calc(100% - 15px);
	}
}

@media (max-width: 300px)
{
	#header
	{
		height: 30px;
	}

	#header-container
	{
		height: calc(30px + 50vh);
		transform-origin: 50% calc(30px + 100vh);
	}
}

@media (max-width: 200px)
{
	#header
	{
		height: 20px;
	}

	#header-container
	{
		height: calc(20px + 50vh);
		transform-origin: 50% calc(20px + 100vh);
	}
}



/* The minimum allowable size for an image link is 150x150 px. */

.image-links
{
	display: grid;
	
	row-gap: 20px;
	column-gap: 20px;
	grid-template-columns: repeat(6, 1fr);
	justify-content: center;
	
	max-width: var(--page-width);
	margin: 0 auto;
	
	margin-top: 48px;
}

@media (max-width: 1063px)
{
	.image-links
	{
		grid-template-columns: repeat(5, 1fr);
	}
}

@media (max-width: 893px)
{
	.image-links
	{
		grid-template-columns: repeat(4, 1fr);
		row-gap: 15px;
		column-gap: 15px;
	}
}

@media (max-width: 708px)
{
	.image-links
	{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 543px)
{
	.image-links
	{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 350px)
{
	.image-link-subtext
	{
		font-size: 90% !important;
	}
}

@media (max-width: 291px)
{
	.image-links
	{
		grid-template-columns: repeat(1, 1fr);
	}

	.image-link-subtext
	{
		font-size: 100% !important;
	}
}

.one-image-link
{
	grid-template-columns: repeat(1, 1fr);
}

.image-link
{
	width: 100%;
	
	border-radius: 10%;
}

.image-link img
{
	width: 100%;
	aspect-ratio: 1;
	
	border-radius: 10%;
	
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .16);
}

@media (prefers-contrast: more)
{
	.image-link img
	{
		outline: var(--high-contrast) solid 2px;
	}
}

.image-link img:not(:hover):focus
{
	transform: scale(1.05);
	outline: none;
}

.one-image-link .image-link
{
	margin: 0 auto;
}

.image-link-subtext
{
	margin-top: 5px;
	width: calc(100% + 10px);
	margin-left: -5px;
	
	
	color: var(--normal-contrast);
	text-align: center;
	font-size: 100%;
}



img[src="/gallery/cover.webp"]
{
	background-color: var(--gallery-color);
}

img[src="/applets/cover.webp"]
{
	background-color: var(--applets-color);
}

img[src="/teaching/cover.webp"]
{
	background-color: var(--teaching-color);
}

img[src="/slides/cover.webp"]
{
	background-color: var(--slides-color);
}

img[src="/writing/cover.webp"]
{
	background-color: var(--writing-color);
}

img[src="/about/cover.webp"]
{
	background-color: var(--about-color);
}



.desmos-border
{
	margin: 0 auto;
	
	border: 2px solid var(--normal-contrast);
	border-radius: 16px;
	padding: 2px;
	
	margin-top: 32px;
	margin-bottom: 32px;
}

.desmos-container
{
	border-radius: 12px;
}

.dcg-container
{
	border-radius: 12px !important;
}

.desmos-border, .desmos-container, .dcg-container
{
	width: min(min(calc(var(--text-width) - 8px), calc(90vw - 8px)), calc(50vh - 8px)) !important;
}

.desmos-border:not(.canvas-container), .desmos-container:not(.canvas-container), .dcg-container:not(.canvas-container)
{
	height: min(min(calc(var(--text-width) - 8px), calc(90vw - 8px)), calc(50vh - 8px)) !important;
}

.notes-environment .desmos-border, .notes-environment .desmos-container, .notes-environment .dcg-container
{
	width: min(min(calc(var(--text-width) - 20px), calc(90vw - 20px)), calc(50vh - 20px)) !important;
}

.notes-environment .desmos-border:not(.canvas-container), .notes-environment .desmos-container:not(.canvas-container), .notes-environment .dcg-container:not(.canvas-container)
{
	height: min(min(calc(var(--text-width) - 20px), calc(90vw - 20px)), calc(50vh - 20px)) !important;
}


.notes-images
{
	display: flex;
	justify-content: center;
	margin: 0 auto;
	flex-wrap: wrap;
	column-gap: 16px;
	max-width: min(var(--text-width), 100%);
}

.notes-image
{
	max-width: min(var(--text-width), 100%);
	max-height: 30vh;
	border-radius: 16px;
	margin-bottom: 16px;
}

@media (max-width: 500px)
{
	.notes-image
	{
		border-radius: 8px;
	}
}



.notes-environment
{
	max-width: calc(var(--text-width) - 12px);
	margin: 0 auto;
	margin-bottom: 16px;
	border-width: 0 0 0 4px;
	border-style: solid;
	padding: 0 0 0 8px;
}

.notes-environment .body-text
{
	width: 100% !important;
}

.notes-def
{
	border-color: rgb(3.06% 54.29% 4.56%);
	border-color: lch(50% 70 135);
}

.notes-ex
{
	border-color: rgb(46.63% 46.63% 46.63%);
	border-color: lch(50% 0 0);
}

.notes-exc
{
	border-color: rgb(0% 49.83% 75.18%);
	border-color: lch(50% 45 255);
}

.notes-prop, .notes-thm
{
	border-color: rgb(71.78% 36.54% 0%);
	border-color: lch(50% 70 60);
}

.notes-pf
{
	border-color: rgb(55.46% 29.75% 77.56%);
	border-color: lch(45% 70 310);
}

.notes-cor
{
	border-color: rgb(9.81% 30.27% 72.48%);
	border-color: lch(35% 65 285);
}

.notes-lem
{
	border-color: rgb(71.64% 53.3% 0%);
	border-color: lch(60% 100 80);
}

.notes-ax
{
	border-color: rgb(73.89% 0% 1.62%);
	border-color: lch(40% 90 40);
}

.notes-as
{
	border-color: rgb(87.18% 41.03% 57.63%);
	border-color: lch(60% 50 360);
}



.notes-environment br:last-child
{
	display: none;
}



.notes-title
{
	color: rgb(255, 255, 255);
	font-weight: bold;
	
	border-radius: 6px;
	padding: 3px 6px 3px 6px;
	margin-bottom: 16px;
	
	width: fit-content;
	
	text-align: left !important;
}

.notes-def-title
{
	background-color: rgb(3.06% 54.29% 4.56%);
	background-color: lch(50% 70 135);
}

.notes-ex-title
{
	background-color: rgb(46.63% 46.63% 46.63%);
	background-color: lch(50% 0 0);
}

.notes-exc-title
{
	background-color: rgb(0% 49.83% 75.18%);
	background-color: lch(50% 45 255);
}

.notes-prop-title, .notes-thm-title
{
	background-color: rgb(71.78% 36.54% 0%);
	background-color: lch(50% 70 60);
}

.notes-pf-title
{
	background-color: rgb(55.46% 29.75% 77.56%);
	background-color: lch(45% 70 310);
}

.notes-cor-title
{
	background-color: rgb(9.81% 30.27% 72.48%);
	background-color: lch(35% 65 285);
}

.notes-lem-title
{
	background-color: rgb(71.64% 53.3% 0%);
	background-color: lch(60% 100 80);
}

.notes-ax-title
{
	background-color: rgb(73.89% 0% 1.62%);
	background-color: lch(40% 90 40);
}

.notes-as-title
{
	background-color: rgb(87.18% 41.03% 57.63%);
	background-color: lch(60% 50 360);
}