/* Provides support for the various kinds of text, the logo, and the footer. */

:root
{
	--theme: 0;

	--background-component: calc(255 + (var(--theme) * (24 - 255)));
	--background: rgb(var(--background-component), var(--background-component), var(--background-component));

	/* E.g. section text */
	--high-contrast-component: calc(0 + (var(--theme) * 255));
	--high-contrast: rgb(var(--high-contrast-component), var(--high-contrast-component), var(--high-contrast-component));

	/* E.g. heading text */
	--normal-contrast-component: calc(64 + (var(--theme) * (208 - 64)));
	--normal-contrast: rgb(var(--normal-contrast-component), var(--normal-contrast-component), var(--normal-contrast-component));

	--neutral-hover-component: calc(208 + (var(--theme) * (64 - 208)));
	--neutral-hover: rgb(var(--neutral-hover-component), var(--neutral-hover-component), var(--neutral-hover-component));
}

html
{
	background-color: var(--background);

	font-size: 16px;
	font-family: "Rubik", sans-serif;
	
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	min-height: 100vh;
	
	overflow-x: hidden;
	overflow-y: scroll;
}

body
{
	margin: 0;
	padding: 0;
	
	overflow-x: hidden;
	
	-webkit-text-size-adjust: 100%;
}

.page
{
	overflow-x: hidden;
	width: 100%;
}



header
{
	margin-top: 80px;
	margin-bottom: 32px;
}

section
{
	margin-bottom: 128px;
}



a
{
	color: rgb(127, 192, 127);
	text-decoration: none;
	transition: color .125s ease-in-out;
	
	cursor: pointer;
}

a.hover
{
	color: rgb(192, 255, 192);
}

a:not(:hover):focus
{
	color: rgb(192, 255, 192);
	outline: none;
}

p, h1, h2
{
	margin: 0;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	
	font-weight: normal;
}

q
{
	font-style: italic;
}

q:before, q:after
{
	content: "";
}

dfn
{
	font-weight: bold;
	font-style: normal;
}

code
{
	font-family: Menlo, Monaco, Consolas, monospace;
}

pre code.highlightable
{
	position: relative;
	width: min(calc(90% - 24px), 900px);
	margin: 0 auto;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
}



img
{
	transform: translateZ(0);
	perspective: 1000;
	
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}



#logo, #logo-no-link
{
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

#logo img, #logo-no-link img
{
	position: absolute;
	width: 100px;
	height: 100px;
	
	border-radius: 50px;
};

#logo img:not(:hover):focus
{
	transform: scale(1.05);
	outline: none;
}



.heading-text, .section-text, .body-text, .song-lyrics
{
	position: relative;
	width: min(90%, 900px);
	margin: 0 auto;
	margin-bottom: 16px;
}

.heading-text
{
	font-size: 175%;
	color: var(--high-contrast);
	text-align: center;
}

.section-text
{
	font-size: 125%;
	color: var(--high-contrast);
	text-align: center;
}

.body-text
{
	font-size: 100%;
	color: var(--normal-contrast);
	text-align: justify;
	line-height: 1.55;
}



.body-text span
{
	display: inline-block;
	text-align: justify;
}

/* Centers body text, but only if it's a single line (not long enough to justify). */
.center-if-needed
{
	text-align: center !important;
}



/* Centers whatever's inside of it, no margins needed. For use when margin: 0 auto just won't work. */
.center-content
{
	display: flex;
	justify-content: center;
	margin: 0 auto;
}



/* Used on pages with nonstandard background colors to fade to the default. */
.background-transition
{
	transition: background-color .5s ease-in-out !important;
}



#MathJax_Message
{
	display: none !important;
}

mjx-container
{
	overflow-x: auto;
	overflow-y: hidden;
	margin: 0 !important;
}

.tex-holder
{
	background-color: var(--background);
	
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .2);
	
	max-width: calc(100% - 16px);
}

.tex-holder.hover
{
	box-shadow: 0px 0px 16px calc(var(--theme) * 4px) rgba(0, 0, 0, calc(.2 + (var(--theme) * (1 - .2))));
}

.tex-holder.active
{
	cursor: pointer;
	
	transition: box-shadow .1s ease-out;
}

.tex-holder textarea
{
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
}

.bad-math
{
	color: rgb(255, 127, 0);
}



#card-container
{
	position: fixed;
	top: 0;
	left: 0;
	
	width: 100%;
	
	/* This is to make the scale animations look just a little nicer. */
	height: calc(100% * 1.1);
	
	/* For some reason this needs to be in terms of vh or Chrome starts changing it wrt width. */
	margin-top: calc(-100vh * .05);
	
	z-index: 1000;
	
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
}

#card-container::-webkit-scrollbar
{
	display: none;
}

.card
{
	display: none;
	
	position: relative;
	
	opacity: 1;
	
	width: min(900px, 100% - 64px);
	padding: 16px;
	
	margin-left: 16px;
	margin-right: 16px;
	
	margin-top: calc(16px + 100vh * .05);
	margin-bottom: calc(16px + 100vh * .05);
	
	border-radius: 16px;
	
	background-color: var(--background);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .3);
}

.card .body-text, .card .section-text, .card .heading-text
{
	width: 100% !important;
	
	text-align: left;
}

.card .body-text.numbered-list-item
{
	margin-top: 48px;
}

.card .heading-text
{
	/* Makes things look just a little nicer. */
	
	margin-top: -4.5px;
	width: calc(100% - 50px) !important;
	margin-left: 0;
}

.card > *:last-child
{
	margin-bottom: 0;
}

#card-container .card
{
	display: block;
}

#card-close-button
{
	position: absolute;
	
	top: 0;
	right: 0;
	
	font-size: 32px;
	color: var(--high-contrast);
	
	cursor: pointer;
	
	border-radius: 10px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: var(--background);
	
	width: 38px;
	
	margin: 6px;
	
	z-index: 1001;
}

#card-close-button.hover
{
	background-color: var(--neutral-hover);
}

#card-close-button span
{
	margin-top: -1.35px;
	margin-bottom: 1.35px;
}



*:focus
{
	outline: none;
}

.output-canvas
{
	width: calc(100% - 8px) !important;
	height: auto;
	
	border: 2px solid var(--normal-contrast);
	border-radius: 15px;
	padding: 2px;
	
	transition: opacity .25s ease-in-out, border-color .25s ease-in-out;
}

.hidden-canvas
{
	position: fixed;
	left: -200vw;
	width: 10px;
	height: 10px;
}



.applet-progress-bar
{
	width: 100% !important;
	transition: opacity .25s ease-in-out, margin-top .25s ease-in-out, margin-bottom .25s ease-in-out;
}



.wilson-output-canvas-container
{
	width: 100% !important;
}

.wilson-applet-canvas-container
{
	margin-top: 32px !important;
	margin-bottom: 0 !important;
	line-height: 0 !important;
}

.wilson-applet-canvas-container.black-background
{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}



#canvas-landscape
{
	display: flex;
	flex-direction: column;
	
	width: 100%;
	
	justify-content: space-between;
	
	align-items: center;
}

#canvas-landscape-left, #canvas-landscape-middle, #canvas-landscape-right
{
	width: 80%;
}

.desmos-border .output-canvas
{
	border: none;
	padding: 0;
	border-radius: 11px;
	width: 100% !important;
}

.desmos-border .wilson-applet-canvas-container
{
	margin-top: 0 !important;
}

.desmos-border .wilson-enter-fullscreen-button
{
	right: 4px;
	top: 4px;
}



@media (min-aspect-ratio: 1/1)
{
	
	#canvas-landscape
	{
		flex-direction: row;
	}
	
	#canvas-landscape-left, #canvas-landscape-middle, #canvas-landscape-right
	{
		width: 33.33%;
	}
	
	#canvas-landscape-left .body-text, #canvas-landscape-left .section-text, #canvas-landscape-middle .body-text, #canvas-landscape-middle .section-text, #canvas-landscape-right .body-text, #canvas-landscape-right .section-text
	{
		width: 70%;
	}
}

/* Provides suppport for full-page, parallax banners at the top of the page, complete with scroll buttons. */

#banner, #banner-small, #banner-large
{
	position: fixed;
	width: calc(100vw + 75px);
	height: calc(100vh + 75px);
	
	left: -25px;
	
	background: url("") no-repeat center center;
	background-size: cover;
	
	/* Some magic that prevents the banner from abruptly resizing on mobile devices on which the size of the url bar changes on scroll. */
	transform: translate3d(0, 0, 0);
}

#banner-small
{
	z-index: 10;
}

#banner-large
{
	z-index: 5;
}



#banner-cover
{
	height: 60vh;
	position: absolute;
}

#new-banner-cover
{
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	z-index: 20;
}



#scroll-button
{
	color: var(--high-contrast);
	background-color: rgb(255, 255, 255);
	width: 20px;
	position: relative;
	margin-bottom: 0;
	
	align-self: flex-end;

	border: 2px solid var(--normal-contrast);
	border-radius: 10px;
	padding: 10px;
	
	margin-bottom: -25vh;

	cursor: default;
	
	outline: none;
}



#content
{
	background: rgba(0, 0, 0, 0);
	position: relative;
	margin: 0 auto;
	margin-top: 60vh;
	
	opacity: 0;
	
	width: 100%;
}


/* Adds support for text buttons and text boxes. */



.text-boxes, .text-buttons, .sliders
{
	position: relative;
	display: grid;
	
	justify-content: center;
	align-items: center;
	
	width: 70%;
	margin: 0 auto;
}

.text-boxes, .text-buttons, .sliders
{
	grid-template-columns: repeat(auto-fit, 100px);
	
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	
	margin-top: 32px;
}

.text-boxes
{
	align-items: start;
}

.nav-buttons:first-of-type
{
	margin-top: 0;
	
	margin-bottom: 32px;
}





.text-button
{
	color: var(--normal-contrast);
	background-color: var(--background-color);
	width: fit-content;
	display: inline-block;
	margin: auto;
	position: relative;
	
	text-align: center;
	font-size: 100%;

	border: 2px solid var(--normal-contrast);
	border-radius: 10px;
	padding: 10px;
	
	cursor: pointer;
	outline: none;
	
	z-index: 10;
}

.text-button:not(:hover):focus
{
	transform: scale(1.075);
	outline: none;
}

.text-button.dropdown
{
	border-radius: 100px;
	
	white-space: pre;
}



.checkbox-row
{
	width: 70%;
	height: 32px;
	margin: 0 auto;
	
	margin-top: 32px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.checkbox-row p
{
	width: auto;
	text-align: left;
}

.checkbox-subtext
{
	margin-bottom: 0 !important;
	width: 100% !important;
}



.checkbox-container
{
	position: relative;
	
	width: 24px;
	height: 24px;
	
	border: 2px solid var(--normal-contrast);
	border-radius: 6px;
	padding: 2px;
}

.checkbox-container:not(:hover):focus
{
	transform: scale(1.1);
	
	outline: none;
}





.checkbox-container > input
{
	position: absolute;
	
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	
	margin: 0;
	
	opacity: 0;
	
	cursor: pointer;
	
	transition: width .125s ease-in-out, height .125s ease-in-out;
}

.checkbox-container > input ~ .checkbox
{
	width: 100%;
	height: 100%;
	
	border-radius: 2px;
	
	background: var(--background); 
	
	cursor: pointer;
	
	transition: background-color .125s ease-in-out, width .125s ease-in-out, height .125s ease-in-out;
}

.checkbox-container > input:checked ~ .checkbox
{
	background-color: var(--normal-contrast);
}


.text-box
{
	width: 100%;
	
	border: none;
	border-radius: 0;
	border-bottom: 2px solid var(--normal-contrast);
	outline: none;
	background-color: var(--background);
	box-sizing: border-box;
	
	color: var(--normal-contrast);
	font-size: 100%;
	text-align: center;
	
	transition: border-color .25s ease-out, color .25s ease-out;
}

.text-box:focus
{
	border-color: var(--high-contrast);
	color: var(--high-contrast);
}

.text-box-container
{
	width: 100px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text-box-subtext
{
	width: 100% !important;
	height: fit-content;
	
	margin-bottom: 0 !important;
	
	text-align: center !important;
}

.text-box-subtext span
{
	transition: color .25s ease-out;
}

.text-box-container.capped-input .text-box
{
	border-bottom: 2px solid rgb(192, 0, 0) !important;
	color: rgb(192, 0, 0) !important;
}

.text-box-container.capped-input .text-box-subtext span
{
	color: rgb(192, 0, 0) !important;
	cursor: pointer;
}

.text-box-subtext .triangle
{
	width: 0;
	padding-left: 0;
	opacity: 0;
	
	font-size: 12px;
	
	transition: width .25s ease-out, opacity .25s ease-out, padding .25s ease-out, color .25s ease-out;
}

.text-box-container.capped-input .body-text .triangle
{
	width: 12px;
	padding-left: 2px;
	opacity: 1;
}

.input-cap-dialog
{
	max-width: min(360px, calc(100vw - 48px));
	background-color: var(--background);
	color: var(--normal-contrast);
	text-align: justify;
	
	padding: 12px;
	padding-top: 10px;
	border-radius: 12px;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .4);
	position: absolute;
	z-index: 100;
}

.input-cap-dialog .checkbox-row
{
	margin-top: 16px !important;
}



.text-boxes .text-box-container, .text-buttons .text-button
{
	width: 100%;
}



.text-field
{
	width: 100%;
	
	border: 2px solid var(--normal-contrast);
	border-radius: 10px;
	padding: 10px;
	outline: none;
	background-color: var(--background);
	box-sizing: border-box;
	-webkit-appearance: none;
	
	margin-left: 16px;
	margin-right: 16px;
	
	color: var(--normal-contrast);
	font-size: 100%;
	
	transition: border-color .25s ease-in-out, color .25s ease-in-out;
}

.text-field:focus
{
	border-color: var(--high-contrast);
	color: var(--high-contrast);
}

.text-field-container
{
	width: 300px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin: 0 auto;
	
	margin-top: 32px;
}

.text-field-container p
{
	width: 70%;
	margin-bottom: 0 !important;
}





.slider-container
{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-top: 32px;
}

.slider-container > input
{
	-webkit-appearance: none;
	appearance: none;
	
	-webkit-user-select: none;
	user-select: none;
	
	width: calc(100% + 1px);
	height: 3px;
	
	border-radius: 1.5px;
	
	margin-left: -1px;
	
	background-color: var(--normal-contrast) !important;
	outline: none;
	box-shadow: none;
	
	z-index: 10;
	
	transition: background-color .125s ease-in-out;
}

.slider-container > input::-webkit-slider-thumb, .slider-container > input::-moz-slider-thumb
{
	-webkit-appearance: none;
	appearance: none;
	
	-webkit-user-select: none;
	user-select: none;
	box-shadow: none;
	
	width: 20px;
	height: 20px;
	background-color: var(--high-contrast) !important;
	
	border-radius: 50%;
	
	cursor: pointer;
	
	transition: background-color .125s ease-in-out;
}

.slider-container > input:active, .slider-container > input:active::-webkit-slider-thumb, .slider-container > input:active::-moz-slider-thumb
{
	background-color: var(--high-contrast) !important;
}

.slider-container > input:hover::-webkit-slider-thumb, .slider-container > input:hover::-moz-slider-thumb
{
	background-color: var(--high-contrast) !important;
}

.slider-container p
{
	text-align: center;
	margin-bottom: 0 !important;
}

.slider-container > label
{
	z-index: 5;
}



.dropdown-container
{
	position: relative;
	
	margin-top: 32px;
}

select
{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	width: 100%;
	height: 100%;
	
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	
	z-index: 20;
	
	cursor: pointer;
	outline: none;
}

option
{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}





@media (min-aspect-ratio: 1/1), (max-width: 900px)
{
	.text-boxes, .text-buttons, .sliders
	{
		width: 90%;
	}
}


#header-container
{
	position: fixed;
	top: -50vh;
	left: -50vw;
	
	height: calc(40px + 50vh);
	width: calc(100% + 100vw);
	
	background-color: var(--background);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .15);
	
	z-index: 105;
	
	transform-origin: 50% calc(40px + 100vh);
	transform: scale(1);
}



#header
{
	position: fixed;
	top: 0;
	left: 0;
	
	height: 40px;
	
	width: 100%;
	
	z-index: 110;
	
	transform-origin: 50% 50vh;
}



#header-logo
{
	position: absolute;
	top: 5px;
	left: 5px;
	
	padding: 2.5px;
	border-radius: 5px;
	
	height: calc(100% - 15px);
	width: fit-content;
	
	display: flex;
	align-items: center;
	
	cursor: pointer;
}

#header-logo img
{
	height: 100%;
	filter: invert(var(--theme));
}

#header-logo span
{
	color: var(--high-contrast);
	padding-left: 5px;
}

#header-logo.hover
{
	background-color: rgb(224, 224, 224);
}

#header-logo.hover span
{
	color: rgb(0, 0, 0);
}

#header-logo.hover img
{
	filter: invert(0);
}



#header-links
{
	margin: 0 auto;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: fit-content;
}

#header-links a
{
	padding: 5px;
	border-radius: 5px;
	
	margin-left: 2.5px;
	margin-right: 2.5px;
	margin-top: 5px;
	margin-bottom: 5px;
	
	cursor: pointer;
	
	transition: none;
	
	height: calc(100% - 20px);
	
	display: flex;
	align-items: center;
	justify-content: center;
}

#header-links a span
{
	color: var(--high-contrast);
}

#header-links a img
{
	height: 100%;
	display: none;
	filter: invert(var(--theme));
}

#header-links a.hover span
{
	color: rgb(0, 0, 0);
}

#header-links a.hover img
{
	filter: invert(0);
}

#header-gallery-link.hover
{
	background-color: rgb(74.84% 93.59% 73.79%);
	background-color: lch(90% 30 140);
}

#header-applets-link.hover
{
	background-color: rgb(100% 81.25% 82.79%);
	background-color: lch(87.5% 32.5 15);
}

#header-teaching-link.hover
{
	background-color: rgb(96.61% 88.19% 58.38%);
	background-color: lch(95% 35 90);
}

#header-slides-link.hover
{
	background-color: rgb(91.32% 86.89% 100%);
	background-color: lch(90% 32.5 300);
}

#header-writing-link.hover
{
	background-color: rgb(80.89% 90.01% 100%);
	background-color: lch(90% 20 255);
}

#header-about-link.hover
{
	background-color: rgb(88.76% 88.76% 88.76%);
	background-color: lch(90% 0 0);
}

#header-theme-button
{
	position: absolute;
	top: 5px;
	right: 5px;

	aspect-ratio: 1;
	
	padding: 6px;
	border-radius: 5px;
	
	height: calc(100% - 22px);
	width: fit-content;
	
	display: flex;
	align-items: center;
	
	cursor: pointer;
}

#header-theme-button.hover
{
	background-color: rgb(224, 224, 224);
}

#header-theme-button input
{
	height: 100%;
	
	filter: invert(var(--theme));
}

#header-theme-button.hover input
{
	filter: invert(0);
}



@media (max-width: 700px)
{
	#header-logo span
	{
		display: none;
	}
}

@media (max-width: 500px)
{
	#header-links a span
	{
		display: none;
	}

	#header-links a img
	{
		display: block;
	}

	#header-logo, #header-links a, #header-theme-button
	{
		/* Wrap around the little image link glyphs nicely. */
		border-radius: 7.5px;
	}
	
	#header-links a
	{
		padding: 2.5px;
		height: calc(100% - 15px);
	}
}

@media (max-width: 300px)
{
	#header
	{
		height: 30px;
	}

	#header-container
	{
		height: calc(30px + 50vh);
		transform-origin: 50% calc(30px + 100vh);
	}
}

@media (max-width: 200px)
{
	#header
	{
		height: 20px;
	}

	#header-container
	{
		height: calc(20px + 50vh);
		transform-origin: 50% calc(20px + 100vh);
	}
}

/* Adds support for image links, the main form of navigation on the site. */



.image-links
{
	display: grid;
	
	grid-row-gap: 18px;
	grid-column-gap: 30px;
	grid-template-columns: repeat(5, 1fr);
	justify-content: center;
	
	width: min(900px, 90vw);
	margin: 0 auto;
	
	margin-top: 48px;
}

.image-link
{
	width: 100%;
	
	border-radius: 10%;
}

.image-link img
{
	width: 100%;
	aspect-ratio: 1;
	
	border-radius: 10%;
	
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .16);
}

.image-link img:not(:hover):focus
{
	transform: scale(1.05);
	outline: none;
}

.image-link-subtext
{
	margin-top: 10px;
	width: calc(100% + 10px);
	margin-left: -5px;
	
	
	color: var(--normal-contrast);
	text-align: center;
	font-size: 100%;
}



img[src="/gallery/cover.webp"]
{
	background-color: rgb(74.84% 93.59% 73.79%);
	background-color: lch(90% 30 140);
}

img[src="/applets/cover.webp"]
{
	background-color: rgb(100% 81.25% 82.79%);
	background-color: lch(87.5% 32.5 15);
}

img[src="/teaching/cover.webp"]
{
	background-color: rgb(96.61% 88.19% 58.38%);
	background-color: lch(95% 35 90);
}

img[src="/slides/cover.webp"]
{
	background-color: rgb(91.32% 86.89% 100%);
	background-color: lch(90% 32.5 300);
}

img[src="/writing/cover.webp"]
{
	background-color: rgb(80.89% 90.01% 100%);
	background-color: lch(90% 20 255);
}

img[src="/about/cover.webp"]
{
	background-color: rgb(88.76% 88.76% 88.76%);
	background-color: lch(90% 0 0);
}



@media (max-width: 967px)
{
	.image-links
	{
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 776px)
{
	.image-links
	{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 574px)
{
	.image-links
	{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 330px)
{
	.image-links
	{
		grid-template-columns: repeat(1, 200px);
	}
}

@media (max-width: 222px)
{
	.image-links
	{
		grid-template-columns: repeat(1, 1fr);
	}
	
	.image-link-subtext
	{
		font-size: 75%;
	}
}

.desmos-border
{
	margin: 0 auto;
	
	border: 2px solid var(--normal-contrast);
	border-radius: 15px;
	padding: 2px;
	
	margin-top: 32px;
	margin-bottom: 32px;
}

.desmos-container
{
	border-radius: 11px;
}

.dcg-container
{
	border-radius: 11px !important;
}

.desmos-border, .desmos-container, .dcg-container
{
	width: min(min(calc(900px - 4px), calc(90vw - 4px)), calc(50vh - 4px)) !important;
	height: min(min(calc(900px - 4px), calc(90vw - 4px)), calc(50vh - 4px)) !important;
}

.notes-environment .desmos-border, .notes-environment .desmos-container, .notes-environment .dcg-container
{
	width: min(min(calc(900px - 20px), calc(90vw - 20px)), calc(50vh - 20px)) !important;
	height: min(min(calc(900px - 20px), calc(90vw - 20px)), calc(50vh - 20px)) !important;
}



.notes-image
{
	width: min(min(calc(900px - 32px), calc(90vw - 32px)), calc(50vh - 32px)) !important;
	margin: 0 auto;
	border-radius: 15px;
	margin-bottom: 16px;
}



.notes-environment
{
	width: min(calc(900px - 12px), calc(90% - 12px)) !important;
	margin: 0 auto;
	margin-bottom: 16px;
	border-width: 0 0 0 4px;
	border-style: solid;
	padding: 0 0 0 8px;
}

.notes-environment .body-text
{
	width: 100% !important;
}

.notes-def
{
	border-color: rgb(3.06% 54.29% 4.56%);
	border-color: lch(50% 70 135);
}

.notes-ex
{
	border-color: rgb(46.63% 46.63% 46.63%);
	border-color: lch(50% 0 0);
}

.notes-exc
{
	border-color: rgb(0% 50.21% 72.47%);
	border-color: lch(50% 45 250);
}

.notes-prop, .notes-thm
{
	border-color: rgb(71.78% 36.54% 0%);
	border-color: lch(50% 70 60);
}

.notes-pf
{
	border-color: rgb(46.71% 12.58% 76.86%);
	border-color: lch(35% 90 310);
}

.notes-cor
{
	border-color: rgb(0% 3.81% 56.57%);
	border-color: lch(15% 85 300);
}

.notes-lem
{
	border-color: rgb(80.62% 64.82% 0%);
	border-color: lch(70% 75 85);
}

.notes-ax
{
	border-color: rgb(73.89% 0% 1.62%);
	border-color: lch(40% 90 40);
}

.notes-as
{
	border-color: rgb(87.18% 41.03% 57.63%);
	border-color: lch(60% 50 360);
}



.notes-environment br:last-child
{
	display: none;
}



.notes-ex-title, .notes-exc-title, .notes-def-title, .notes-prop-title, .notes-thm-title, .notes-pf-title, .notes-cor-title, .notes-lem-title, .notes-ax-title, .notes-as-title
{
	color: rgb(255, 255, 255);
	
	border-radius: 5px;
	padding: 0px 6px 0px 6px;
	
	font-weight: bold;
	font-style: normal;
	
	text-align: left !important;
}

.notes-def-title
{
	background-color: rgb(3.06% 54.29% 4.56%);
	background-color: lch(50% 70 135);
}

.notes-ex-title
{
	background-color: rgb(46.63% 46.63% 46.63%);
	background-color: lch(50% 0 0);
}

.notes-exc-title
{
	background-color: rgb(0% 50.21% 72.47%);
	background-color: lch(50% 45 250);
}

.notes-prop-title, .notes-thm-title
{
	background-color: rgb(71.78% 36.54% 0%);
	background-color: lch(50% 70 60);
}

.notes-pf-title
{
	background-color: rgb(46.71% 12.58% 76.86%);
	background-color: lch(35% 90 310);
}

.notes-cor-title
{
	background-color: rgb(0% 3.81% 56.57%);
	background-color: lch(15% 85 300);
}

.notes-lem-title
{
	background-color: rgb(80.62% 64.82% 0%);
	background-color: lch(70% 75 85);
}

.notes-ax-title
{
	background-color: rgb(73.89% 0% 1.62%);
	background-color: lch(40% 90 40);
}

.notes-as-title
{
	background-color: rgb(87.18% 41.03% 57.63%);
	background-color: lch(60% 50 360);
}