html
{
	font-family: "Rubik", sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	
	background-color: rgb(24, 24, 24);
	
	/* This fixes an incompatibility between Lapsa and the site. */
	overflow-x: visible !important;
	min-height: unset !important;
}

body
{
	-webkit-text-size-adjust: 100%;
	/* This fixes an incompatibility between Lapsa and the site. */
	overflow-x: visible !important;
	margin: unset !important;
	padding: unset !important;
}


.lapsa-slide
{
	background-color: rgb(0, 0, 0);

	box-shadow: none !important;
	
	border: .25vw solid rgb(127, 127, 127) !important;
}

.lapsa-slide h1, .lapsa-slide h2
{
	color: rgb(255, 255, 255) !important;
}

.lapsa-slide p
{
	color: rgb(192, 192, 192) !important;
}

.lapsa-slide p dfn
{
	color: rgb(224, 224, 224) !important;
}

#lapsa-slide-container.lapsa-hover.lapsa-table-view .lapsa-slide:hover
{
	box-shadow: 0px 0px 2vw 0px rgb(127, 127, 127) !important;
}

.wilson-enter-fullscreen-button
{
	display: none;
}



.inline-image
{
	width: 3vw;
	margin-bottom: -.65vw;
	filter: invert(.75);
}



.left-text
{
	width: 45vw !important;
}



.lapsa-slide .wilson-applet-canvas-container
{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.lapsa-slide canvas
{
	border-radius: 3vw;
}

.medium-canvas canvas
{
	width: 45vw;
	height: 45vw;
}

.medium-canvas #canvas-bundle
{
	position: absolute;
	
	right: 0;
	bottom: 0;
}

.large-canvas canvas
{
	width: 40vw;
	height: 40vw;
}

.large-canvas #canvas-bundle
{
	position: absolute;
	
	left: 27.5vw;
	bottom: 2.5vw;
}

.lapsa-slide.full-canvas
{
	background-color: rgba(0, 0, 0, 0);
}

.lapsa-slide.full-canvas h1, .lapsa-slide.full-canvas h2, .lapsa-slide.full-canvas p
{
	color: rgb(255, 255, 255) !important;
	text-shadow: 0px 0px 2vw rgb(0, 0, 0);
}

.lapsa-slide.full-canvas .inline-image
{
	filter: invert(1) !important;
}

.full-canvas canvas
{
	width: 95vw;
	height: 55.625vw;
	border-radius: 0;
}

.full-canvas #canvas-bundle
{
	position: absolute;
	
	left: 0;
	top: 0;
}

.under-text #canvas-bundle
{
	z-index: -1;
}



@media (min-aspect-ratio: 152/89)
{
	.lapsa-slide
	{
		border: calc(.25 * var(--safe-vh) * 152 / 89) solid rgb(127, 127, 127) !important;
	}
	
	#lapsa-slide-container.lapsa-hover.lapsa-table-view .lapsa-slide:hover
	{
		box-shadow: 0px 0px calc(2 * var(--safe-vh) * 152 / 89) 0px rgb(127, 127, 127) !important;
	}
	
	.inline-image
	{
		width: calc(3 * var(--safe-vh) * 152 / 89);
		margin-bottom: calc(-.65 * var(--safe-vh) * 152 / 89);
	}

	.left-text
	{
		width: calc(45 * var(--safe-vh) * 152 / 89) !important;
	}

	.lapsa-slide canvas
	{
		border-radius: calc(3 * var(--safe-vh) * 152 / 89);
	}
	
	.medium-canvas canvas
	{
		width: calc(45 * var(--safe-vh) * 152 / 89);
		height: calc(45 * var(--safe-vh) * 152 / 89);
	}

	.large-canvas canvas
	{
		width: calc(40 * var(--safe-vh) * 152 / 89);
		height: calc(40 * var(--safe-vh) * 152 / 89);
	}

	.large-canvas #canvas-bundle
	{
		left: calc(27.5 * var(--safe-vh) * 152 / 89);
		bottom: calc(2.5 * var(--safe-vh) * 152 / 89);
	}
	
	.full-canvas canvas
	{
		width: calc(95 * var(--safe-vh) * 152 / 89);
		height: calc(55.625 * var(--safe-vh) * 152 / 89);

		border-radius: 0;
	}
}