/* Required for every page. Provides support for the various kinds of text, the logo, and the footer. */



html
{
	font-size: 16px;
	font-family: "Rubik", sans-serif;
	
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	min-height: 100vh;
	
	overflow-x: hidden;
	overflow-y: scroll;
}

body
{
	margin: 0;
	padding: 0;
	
	-webkit-text-size-adjust: 100%;
}

a
{
	color: rgb(127, 192, 127);
	text-decoration: none;
}

p, h1, h2
{
	margin: 0;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	
	font-weight: normal;
}

q
{
	font-style: italic;
}

q:before, q:after
{
	content: "";
}

dfn
{
	font-weight: bold;
	font-style: normal;
}

img
{
	transform: translateZ(0);
	perspective: 1000;
	
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}



.logo
{
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

.logo img
{
	position: absolute;
	width: 100px;
	height: 100px;
	
	transition: filter .15s ease-in-out;
	filter: brightness(100%);
}

.logo img:hover
{
	filter: brightness(75%);
}



.heading-text, .section-text, .body-text, .date-text, .song-lyrics
{
	position: relative;
	width: 70vw;
	margin: 0 auto;
}

.heading-text
{
	font-size: 175%;
	color: rgb(0, 0, 0);
	text-align: center;
}

.date-text
{
	font-size: 100%;
	color: rgb(0, 0, 0);
	text-align: center;
}

.section-text
{
	font-size: 125%;
	color: rgb(96, 96, 96);
	text-align: center;
}

.body-text
{
	font-size: 100%;
	color: rgb(127, 127, 127);
	text-align: justify;
}



/* Centers body text, but only if it's a single line (not long enough to justify). */
.center-if-needed
{
	text-align: center;
}

.body-text span
{
	display: inline-block;
	text-align: justify;
}



/* Centers whatever's inside of it, no margins needed. For use when margin: 0 auto just won't work. */
.center-content
{
	display: flex;
	justify-content: center;
	margin: 0 auto;
}



.foreign-language
{
	font-style: italic;
}



.footer-button
{
	width: 25px;
	
	align-self: flex-end;
	
	background-color: rgb(255, 255, 255);
	
	border: 2px solid rgb(127, 127, 127);
	border-radius: 50%;
	padding: 5px;
	
	transition: filter .15s ease-in-out;
	filter: brightness(100%);
	
	cursor: pointer;
	outline: none;
}

.footer-button:hover
{
	filter: brightness(75%);
}



.row:after
{
	content: "";
	display: table;
	clear: both;
}



.line-break
{
	margin: 0 auto;
	width: 70vw;
	height: 1px;
	
	background: -moz-linear-gradient(left, rgb(255,255,255) 0%, rgb(160,160,160) 50%, rgb(255,255,255) 100%);
	background: -webkit-linear-gradient(left, rgb(255,255,255) 0%,rgb(160,160,160) 50%,rgb(255,255,255) 100%);
	background: linear-gradient(to right, rgb(255,255,255) 0%,rgb(160,160,160) 50%,rgb(255,255,255) 100%);
}



.footer-image-links
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 56vw;
	margin: 0 auto;
	margin-bottom: 60px;
}

.footer-image-link
{
	position: relative;
	float: left;
	width: 8vw;
	height: 8vw;
	display: inline-block;
	
	border-radius: 10%;
}

.footer-image-link img
{
	position: absolute;
	width: 8vw;
	height: 8vw;
	
	border-radius: 10%;

	transition: filter .15s ease-in-out;
	filter: brightness(100%);
}

.footer-image-link img:hover
{
	filter: brightness(75%);
}



/* The area where the user can hover or tap to reveal the footer anywhere. */
.floating-footer
{
	position: fixed;
	bottom: 0;
	z-index: 100;
	
	display: none;
	
	opacity: 0;
	transition: opacity .3s ease-in-out;
}

.floating-footer-gradient
{
	height: 10vh;
	
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

.floating-footer-content
{
	background-color: rgb(255, 255, 255);
}

/* Some very weird shit going on right here */
.floating-footer-button-background
{
	height: 1px;
	background-color: rgb(255, 255, 255);
}



.floating-footer-touch-target
{
	position: fixed;
	bottom: 0;
	z-index: 110;
	
	height: 100px;
	width: 100vw;
}



/* Applied whenever things need an opacity animation. Usually a substitute for $().animate. */
.animated-opacity
{
	transition: opacity .3s ease-in-out;
}



/* Used on pages with nonstandard background colors to fade to the default. */
.background-transition
{
	transition: background-color .45s ease-in-out !important;
}



#disqus_thread
{
	width: 70vw;
	
	margin: 0 auto;
}



#MathJax_Message
{
	display: none !important;
}



@media screen and (min-width: 1000px)
{
	html
	{
		font-size: 18px;
	}
}



/* Compact layout: reduce margins. */
@media screen and (max-aspect-ratio: 9/16), (max-width: 700px)
{
	.heading-text, .section-text, .body-text, .date-text
	{
		width: 90vw;
	}
	
	#disqus_thread
	{
		width: 90vw;
	}
}