/* Provides support for a progress bar and fillable bubbles, both to indicate progress toward something. */



.stage-bubbles
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	
	width: 70vw;
	margin: 0 auto;
}

.stage-bubble
{
	width: 5vw;
	height: 5vw;
	
	margin: 0 auto;
	
	border: 2px solid rgb(152, 152, 152);
	border-radius: 7px;
	padding: 2px;
}

.stage-bubble span
{
	width: 0%;
	height: 0%;
	margin: 0 auto;
	position: relative;
	display: block;
	
	border-radius: 3px;
	
	background-color: rgb(152, 152, 152);
	overflow: hidden;
	
	transition: width 1.2s ease, height 1.2s ease, background-color 1.2s ease;
	
	top: 50%;
  	transform: translateY(-50%);
}

.stage-bubble-subtext
{
	width: 17.5vw;
	margin-left: -6.25vw;
	margin-top: calc(5vw + 1vh);
	text-align: center;
	
	transition: margin-top 1.2s ease;
}



.progress-bar
{
	width: calc(70vw - 8px);
	height: 5vh;
	margin: 0 auto;
	border: 2px solid rgb(152, 152, 152);
	
	border-radius: 7px;
	
	padding: 2px;
}

.progress-bar span
{
	width: 0%;
	position: relative;
	display: block;
	height: 100%;
	
	border-radius: 3px;
	
	background-color: rgb(152, 152, 152);
	overflow: hidden;
	
	transition: width 1.2s ease;
}



/* Compact layout: fit to the correct margins. */
@media screen and (max-aspect-ratio: 9/16), (max-width: 700px)
{
	.stage-bubbles
	{
		width: 90vw;
	}
	
	.stage-bubble
	{
		width: 10vw;
		height: 10vw;
	}
	
	.stage-bubble-subtext
	{
		margin-top: calc(10vw + 1vh);
		width: 25vw;
		margin-left: -7.5vw;
	}
	
	.progress-bar
	{
		width: calc(80vw - 8px);
	}
}



/* Ultrawide layout: put the stage bubbles on one line. */
@media screen and (min-aspect-ratio: 16/9), (min-width: 1400px)
{
	.stage-bubbles
	{
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
	
	.stage-bubble
	{
		width: 5vw;
		height: 5vw;
	}
	
	.stage-bubble-subtext
	{
		margin-top: calc(5vw + 1vh);
		width: 25vw;
		margin-left: -7.5vw;
	}
}