.asciidots-code
{
	font-family: "Source Code Pro", monospace;
	
	text-align: justify !important;
	
	font-size: 100%;
	
	font-weight: 1000;
	
	white-space: pre;
}

.red
{
	background-color: rgb(192, 0, 0);
}

.green
{
	background-color: rgb(0, 192, 0);
}

.blue
{
	background-color: rgb(0, 0, 192);
}