html
{
	transition: background-color .6s ease !important;
}

.title-text
{
	position: relative;
	width: 100vw;
	margin: 0 auto;
	
	color: rgb(255, 255, 255) !important;
	text-align: center;
	font-size: 450%;
	font-family: "Gentium Book Basic", serif;
	font-weight: normal;
	
	z-index: 10;
}

.synopsis-text
{
	position: relative;
	width: 50vw;
	margin: 0 auto;
	color: rgb(152, 152, 152);
	text-align: justify;
	font-size: 100%;
	font-family: 'Gentium Book Basic', serif;
}

.body-text
{
	color: rgb(152, 152, 152) !important;
}

#flame-container
{
	width: 50vh;
	height: 50vh;
	margin: 0 auto;
	
	opacity: 0;
}

#flame-container img
{
	position: absolute;
	width: 50vh;
}

#flame-cover
{
	position: absolute;
	width: 50vh;
	height: 50vh;
	
	background-color: rgb(0, 0, 0);
	
	z-index: 10;
	
	transition: height 1.2s ease-in-out;
}

#flame-gradient-container
{
	position: absolute;
	width: 50vh;
	height: 60vh;
	
	z-index: 10;
}

#flame-gradient
{
	width: 50vh;
	height: 10vh;
	
	background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
	
	transition: opacity .3s ease-in-out;
}

#flame-gradient-space
{
	height: 50vh;
	
	transition: height 1.2s ease-in-out;
}



@media (max-aspect-ratio: 1/1)
{
	#flame-container
	{
		width: 50vw;
		height: 50vw;
		margin-left: 25vw;
	}
	
	#flame-container img
	{
		width: 50vw;
		height: 50vw;
	}
	
	#flame-cover
	{
		width: 50vw;
		height: 50vw;
	}
	
	#flame-gradient-container
	{
		width: 50vw;
		height: 60vw;
	}
	
	#flame-gradient
	{
		width: 50vw;
		height: 10vw;
	}
	
	#flame-gradient-space
	{
		height: 50vw;
	}
}



@media (max-aspect-ratio: 9/16), (max-width: 700px)
{
	/* Make text have smaller margins so justifying doesn't look ugly. */
	.synopsis-text
	{
		width: 80vw;
	}
}