#earth-dark, #earth-light
{
	position: fixed;
	width: 90vh;
	left: calc(50vw - 45vh);
	top: 5vh;
	margin: 0 auto;
	opacity: 0;
	
	z-index: 10;
}



#spacer
{
	height: 200vh;
}



#container
{
	transition: opacity .6s ease !important;
}



.character-text-container
{
	position: fixed !important;
	
	transition: opacity .3s ease-in-out;
	
	z-index: 30;
}

.character-text-container .body-text
{
	width: 90vw !important;
	font-size: 150% !important;
	text-align: center !important;
	
	margin-left: 5vw;
	
	font-family: 'Gentium Book Basic', serif;
}



@media (max-aspect-ratio: 1/1)
{
	#earth-dark, #earth-light
	{
		width: 90vw;
		left: 5vw;
		top: calc(50vh - 45vw);
	}
}