#content
{
	overflow-x: hidden;
	z-index: 10;
}

.quote-row
{
	display: flex;
	width: 90vw;
	justify-content: space-between;
	margin: 0 auto;
}

.quote-container
{
	width: 25vw;
}

.quote-text
{
	font-size: 100%;
	color: rgb(176, 176, 176);
	text-align: justify;
	padding-right: .1em;
}

.quote-attribution
{
	font-size: 100%;
	color: rgb(92, 92, 92);
	text-align: right;
}



.name-text
{
	font-size: 17.5vmin;
	color: rgb(255, 255, 255);
	text-align: left;
	font-family: "Gentium Book Basic", serif;
	text-shadow: 0px 0px 20px rgb(0, 0, 0);
}

#cruz-text
{
	margin-top: 2.1875vmin;
	margin-left: 4.9583vmin;
}

#godar-text
{
	margin-top: 19.6875vmin;
	margin-left: 4.9583vmin;
}



.title-text
{
	font-size: 150%;
	color: rgb(0, 0, 0);
	text-align: center;
}



.newest-pages
{
	width: 51.25vw !important;
	grid-template-columns: repeat(3, 1fr) !important;
}



/* Compact layout: stack the quote columns on top of one another. */
@media screen and (max-aspect-ratio: 9/16), (max-width: 700px)
{
	.quote-container
	{
		width: 90vw;
		margin-bottom: 5vh;
	}
	
	.quote-row
	{
		flex-direction: column;
	}
	
	
	
	.newest-pages
	{
		width: 90vw !important;
	}
}



/* Ultrawide layout: increase quote margins a little */
@media screen and (min-aspect-ratio: 16/9), (min-width: 1400px)
{
	.newest-pages
	{
		width: 33.5vw !important;
	}
}