#content
{
	overflow-x: hidden;
	z-index: 10;
}

.quote-row
{
	display: flex;
	width: 90vw;
	justify-content: space-between;
	margin: 0 auto;
}

.quote-container
{
	width: 25vw;
}

.quote-text
{
	font-size: 100%;
	color: rgb(176, 176, 176);
	text-align: justify;
	padding-right: .1em;
}

.quote-attribution
{
	font-size: 100%;
	color: rgb(92, 92, 92);
	text-align: right;
}



.name-text
{
	font-size: 17.5vmin;
	color: rgb(255, 255, 255);
	text-align: left;
	text-indent: 30px;
	width: 100vw;
	font-family: "Gentium Book Basic", serif;
	text-shadow: 0px 0px 20px rgb(0, 0, 0);
}

#cruz-text
{
	margin-top: 2.1875vmin;
	margin-left: calc(4.9583vmin - 30px);
}

#godar-text
{
	margin-top: 19.6875vmin;
	margin-left: calc(4.9583vmin - 30px);
}



.title-text
{
	font-size: 150%;
	color: rgb(0, 0, 0);
	text-align: center;
}



#newest-pages
{
	width: 51.25vw !important;
	grid-template-columns: repeat(3, 1fr) !important;
}



#floating-footer-gradient
{
	display: none;
}

#floating-footer-content
{
	background: rgba(0, 0, 0, 0) !important;
	height: 50px;
}

#floating-footer-bottom-margin
{
	display: none;
}

#floating-footer-button-background
{
	background-color: rgba(0, 0, 0, 0) !important;
}




/* Compact layout: stack the quote columns on top of one another. */
@media (max-aspect-ratio: 9/16), (max-width: 700px)
{
	.quote-container
	{
		width: 90vw;
		margin-bottom: 5vh;
	}
	
	.quote-row
	{
		flex-direction: column;
	}
	
	
	
	#newest-pages
	{
		width: 90vw !important;
	}
}



@media (min-aspect-ratio: 16/9), (min-width: 1400px)
{
	#intro-text
	{
		width: 45.667vw !important;
	}
	
	#category-pages
	{
		width: 45.667vw !important;
		
		grid-template-columns: repeat(4, 1fr) !important;
	}
	
	#newest-pages
	{
		width: 33.5vw !important;
	}
}