#calcudoku-grid
{
	width: 90vmin;
	height: 90vmin;
	margin: 0 auto;
}

.text-box-row
{
	width: 45vw;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.text-box-container
{
	width: 20vw;
}



.loading-spinner
{
	opacity: 0;
}



@media (min-aspect-ratio: 16/9), (min-width: 1400px)
{
	.text-box-row
	{
		width: 31.666vw;
	}
	
	.text-box-container
	{
		width: 13.333vw;
	}
}