#canvas-container
{
	width: 80%;
	margin: 0 auto;
}

#calcudoku-grid
{
	width: 100%;
	opacity: 0;
}


#total-time-label, #total-time-clock, #split-time-label, #split-time-clock
{
	text-align: center;
	
	opacity: 0;
}



@media (min-aspect-ratio: 1/1)
{
	#calcudoku-grid
	{	
		width: 100%;
	}
}