.hidden-canvas-superimposed
{
	width: 15vmin;
	height: 15vmin;
	
	margin-top: 5vh !important;
	
	border-radius: 15px;
	padding: 4px;
	
	z-index: 3;
}

#container .output-canvas
{
	z-index: 1;
}

#container > div:first-child .wilson-draggables-container
{
	z-index: 5;
}