#canvas-row
{
	display: flex;
	width: fit-content;
	
	margin: 0 auto;
	
	margin-top: 5vh;
	
	flex-direction: row;
}

#wp-column
{
	display: flex;
	
	flex-direction: column;
}

#ec-plot-column
{
	margin: 0 4px;
}

#parameter-column
{
	display: flex;
	
	flex-direction: column;
}

#wp-column .output-canvas
{
	width: calc(25vw - 6.5px);
	height: auto;
}

#ec-plot-canvas
{
	width: 50vw;
	height: auto;
}

#parameter-column .output-canvas
{
	width: calc(16.667vw - 8.8px);
	height: auto;
}