#title #canvas-bundle
{
	margin-bottom: -3%;
	margin-right: 6%;
}

pre
{
	margin: 0;
	color: rgb(255, 255, 255) !important;
	background: rgb(36, 36, 36);
	border-radius: calc(1 * var(--vl));
	font-size: calc(2 * var(--vl));
	padding: calc(0.5 * var(--vl));
}

code
{
	font-weight: bold;
	border-radius: calc(1 * var(--vl));

	padding-left: calc(0.75 * var(--vl));
	padding-right: calc(0.75 * var(--vl));
	padding-top: calc(0.25 * var(--vl));
	padding-bottom: calc(0.25 * var(--vl));

	background: rgb(36, 36, 36);
	color: rgb(224, 224, 224);
}

.large-canvas #canvas-bundle
{
	transform: scale(1.15);
	margin-bottom: 4%;
}