.output-canvas
{
	width: 75vmin;
	height: 75vmin;
	margin: 0 auto;
	
	border: 2px solid rgb(127, 127, 127);
	border-radius: 15px;
	padding: 2px;
	
	transition: opacity .25s ease-in-out, border-color .25s ease-in-out;
}

.hidden-canvas
{
	position: fixed;
	left: -200vw;
	width: 10px;
	height: 10px;
}



.applet-progress-bar
{
	width: 50vmin !important;
	transition: opacity .25s ease-in-out, margin-top .25s ease-in-out, margin-bottom .25s ease-in-out;
}



.wilson-applet-canvas-container
{
	margin-top: 10vh !important;
	margin-bottom: 5vh !important;
}

.wilson-applet-canvas-container.black-background
{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}