#output-canvas
{
	width: 50vmin;
	height: 50vmin;
	margin: 0 auto;
	
	border: 2px solid rgb(127, 127, 127);
	border-radius: 15px;
	padding: 2px;
	
	transition: opacity .3s ease-in-out, border-color .3s ease-in-out;
}

.true-fullscreen-canvas
{
	width: 100vw !important;
	height: 100vh !important;
	
	border: none !important;
	border-radius: 0 !important;
	padding: 0 !important;
}

.letterboxed-fullscreen-canvas
{
	width: 100vmin !important;
	height: 100vmin !important;
	
	border: none !important;
	border-radius: 0 !important;
	padding: 0 !important;
}

.letterboxed-canvas-background
{
	width: 100vw;
	height: calc((100vh - 100vmin) / 2);
	
	background-color: rgb(0, 0, 0);
}

.black-background
{
	background-color: rgb(0, 0, 0) !important;
}



.applet-progress-bar
{
	width: calc(80vmin - 8px) !important;
	transition: opacity .3s ease-in-out, margin-top .3s ease-in-out, margin-bottom .3s ease-in-out;
}