.output-canvas
{
	width: calc(100% - 8px) !important;
	height: auto;
	
	border: 2px solid rgb(127, 127, 127);
	border-radius: 15px;
	padding: 2px;
	
	transition: opacity .25s ease-in-out, border-color .25s ease-in-out;
}

.hidden-canvas
{
	position: fixed;
	left: -200vw;
	width: 10px;
	height: 10px;
}



.applet-progress-bar
{
	width: 100% !important;
	transition: opacity .25s ease-in-out, margin-top .25s ease-in-out, margin-bottom .25s ease-in-out;
}



.wilson-output-canvas-container
{
	width: 100% !important;
}

.wilson-applet-canvas-container
{
	margin-top: 5vh !important;
	margin-bottom: 0 !important;
}

.wilson-applet-canvas-container.black-background
{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}



#canvas-landscape
{
	display: flex;
	flex-direction: column;
	
	width: 100vw;
	
	justify-content: space-between;
	
	align-items: center;
}

#canvas-landscape-left, #canvas-landscape-middle, #canvas-landscape-right
{
	width: 80%;
}



@media (min-aspect-ratio: 1/1)
{
	.output-canvas
	{
		width: calc(100% - 8px);
	}
	
	#canvas-landscape
	{
		flex-direction: row;
	}
	
	#canvas-landscape-left, #canvas-landscape-middle, #canvas-landscape-right
	{
		width: 33.33%;
	}
	
	#canvas-landscape-left .body-text, #canvas-landscape-left .section-text, #canvas-landscape-middle .body-text, #canvas-landscape-middle .section-text, #canvas-landscape-right .body-text, #canvas-landscape-right .section-text
	{
		width: 70%;
	}
}