/* Provides suppport for full-page, parallax banners at the top of the page, complete with scroll buttons. */



#banner
{
	position: fixed;
	width: 100vw;
	height: 100vh;
	
	background: url("") no-repeat center center;
	background-size: cover;
	
	/* Some magic that prevents the banner from abruptly resizing on mobile devices on which the size of the url bar changes on scroll. */
	transform: translate3d(0, 0, 0);
}



#banner-cover
{
	height: 100vh;
}

#new-banner-cover
{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}



#scroll-button
{
	color: rgb(127, 127, 127);
	background-color: rgb(255, 255, 255);
	width: 20px;
	position: relative;
	margin-bottom: 150px;
	
	align-self: flex-end;

	border: 2px solid rgb(127, 127, 127);
	border-radius: 10px;
	padding: 10px;
	
	transition: filter .125s ease-in-out;
	filter: brightness(100%);
	
	outline: none;
}

#scroll-button.hover
{
	filter: brightness(75%);
}

#scroll-button:not(:hover):focus
{
	filter: brightness(75%);
	outline: none;
}



#content
{
	background: rgba(0, 0, 0, 0);
	position: relative;
}