/* Provides suppport for full-page, parallax banners at the top of the page, complete with scroll buttons. */

#banner, #banner-small, #banner-large
{
	position: fixed;
	width: calc(100vw + 10vmin);
	height: calc(100vh + 10vmin);
	
	top: -5vmin;
	left: -5vmin;
	
	background: url("") no-repeat center center;
	background-size: cover;
	
	/* Some magic that prevents the banner from abruptly resizing on mobile devices on which the size of the url bar changes on scroll. */
	transform: translate3d(0, 0, 0);
}

#banner-small
{
	z-index: 10;
}

#banner-large
{
	z-index: 5;
}



#banner-cover
{
	height: 60vh;
}

#new-banner-cover
{
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
}



#scroll-button
{
	color: rgb(127, 127, 127);
	background-color: rgb(255, 255, 255);
	width: 20px;
	position: relative;
	margin-bottom: 0;
	
	align-self: flex-end;

	border: 2px solid rgb(127, 127, 127);
	border-radius: 10px;
	padding: 10px;
	
	margin-bottom: -25vh;
	
	outline: none;
}

#scroll-button:not(:hover):focus
{
	transform: scale(1.1);
	outline: none;
}



#content
{
	background: rgba(255, 255, 255, 0);
	position: relative;
	margin: 0 auto;
	
	opacity: 0;
	
	width: 100%;
}