/* Adds support for text buttons and text boxes. */



.text-boxes, .text-buttons, .sliders
{
	position: relative;
	display: grid;
	
	justify-content: center;
	align-items: center;
	
	width: 70%;
	margin: 0 auto;
}

.text-boxes, .text-buttons, .sliders
{
	grid-template-columns: repeat(auto-fit, 100px);
	
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	
	margin-top: 5vh;
}

.text-boxes
{
	align-items: start;
}

.nav-buttons:first-of-type
{
	margin-top: 0;
	
	margin-bottom: 5vh;
}





.text-button
{
	color: rgb(127, 127, 127);
	background-color: rgb(255, 255, 255);
	width: fit-content;
	display: inline-block;
	margin: auto;
	position: relative;
	
	color: rgb(127, 127, 127);
	text-align: center;
	font-size: 100%;

	border: 2px solid rgb(127, 127, 127);
	border-radius: 10px;
	padding: 10px;
	
	cursor: pointer;
	outline: none;
	
	z-index: 10;
}

.text-button:not(:hover):focus
{
	transform: scale(1.075);
	outline: none;
}

.text-button.dropdown
{
	border-radius: 100px;
	
	white-space: pre;
}



.checkbox-row
{
	width: 70%;
	height: 32px;
	margin: 0 auto;
	
	margin-top: 5vh;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.checkbox-row p
{
	width: auto;
}



.checkbox-container
{
	position: relative;
	
	width: 24px;
	height: 24px;
	
	border: 2px solid rgb(127, 127, 127);
	border-radius: 6px;
	padding: 2px;
}

.checkbox-container:not(:hover):focus
{
	transform: scale(1.1);
	
	outline: none;
}





.checkbox-container > input
{
	position: absolute;
	
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	
	margin: 0 0 0 0;
	
	opacity: 0;
	
	cursor: pointer;
	
	transition: width .125s ease-in-out, height .125s ease-in-out;
}

.checkbox-container > input ~ .checkbox
{
	width: 100%;
	height: 100%;
	
	border-radius: 2px;
	
	background: rgb(255, 255, 255); 
	
	cursor: pointer;
	
	transition: background-color .125s ease-in-out, width .125s ease-in-out, height .125s ease-in-out;
}

.checkbox-container > input:checked ~ .checkbox
{
	background-color: rgb(127, 127, 127);
}





.radio-button-row
{
	width: 70%;
	height: 32px;
	margin: 0 auto;
	
	margin-top: 5vh;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.radio-button-row p
{
	width: auto;
}



.radio-button-container
{
	position: relative;
	
	width: 24px;
	height: 24px;
	
	border: 2px solid rgb(127, 127, 127);
	border-radius: 50%;
	padding: 2px;
}

.radio-button-container:not(:hover):focus
{
	transform: scale(1.1);
	
	outline: none;
}





.radio-button-container > input
{
	position: absolute;
	
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	
	margin: 0 0 0 0;
	
	opacity: 0;
	
	cursor: pointer;
}

.radio-button-container > input ~ .radio-button
{
	width: 100%;
	height: 100%;
	
	border-radius: 50%;
	
	background: rgb(255, 255, 255); 
	
	cursor: pointer;
	
	transition: background-color .125s ease-in-out, width .125s ease-in-out, height .125s ease-in-out;
}

.radio-button-container > input:checked ~ .radio-button
{
	background-color: rgb(127, 127, 127);
}





.text-box
{
	width: 100%;
	
	border: none;
	border-radius: 0;
	border-bottom: 2px solid rgb(192, 192, 192);
	outline: none;
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	
	color: rgb(127, 127, 127);
	font-size: 100%;
	text-align: center;
	
	transition: border-color .25s ease-in-out, color .25s ease-in-out;
}

.text-box:focus
{
	border-color: rgb(127, 127, 127);
	color: rgb(64, 64, 64);
}

.text-box-container
{
	width: 100px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text-box-container .body-text
{
	width: 100% !important;
	height: fit-content;
	
	text-align: center;
}



.text-boxes .text-box-container, .text-buttons .text-button
{
	width: 100%;
}



.text-field
{
	width: 100%;
	
	border: 2px solid rgb(192, 192, 192);
	border-radius: 10px;
	padding: 10px;
	outline: none;
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	-webkit-appearance: none;
	
	color: rgb(127, 127, 127);
	font-size: 100%;
	
	transition: border-color .25s ease-in-out, color .25s ease-in-out;
}

.text-field:focus
{
	border-color: rgb(127, 127, 127);
	color: rgb(64, 64, 64);
}

.text-field-container
{
	width: 300px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text-field-container p
{
	width: 70%;
}





.slider-container
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slider-container > input
{
	-webkit-appearance: none;
	appearance: none;
	
	-webkit-user-select: none;
	user-select: none;
	
	width: calc(100% + 1px);
	height: 3px;
	
	border-radius: 1.5px;
	
	margin-left: -1px;
	
	background-color: rgb(200, 200, 200) !important;
	outline: none;
	box-shadow: none;
	
	transition: background-color .125s ease-in-out;
}

.slider-container > input::-webkit-slider-thumb
{
	-webkit-appearance: none;
	appearance: none;
	
	-webkit-user-select: none;
	user-select: none;
	box-shadow: none;
	
	width: 20px;
	height: 20px;
	background-color: rgb(156, 156, 156) !important;
	
	border-radius: 50%;
	
	cursor: pointer;
	
	transition: background-color .125s ease-in-out;
}

.slider-container > input::-moz-slider-thumb
{
	-webkit-appearance: none;
	appearance: none;
	
	-webkit-user-select: none;
	user-select: none;
	box-shadow: none;
	
	width: 20px;
	height: 20px;
	background-color: rgb(156, 156, 156) !important;
	
	border-radius: 50%;
	
	cursor: pointer;
	
	transition: background-color .125s ease-in-out;
}

.slider-container > input:active
{
	background-color: rgb(136, 136, 136) !important;
}

.slider-container > input:hover::-webkit-slider-thumb
{
	background-color: rgb(112, 112, 112) !important;
}

.slider-container > input:hover::-moz-slider-thumb
{
	background-color: rgb(112, 112, 112) !important;
}

.slider-container > input:active::-webkit-slider-thumb
{
	background-color: rgb(64, 64, 64) !important;
}

.slider-container > input:active::-moz-slider-thumb
{
	background-color: rgb(64, 64, 64) !important;
}

.slider-container p
{
	text-align: center;
}



select
{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	width: 100%;
	height: 100%;
	
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	
	z-index: 20;
	
	cursor: pointer;
	outline: none;
}

option
{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}





@media (min-aspect-ratio: 1/1), (max-width: 700px)
{
	.text-boxes, .text-buttons, .sliders
	{
		width: 90%;
	}
}