/* Adds support for text buttons and text boxes. */



.text-boxes, .text-buttons
{
	display: grid;
	
	justify-content: center;
	align-items: center;
	
	width: 70vw;
	margin: 0 auto;
}

.text-boxes
{
	/* 6 boxes per row. */
	grid-template-columns: repeat(auto-fit, 9.583vw);
	
	grid-row-gap: 2.5vw;
	grid-column-gap: 2.5vw;
	
	margin-top: 10vh;
}

.text-buttons
{
	/* 3 buttons per row. */
	grid-template-columns: repeat(auto-fit, 20vw);
	
	grid-row-gap: 5vw;
	grid-column-gap: 5vw;
	
	margin-top: 10vh;
}





.text-button
{
	color: rgb(127, 127, 127);
	background-color: rgb(255, 255, 255);
	height: fit-content;
	width: fit-content;
	display: inline-block;
	margin: auto;
	position: relative;
	
	color: rgb(127, 127, 127);
	text-align: center;
	font-size: 100%;

	border: 2px solid rgb(127, 127, 127);
	border-radius: 10px;
	padding: 10px;
	
	transition: filter .1s ease-in-out;
	filter: brightness(100%);
	
	cursor: pointer;
	outline: none;
}

.text-button.hover
{
	filter: brightness(75%);
}

.text-button:not(:hover):focus
{
	filter: brightness(75%);
	outline: none;
}



.checkbox-row
{
	width: 70vw;
	height: 32px;
	margin: 0 auto;
	
	margin-top: 5vh;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.checkbox-row p
{
	width: auto;
}



.checkbox-container
{
	position: relative;
	
	width: 24px;
	height: 24px;
	
	border: 2px solid rgb(127, 127, 127);
	border-radius: 6px;
	padding: 2px;
	
	transition: width .1s ease-in-out, height .1s ease-in-out;
}

.checkbox-container.hover
{
	width: 28px;
	height: 28px;
}

.checkbox-container:not(:hover):focus
{
	width: 28px;
	height: 28px;
	
	outline: none;
}





.checkbox-container > input
{
	position: absolute;
	
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	
	margin: 0 0 0 0;
	
	opacity: 0;
	
	cursor: pointer;
	
	transition: width .1s ease-in-out, height .1s ease-in-out;
}

.checkbox-container > input ~ .checkbox
{
	width: 100%;
	height: 100%;
	
	border-radius: 2px;
	
	background: rgb(255, 255, 255); 
	
	cursor: pointer;
	
	transition: background-color .1s ease-in-out, width .1s ease-in-out, height .1s ease-in-out;
}

.checkbox-container > input:checked ~ .checkbox
{
	background-color: rgb(127, 127, 127);
}





.radio-button-row
{
	width: 70vw;
	height: 32px;
	margin: 0 auto;
	
	margin-top: 5vh;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.radio-button-row p
{
	width: auto;
}



.radio-button-container
{
	position: relative;
	
	width: 24px;
	height: 24px;
	
	border: 2px solid rgb(127, 127, 127);
	border-radius: 50%;
	padding: 2px;
	
	transition: width .1s ease-in-out, height .1s ease-in-out;
}

.radio-button-container.hover
{
	width: 28px;
	height: 28px;
}

.radio-button-container:not(:hover):focus
{
	width: 28px;
	height: 28px;
	
	outline: none;
}





.radio-button-container > input
{
	position: absolute;
	
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	
	margin: 0 0 0 0;
	
	opacity: 0;
	
	cursor: pointer;
	
	transition: width .1s ease-in-out, height .1s ease-in-out;
}

.radio-button-container > input ~ .radio-button
{
	width: 100%;
	height: 100%;
	
	border-radius: 50%;
	
	background: rgb(255, 255, 255); 
	
	cursor: pointer;
	
	transition: background-color .1s ease-in-out, width .1s ease-in-out, height .1s ease-in-out;
}

.radio-button-container > input:checked ~ .radio-button
{
	background-color: rgb(127, 127, 127);
}





.text-box
{
	width: 100%;
	
	border: none;
	border-radius: 0;
	border-bottom: 2px solid rgb(192, 192, 192);
	outline: none;
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	
	color: rgb(127, 127, 127);
	font-size: 100%;
	text-align: center;
	
	transition: border-color .2s ease-in-out, color .2s ease-in-out;
}

.text-box:focus
{
	border-color: rgb(127, 127, 127);
	color: rgb(64, 64, 64);
}

.text-box-container
{
	width: 100px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

label .body-text
{
	text-align: center;
}



.text-boxes .text-box-container, .text-buttons .text-button
{
	width: 100%;
}





.text-field
{
	width: 100%;
	
	border: 2px solid rgb(192, 192, 192);
	border-radius: 10px;
	padding: 10px;
	outline: none;
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	-webkit-appearance: none;
	
	color: rgb(127, 127, 127);
	font-size: 100%;
	
	transition: border-color .2s ease-in-out, color .2s ease-in-out;
}

.text-field:focus
{
	border-color: rgb(127, 127, 127);
	color: rgb(64, 64, 64);
}

.text-field-container
{
	width: 300px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}





@media (max-aspect-ratio: 9/16), (max-width: 700px)
{
	.text-boxes, .text-buttons
	{
		width: 90vw;
	}
	
	.text-boxes
	{
		/* 4 boxes per row. */
		grid-template-columns: repeat(auto-fit, 18.75vw);
		
		grid-row-gap: 5vw;
		grid-column-gap: 5vw;
	}

	.text-buttons
	{
		/* 2 buttons per row. */
		grid-template-columns: repeat(auto-fit, 40vw);
		
		grid-row-gap: 10vw;
		grid-column-gap: 10vw;
	}
}



@media (min-aspect-ratio: 16/9), (min-width: 1400px)
{
	.text-boxes
	{
		/* 8 boxes per row. */
		grid-template-columns: repeat(auto-fit, 6.5625vw);
	}

	.text-buttons
	{
		/* 4 buttons per row. */
		grid-template-columns: repeat(auto-fit, 13.75vw);
	}
}