/* Adds support for the footer, floating or not, and the scroll up button. */



#header
{
	position: fixed;
	top: 0;
	left: 0;
	
	width: 100%;
	background-color: rgb(255, 255, 255);
	
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .15);
	
	z-index: 90;
}

#header-logo
{
	position: absolute;
	top: 5px;
	left: 5px;
	
	padding: 5px;
	border-radius: 5px;
	
	height: calc(100% - 20px);
	width: fit-content;
	
	color: rgb(48, 48, 48);
	
	display: flex;
	align-items: center;
	
	cursor: pointer;
}

#header-logo img
{
	height: 100%;
}

#header-logo span
{
	padding-left: 5px;
}

#header-logo.hover
{
	background-color: rgb(224, 224, 224);
}

#header-logo.hover span
{
	color: rgb(48, 48, 48) !important;
}

#header-links
{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: fit-content;
}

#header-links a
{
	padding: 7.5px;
	border-radius: 5px;
	
	color: rgb(48, 48, 48);
	
	margin-left: 2.5px;
	margin-right: 2.5px;
	margin-top: 5px;
	margin-bottom: 5px;
	
	cursor: pointer;
	
	transition: none;
}

#header-gallery-link.hover
{
	background-color: rgb(198, 239, 198);
	
	color: rgb(48, 48, 48) !important;
}

#header-applets-link.hover
{
	background-color: rgb(255, 192, 193);
	
	color: rgb(48, 48, 48) !important;
}

#header-teaching-link.hover
{
	background-color: rgb(255, 240, 192);
	
	color: rgb(48, 48, 48) !important;
}

#header-writing-link.hover
{
	background-color: rgb(195, 224, 255);
	
	color: rgb(48, 48, 48) !important;
}

#header-about-link.hover
{
	background-color: rgb(224, 224, 224);
	
	color: rgb(48, 48, 48) !important;
}

#header-theme-button
{
	position: absolute;
	top: 5px;
	right: 5px;
	
	padding: 5px;
	border-radius: 5px;
	
	height: calc(100% - 20px);
	width: fit-content;
	
	background-color: rgb(255, 255, 255);
	
	display: flex;
	align-items: center;
	
	cursor: pointer;
}

#header-theme-button.hover
{
	background-color: rgb(224, 224, 224);
}

#header-theme-button input
{
	height: 100%;
}



.row:after
{
	content: "";
	display: table;
	clear: both;
}



@media (max-width: 700px)
{
	#header-logo span
	{
		display: none;
	}
}

@media (max-width: 500px)
{
	#header-links a
	{
		font-size: 80%;
		
		padding: calc(7.5px * .8);
		border-radius: calc(5px * .8);
		
		margin-left: calc(2.5px * .8);
		margin-right: calc(2.5px * .8);
		margin-top: calc(5px * .8);
		margin-bottom: calc(5px * .8);
	}
	
	#header-logo, #header-theme-button
	{
		padding: 2.5px;
		
		height: calc(100% - 15px);
	}
}

@media (max-width: 375px)
{
	#header-links a
	{
		font-size: 75%;
		
		padding: calc(5px * .75);
		border-radius: calc(5px * .75);
		
		margin-left: calc(2.5px * .75);
		margin-right: calc(2.5px * .75);
		margin-top: calc(5px * .75);
		margin-bottom: calc(5px * .75);
	}
}

@media (max-width: 325px)
{
	#header-links a
	{
		font-size: 60%;
		
		padding: calc(2.5px * .6);
		border-radius: calc(2.5px * .6);
		
		margin-left: calc(1.25px * .6);
		margin-right: calc(1.25px * .6);
		margin-top: calc(2.5px * .6);
		margin-bottom: calc(2.5px * .6);
	}
	
	#header-logo
	{
		top: 2.5px;
		left: 2.5px;
		
		padding: 2.5px;
		border-radius: 2.5px;
		
		height: calc(100% - 10px);
	}
	
	#header-theme-button
	{
		top: 2.5px;
		right: 2.5px;
		
		padding: 2.5px;
		border-radius: 2.5px;
		
		height: calc(100% - 10px);
	}
}