/* Adds support for the footer, floating or not, and the scroll up button. */



.footer-button
{
	width: 25px;
	
	align-self: flex-end;
	
	background-color: rgb(255, 255, 255);
	
	border: 2px solid rgb(127, 127, 127);
	border-radius: 50%;
	padding: 5px;
	
	transition: filter .1s ease-in-out;
	filter: brightness(100%);
	
	cursor: pointer;
	outline: none;
}

.footer-button.hover
{
	filter: brightness(75%);
}

.footer-button:not(:hover):focus
{
	filter: brightness(75%);
	outline: none;
}



.row:after
{
	content: "";
	display: table;
	clear: both;
}



.line-break
{
	margin: 0 auto;
	width: 70vw;
	margin-left: 15vw;
	height: 1px;
	
	position: absolute;
}

.line-break-0-0
{
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgb(160,160,160) 50%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgb(160,160,160) 50%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgb(160,160,160) 50%,rgba(255,255,255,0) 100%);
	
	opacity: 1;
}

.line-break-1-0
{
	background: -moz-linear-gradient(left, rgba(24, 24, 24, 0) 0%, rgb(116,116,116) 50%, rgba(24, 24, 24, 0) 100%);
	background: -webkit-linear-gradient(left, rgba(24, 24, 24, 0) 0%,rgb(116,116,116) 50%,rgba(24, 24, 24, 0) 100%);
	background: linear-gradient(to right, rgba(24, 24, 24, 0) 0%,rgb(116,116,116) 50%,rgba(24, 24, 24, 0) 100%);
	
	opacity: 0
}

.line-break-0-1
{
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgb(120,120,120) 50%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgb(120,120,120) 50%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgb(120,120,120) 50%,rgba(255,255,255,0) 100%);
	
	opacity: 0
}

.line-break-1-1
{
	background: -moz-linear-gradient(left, rgba(24, 24, 24, 0) 0%, rgb(164, 164, 164) 50%, rgba(24, 24, 24, 0) 100%);
	background: -webkit-linear-gradient(left, rgba(24, 24, 24, 0) 0%,rgb(164, 164, 164) 50%,rgba(24, 24, 24, 0) 100%);
	background: linear-gradient(to right, rgba(24, 24, 24, 0) 0%,rgb(164, 164, 164) 50%,rgba(24, 24, 24, 0) 100%);
	
	opacity: 0
}



.footer-line-break
{
	width: 40vw !important;
	
	margin-left: 30vw;
	
	margin-bottom: 3vw;
}

.footer-line-break-big
{
	width: 52.5vw !important;
	
	margin-left: 23.75vw;
	
	margin-bottom: 3vw;
}



.footer-image-links
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 30vw;
	margin: 0 auto;
	margin-bottom: 3vw;
}

.footer-image-links-big
{
	width: 41vw;
}


.footer-image-link
{
	position: relative;
	float: left;
	width: 8vw;
	height: 8vw;
	display: inline-block;
	
	border-radius: 10%;
}

.footer-image-link img
{
	position: absolute;
	width: 8vw;
	height: 8vw;
	
	border-radius: 10%;

	transition: transform .2s ease-in-out, filter .2s ease-in-out;
}

.footer-image-link img.hover
{
	transform: scale(1.05);
	filter: brightness(105%);
}

.footer-image-link img:not(:hover):focus
{
	transform: scale(1.05);
	filter: brightness(105%);
	outline: none;
}



/* The area where the user can hover or tap to reveal the footer anywhere. */
#floating-footer
{
	position: fixed;
	bottom: 0;
	z-index: 100;
}

.footer-menu-button
{
	position: absolute;
	bottom: 6.25px;
	left: 10px;
}

#show-footer-menu-button
{
	z-index: 101;
	
	transition: opacity .2s ease;
}

#about-button, #sitemap-button, #settings-button
{
	z-index: 102;
	
	left: -40px;
	
	transition: left .2s ease, opacity .2s ease;
}

#about-button
{
	bottom: 104.25px;
}

#sitemap-button
{
	bottom: 55.25px;
}



#floating-footer-writing-link, #floating-footer-teaching-link, #floating-footer-applets-link, #floating-footer-bio-link
{
	transition: left .2s ease;
	
	z-index: 105;
}



#theme-button, #contrast-button, #text-size-button, #font-button, #content-animation-button
{
	z-index: 105;
	
	left: -40px;
	
	transition: left .2s ease, opacity .2s ease;
}

#contrast-button
{
	bottom: 55.25px;
}

#text-size-button
{
	bottom: 104.25px;
}

#font-button
{
	bottom: 153.25px;
}

#content-animation-button
{
	bottom: 202.25px;
}

#settings-text
{
	bottom: 262.25px;
	left: 10px;
	
	opacity: 0;
	display: none;
	
	transition: opacity .2s ease-in-out;
}



#floating-settings
{
	position: fixed;
	
	bottom: 10px;
	left: 10px;
	
	/* This is 39*4 + 20*3 + 9: exactly the right amount of room to have 4 buttons with 20px of spacing between them. We add the 9 so that part of the next row is visible, encouraging the user to scroll. */
	width: 225px;
	height: 225px;
	
	background-color: rgb(255, 255, 255);
	
	/* This matches the border radius of the buttons exactly. */
	border-radius: 19.5px;
	padding: 20px;
	
	box-shadow: 0px 0px 10px rgb(0, 0, 0);
	
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	
	scrollbar-width: none;
	
	opacity: 0;
	transition: opacity .2s ease-in-out;
	
	z-index: 120;
}

#floating-settings::-webkit-scrollbar
{
	display: none;
}

.floating-settings-scroll-snap
{
	margin-top: -19px;
	margin-bottom: 19px;
	scroll-snap-align: start;
}

.floating-settings-page
{
	width: 100%;
	height: auto;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.floating-settings-button-row
{
	width: 100%;
	height: 38px;
	margin: 0 auto;
	
	margin-bottom: 20px;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
	transition: opacity .175s ease-in-out;
}

.floating-settings-button-text-container
{
	margin: auto;
	
	margin-left: 10px;
}

.floating-settings-button-text
{
	text-align: left;
	
	color: rgb(127, 127, 127);
}



@media (max-width: 300px)
{
	#floating-settings
	{
		width: calc(100vw - 20px);
	}
}



/* Compact layout: increase footer image link size to 12vw with gaps of 4vw in between. */
@media (max-aspect-ratio: 9/16), (max-width: 700px)
{
	.footer-line-break
	{
		width: 55vw !important;
		
		margin-left: 22.5vw !important;
		
		margin-bottom: 4vw !important;
	}

	.footer-line-break-big
	{
		width: 75vw !important;
		
		margin-left: 12.5vw !important;
		
		margin-bottom: 4vw !important;
	}



	.footer-image-links
	{
		width: 44vw;
	}

	.footer-image-links-big
	{
		width: 60vw;
	}

	.footer-image-link
	{
		width: 12vw;
		height: 12vw;
	}

	.footer-image-link img
	{
		width: 12vw;
		height: 12vw;
	}

}