/* Adds support for the footer, floating or not, and the scroll up button. */



.footer-button
{
	width: 25px;
	
	align-self: flex-end;
	
	background-color: rgb(255, 255, 255);
	
	border: 2px solid rgb(127, 127, 127);
	border-radius: 50%;
	padding: 5px;
	
	transition: filter .15s ease-in-out;
	filter: brightness(100%);
	
	cursor: pointer;
	outline: none;
}

.footer-button.hover
{
	filter: brightness(75%);
}

.footer-button:not(:hover):focus
{
	filter: brightness(75%);
	outline: none;
}



.row:after
{
	content: "";
	display: table;
	clear: both;
}



.line-break
{
	margin: 0 auto;
	width: 70vw;
	height: 1px;
	
	background: -moz-linear-gradient(left, rgb(255,255,255) 0%, rgb(160,160,160) 50%, rgb(255,255,255) 100%);
	background: -webkit-linear-gradient(left, rgb(255,255,255) 0%,rgb(160,160,160) 50%,rgb(255,255,255) 100%);
	background: linear-gradient(to right, rgb(255,255,255) 0%,rgb(160,160,160) 50%,rgb(255,255,255) 100%);
}



.footer-line-break
{
	width: 40vw !important;
	
	margin-bottom: 3vw;
}

.footer-line-break-big
{
	width: 52.5vw !important;
	
	margin-bottom: 3vw;
}



.footer-image-links
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 30vw;
	margin: 0 auto;
	margin-bottom: 60px;
}

.footer-image-links-big
{
	width: 41vw;
}


.footer-image-link
{
	position: relative;
	float: left;
	width: 8vw;
	height: 8vw;
	display: inline-block;
	
	border-radius: 10%;
}

.footer-image-link img
{
	position: absolute;
	width: 8vw;
	height: 8vw;
	
	border-radius: 10%;

	transition: filter .15s ease-in-out;
	filter: brightness(100%);
}

.footer-image-link img.hover
{
	filter: brightness(75%);
}

.footer-image-link img:not(:hover):focus
{
	filter: brightness(75%);
	outline: none;
}



/* The area where the user can hover or tap to reveal the footer anywhere. */
#floating-footer
{
	position: fixed;
	bottom: 0;
	z-index: 100;
	
	display: none;
	
	opacity: 0;
	transition: opacity .3s ease-in-out;
}

#floating-footer-gradient
{
	height: 10vh;
	
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

#floating-footer-content
{
	background-color: rgb(255, 255, 255);
}

#floating-footer-bottom-margin
{
	height: 30px;
}

/* Some very weird shit going on right here */
#floating-footer-button-background
{
	height: 1px;
	background-color: rgb(255, 255, 255);
}



#floating-footer-touch-target
{
	position: fixed;
	bottom: 0;
	z-index: 110;
	
	height: 100px;
	width: 100vw;
}



#floating-settings
{
	position: fixed;
	
	bottom: 10px;
	left: 10px;
	
	/* This is 39*4 + 20*3 + 9: exactly the right amount of room to have 4 buttons with 20px of spacing between them. We add the 9 so that part of the next row is visible, encouraging the user to scroll. */
	width: 225px;
	height: 225px;
	
	background-color: rgb(255, 255, 255);
	
	/* This matches the border radius of the buttons exactly. */
	border-radius: 19.5px;
	padding: 20px;
	
	box-shadow: 0px 0px 10px rgb(0, 0, 0);
	
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	
	scrollbar-width: none;
	
	opacity: 0;
	transition: opacity .3s ease-in-out;
	
	z-index: 120;
}

#floating-settings::-webkit-scrollbar
{
	display: none;
}

.floating-settings-scroll-snap
{
	margin-top: -19px;
	margin-bottom: 19px;
	scroll-snap-align: start;
}

.floating-settings-page
{
	width: 100%;
	height: auto;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.floating-settings-button-row
{
	width: 100%;
	height: 38px;
	margin: 0 auto;
	
	margin-bottom: 20px;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
	transition: opacity .3s ease-in-out;
}

.floating-settings-button-text-container
{
	margin: auto;
	
	margin-left: 10px;
}

.floating-settings-button-text
{
	text-align: left;
	
	color: rgb(127, 127, 127);
}




/* The area where the user can hover or tap to reveal the footer anywhere. */
#scroll-up-button-location
{
	position: fixed;
	top: 0;
	z-index: 140;
	
	height: 25px;
	width: 100vw;
}

#scroll-up-button-container
{
	position: fixed;
	top: 0;
	
	width: 100vw;
	height: 75px;
	
	z-index: 130;
}



#scroll-up-button
{
	color: rgb(127, 127, 127);
	background-color: rgb(255, 255, 255);
	width: 20px;
	height: 5px;
	
	margin-top: 25px;

	border: 2px solid rgb(127, 127, 127);
	border-radius: 10px;
	padding: 10px;
	
	transition: filter .15s ease-in-out;
	filter: brightness(100%);
	
	outline: none;
}

#scroll-up-button.hover
{
	filter: brightness(75%);
}

#scroll-up-button:not(:hover):focus
{
	filter: brightness(75%);
	outline: none;
}



@media (max-width: 300px)
{
	#floating-settings
	{
		width: calc(100vw - 20px);
	}
}



/* Compact layout: increase footer image link size to 12vw with gaps of 4vw in between. */
@media (max-aspect-ratio: 9/16), (max-width: 700px)
{
	.footer-line-break
	{
		width: 55vw !important;
		
		margin-bottom: 4vw !important;
	}

	.footer-line-break-big
	{
		width: 75vw !important;
		
		margin-bottom: 4vw !important;
	}



	.footer-image-links
	{
		width: 44vw;
	}

	.footer-image-links-big
	{
		width: 60vw;
	}

	.footer-image-link
	{
		width: 12vw;
		height: 12vw;
	}

	.footer-image-link img
	{
		width: 12vw;
		height: 12vw;
	}

}