/* Adds support for the footer, floating or not, and the scroll up button. */



#header
{
	position: fixed;
	top: 0;
	left: 0;
	
	width: 100%;
	background-color: rgb(255, 255, 255);
	
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .15);
	
	z-index: 90;
}

#header-logo
{
	position: absolute;
	top: 5px;
	left: 5px;
	
	padding: 5px;
	border-radius: 5px;
	
	height: calc(100% - 20px);
	
	color: rgb(64, 64, 64);
	
	display: flex;
	align-items: center;
	
	cursor: pointer;
}

#header-logo img
{
	height: 100%;
}

#header-logo span
{
	padding-left: 10px;
}

#header-logo.hover
{
	background-color: rgb(224, 224, 224);
}

#header-links
{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
	max-width: 90%;
}

#header-links a
{
	padding: 7.5px;
	border-radius: 5px;
	
	color: rgb(64, 64, 64);
	
	margin-left: 2.5px;
	margin-right: 2.5px;
	margin-top: 5px;
	margin-bottom: 5px;
	
	cursor: pointer;
	
	transition: none;
}

#header-gallery-link.hover
{
	background-color: rgb(198, 239, 198);
}

#header-applets-link.hover
{
	background-color: rgb(255, 192, 193);
}

#header-teaching-link.hover
{
	background-color: rgb(255, 240, 192);
}

#header-writing-link.hover
{
	background-color: rgb(195, 224, 255);
}

#header-about-link.hover
{
	background-color: rgb(224, 224, 224);
}

#header-theme-button
{
	position: absolute;
	top: 5px;
	right: 5px;
	
	padding: 5px;
	border-radius: 5px;
	
	height: calc(100% - 20px);
	
	display: flex;
	align-items: center;
	
	cursor: pointer;
}

#header-theme-button.active
{
	background-color: rgb(239, 239, 239);
}

#header-theme-button.hover
{
	background-color: rgb(224, 224, 224);
}

#header-theme-button input
{
	height: 100%;
}



.row:after
{
	content: "";
	display: table;
	clear: both;
}



.line-break
{
	margin: 0 auto;
	width: 70vw;
	left: 15vw;
	height: 1px;
	
	position: absolute;
}

.line-break-0-0
{
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgb(160,160,160) 50%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgb(160,160,160) 50%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgb(160,160,160) 50%,rgba(255,255,255,0) 100%);
	
	opacity: 1;
}

.line-break-1-0
{
	background: -moz-linear-gradient(left, rgba(24, 24, 24, 0) 0%, rgb(116,116,116) 50%, rgba(24, 24, 24, 0) 100%);
	background: -webkit-linear-gradient(left, rgba(24, 24, 24, 0) 0%,rgb(116,116,116) 50%,rgba(24, 24, 24, 0) 100%);
	background: linear-gradient(to right, rgba(24, 24, 24, 0) 0%,rgb(116,116,116) 50%,rgba(24, 24, 24, 0) 100%);
	
	opacity: 0;
}

.line-break-0-1
{
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgb(120,120,120) 50%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgb(120,120,120) 50%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgb(120,120,120) 50%,rgba(255,255,255,0) 100%);
	
	opacity: 0;
}

.line-break-1-1
{
	background: -moz-linear-gradient(left, rgba(24, 24, 24, 0) 0%, rgb(164, 164, 164) 50%, rgba(24, 24, 24, 0) 100%);
	background: -webkit-linear-gradient(left, rgba(24, 24, 24, 0) 0%,rgb(164, 164, 164) 50%,rgba(24, 24, 24, 0) 100%);
	background: linear-gradient(to right, rgba(24, 24, 24, 0) 0%,rgb(164, 164, 164) 50%,rgba(24, 24, 24, 0) 100%);
	
	opacity: 0;
}



.settings-text-container
{
	position: fixed;
	
	top: 20px;
	width: 50vw;
	left: 25vw;
	
	z-index: 50;
}

.settings-text
{
	width: fit-content !important;
	
	margin: 0 auto;
	
	background-color: rgb(255, 255, 255);
	
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, .25);
	
	border-radius: 15px;
	
	padding: 10px;
	
	color: rgb(127, 127, 127) !important;
}



@media (max-width: 700px)
{
	#header-logo span
	{
		display: none;
	}
}

@media (max-width: 500px)
{
	#header-links a
	{
		font-size: 80%;
		
		padding: calc(7.5px * .8);
		border-radius: calc(5px * .8);
		
		margin-left: calc(2.5px * .8);
		margin-right: calc(2.5px * .8);
		margin-top: calc(5px * .8);
		margin-bottom: calc(5px * .8);
	}
	
	#header-logo, #header-theme-button
	{
		padding: 2.5px;
		
		height: calc(100% - 15px);
	}
}

@media (max-width: 375px)
{
	#header-links a
	{
		font-size: 75%;
		
		padding: calc(5px * .75);
		border-radius: calc(5px * .75);
		
		margin-left: calc(2.5px * .75);
		margin-right: calc(2.5px * .75);
		margin-top: calc(5px * .75);
		margin-bottom: calc(5px * .75);
	}
}

@media (max-width: 325px)
{
	#header-links a
	{
		font-size: 60%;
		
		padding: calc(2.5px * .6);
		border-radius: calc(2.5px * .6);
		
		margin-left: calc(1.25px * .6);
		margin-right: calc(1.25px * .6);
		margin-top: calc(2.5px * .6);
		margin-bottom: calc(2.5px * .6);
	}
	
	#header-logo
	{
		top: 2.5px;
		left: 2.5px;
		
		padding: 2.5px;
		border-radius: 2.5px;
		
		height: calc(100% - 10px);
	}
	
	#header-theme-button
	{
		top: 2.5px;
		right: 2.5px;
		
		padding: 2.5px;
		border-radius: 2.5px;
		
		height: calc(100% - 10px);
	}
}