/* Adds support for the footer, floating or not, and the scroll up button. */



#header
{
	position: fixed;
	top: 0;
	left: 0;
	
	height: 40px;
	
	width: 100%;
	background-color: rgb(255, 255, 255);
	
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .15);
	
	z-index: 110;
}



#header-logo
{
	position: absolute;
	top: 5px;
	left: 5px;
	
	padding: 5px;
	border-radius: 5px;
	
	height: calc(100% - 20px);
	width: fit-content;
	
	display: flex;
	align-items: center;
	
	cursor: pointer;
}

#header-logo img
{
	height: 100%;
}

#header-logo span
{
	color: rgb(48, 48, 48);
	padding-left: 5px;
}

#header-logo.hover
{
	background-color: rgb(224, 224, 224);
}

#header-logo.hover span
{
	color: rgb(48, 48, 48) !important;
}



#header-links
{
	margin: 0 auto;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: fit-content;
}

#header-links a
{
	padding: 5px;
	border-radius: 5px;
	
	margin-left: 2.5px;
	margin-right: 2.5px;
	margin-top: 5px;
	margin-bottom: 5px;
	
	cursor: pointer;
	
	transition: none;
	
	height: calc(100% - 20px);
	
	display: flex;
	align-items: center;
	justify-content: center;
}

#header-links a span
{
	color: rgb(48, 48, 48);
}

#header-links a img
{
	height: 100%;
	display: none;
}

#header-gallery-link.hover
{
	background-color: rgb(198, 239, 198);
	
	color: rgb(48, 48, 48) !important;
}

#header-applets-link.hover
{
	background-color: rgb(255, 192, 193);
	
	color: rgb(48, 48, 48) !important;
}

#header-teaching-link.hover
{
	background-color: rgb(255, 240, 192);
	
	color: rgb(48, 48, 48) !important;
}

#header-writing-link.hover
{
	background-color: rgb(195, 224, 255);
	
	color: rgb(48, 48, 48) !important;
}

#header-about-link.hover
{
	background-color: rgb(224, 224, 224);
	
	color: rgb(48, 48, 48) !important;
}



#header-theme-button
{
	position: absolute;
	top: 5px;
	right: 5px;
	
	aspect-ratio: 1;
	
	padding: 6px;
	border-radius: 5px;
	
	height: calc(100% - 22px);
	width: fit-content;
	
	background-color: rgb(255, 255, 255);
	
	display: flex;
	align-items: center;
	
	cursor: pointer;
}

#header-theme-button.hover
{
	background-color: rgb(224, 224, 224);
}

#header-theme-button input
{
	height: 100%;
}



@media (max-width: 700px)
{
	#header-logo span
	{
		display: none;
	}
}

@media (max-width: 500px)
{
	#header-links a span
	{
		display: none;
	}

	#header-links a img
	{
		display: block;
	}
	
	#header-logo, #header-links a
	{
		padding: 2.5px;
		height: calc(100% - 15px);
	}
	
	#header-theme-button
	{
		padding: 5px;
		height: calc(100% - 20px);
	}
}

@media (max-width: 300px)
{
	#header
	{
		height: 30px;
	}
}

@media (max-width: 200px)
{
	#header
	{
		height: 20px;
	}
}