/* Adds support for the footer, floating or not, and the scroll up button. */



.footer-button
{
	width: 25px;
	
	align-self: flex-end;
	
	background-color: rgb(255, 255, 255);
	
	border: 2px solid rgb(127, 127, 127);
	border-radius: 50%;
	padding: 5px;
	
	cursor: pointer;
	outline: none;
}

.footer-button:not(:hover):focus
{
	transform: scale(1.1);
	outline: none;
}



.row:after
{
	content: "";
	display: table;
	clear: both;
}



.line-break
{
	margin: 0 auto;
	width: 70vw;
	margin-left: 15vw;
	height: 1px;
	
	position: absolute;
}

.line-break-0-0
{
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgb(160,160,160) 50%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgb(160,160,160) 50%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgb(160,160,160) 50%,rgba(255,255,255,0) 100%);
	
	opacity: 1;
}

.line-break-1-0
{
	background: -moz-linear-gradient(left, rgba(24, 24, 24, 0) 0%, rgb(116,116,116) 50%, rgba(24, 24, 24, 0) 100%);
	background: -webkit-linear-gradient(left, rgba(24, 24, 24, 0) 0%,rgb(116,116,116) 50%,rgba(24, 24, 24, 0) 100%);
	background: linear-gradient(to right, rgba(24, 24, 24, 0) 0%,rgb(116,116,116) 50%,rgba(24, 24, 24, 0) 100%);
	
	opacity: 0;
}

.line-break-0-1
{
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgb(120,120,120) 50%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgb(120,120,120) 50%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgb(120,120,120) 50%,rgba(255,255,255,0) 100%);
	
	opacity: 0;
}

.line-break-1-1
{
	background: -moz-linear-gradient(left, rgba(24, 24, 24, 0) 0%, rgb(164, 164, 164) 50%, rgba(24, 24, 24, 0) 100%);
	background: -webkit-linear-gradient(left, rgba(24, 24, 24, 0) 0%,rgb(164, 164, 164) 50%,rgba(24, 24, 24, 0) 100%);
	background: linear-gradient(to right, rgba(24, 24, 24, 0) 0%,rgb(164, 164, 164) 50%,rgba(24, 24, 24, 0) 100%);
	
	opacity: 0;
}



.footer-line-break
{
	width: 60vw !important;
	
	margin-left: 20vw;
	
	margin-bottom: 3vw;
}

.footer-line-break-big
{
	width: 80vw !important;
	
	margin-left: 10vw;
	
	margin-bottom: 3vw;
}



.footer-image-links
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 41vw;
	margin: 0 auto;
	margin-bottom: 3vw;
}

.footer-image-links-big
{
	width: 52vw;
}


.footer-image-link
{
	position: relative;
	float: left;
	width: 8vw;
	height: 8vw;
	display: inline-block;
	
	border-radius: 10%;
}

.footer-image-link img
{
	z-index: 101;
	
	position: absolute;
	width: 8vw;
	height: 8vw;
	
	border-radius: 10%;
}

.footer-image-link img:not(:hover):focus
{
	transform: scale(1.05);
	outline: none;
}



.footer-image-link-subtext-container
{
	margin-top: 0;
	
	z-index: 100;
	
	transition: margin-top .2s ease-out;
}

.footer-image-link-subtext-container p
{
	opacity: 0;
	
	color: rgb(127, 127, 127);
	text-align: center;
	font-size: 100%;
}



/* The area where the user can hover or tap to reveal the footer anywhere. */
#floating-footer
{
	position: fixed;
	bottom: 0;
	z-index: 100;
}

.footer-menu-button
{
	position: absolute;
	bottom: 6.25px;
	left: 10px;
}

#show-footer-menu-button
{
	z-index: 101;
}

#about-button, #sitemap-button, #settings-button, #debug-button
{
	z-index: 102;
	
	left: -40px;
	
	transition: left .25s ease;
}

#debug-button
{
	bottom: 104.25px;
}

#sitemap-button
{
	bottom: 55.25px;
}



#floating-footer-writing-link, #floating-footer-teaching-link, #floating-footer-applets-link, #floating-footer-about-link, #floating-footer-gallery-link
{
	transition: left .25s ease;
	
	z-index: 105;
}



#theme-button, #contrast-button, #text-size-button, #font-button, #content-animation-button
{
	z-index: 105;
	
	left: -40px;
	
	transition: left .25s ease;
}

#contrast-button
{
	bottom: 55.25px;
}

#text-size-button
{
	bottom: 104.25px;
}

#font-button
{
	bottom: 153.25px;
}

#content-animation-button
{
	bottom: 202.25px;
}

.settings-text-container
{
	position: fixed;
	
	top: 20px;
	width: 50vw;
	left: 25vw;
	
	z-index: 100;
}

.settings-text
{
	width: fit-content !important;
	
	margin: 0 auto;
	
	background-color: rgb(255, 255, 255);
	
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, .25);
	
	border-radius: 15px;
	
	padding: 10px;
	
	color: rgb(127, 127, 127) !important;
}



/* Compact layout: increase footer image link size to 12vw with gaps of 4vw in between. */
@media (max-aspect-ratio: 9/16), (max-width: 700px)
{
	.footer-line-break
	{
		width: 85vw !important;
		
		margin-left: 7.5vw !important;
		
		margin-bottom: 4vw !important;
	}

	.footer-line-break-big
	{
		width: 100vw !important;
		
		margin-left: 0 !important;
		
		margin-bottom: 4vw !important;
	}



	.footer-image-links
	{
		width: 60vw;
	}

	.footer-image-links-big
	{
		width: 76vw;
	}

	.footer-image-link
	{
		width: 12vw;
		height: 12vw;
	}

	.footer-image-link img
	{
		width: 12vw;
		height: 12vw;
	}
}