/* Adds support for image links, the main form of navigation on the site. */



.image-links
{
	display: grid;
	
	grid-template-columns: repeat(4, 1fr);
	
	/* Make the rows and columns have the same spacing. */
	grid-row-gap: 5vw;
	grid-column-gap: 5vw;
	
	width: 70vw;
	margin: 0 auto;
}

.image-links-double-column-container
{
	width: 70vw;
	margin: 0 auto;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	justify-content: space-between;
}

.image-link
{
	width: 100%;
	
	border-radius: 10%;
}

.image-link img
{
	width: 100%;
	
	border-radius: 10%;
	
	transition: transform .125s ease-in-out, filter .125s ease-in-out;
}

.image-link img.hover
{
	transform: scale(1.05);
}

.image-link img:not(:hover):focus
{
	transform: scale(1.05);
	outline: none;
}

.image-link-subtext
{
	margin-top: 1vh;
	margin-bottom: calc(-1vh - 16px);
	margin-left: -1.5vw;
	margin-right: -1.5vw;
	
	color: rgb(127, 127, 127);
	text-align: center;
	font-size: 100%;
}

/* Added to images with white around the edges to provide contrast. */
.image-link-light img
{
	filter: brightness(95%) !important;
}




@media (min-width: 1000px)
{
	.image-link-subtext
	{
		margin-bottom: calc(-1vh - 20px);
	}
}



/* Compact layout: reduce to two images per row. */
@media (max-aspect-ratio: 9/16), (max-width: 700px)
{
	.image-links
	{
		width: 90vw;
		
		grid-template-columns: repeat(2, 1fr);
		
		grid-row-gap: 10vw;
		grid-column-gap: 10vw;
	}
}



/* Ultrawide layout: increase to six images per row. */
@media (min-aspect-ratio: 16/9), (min-width: 1400px)
{
	.image-links
	{
		grid-template-columns: repeat(6, 1fr);
		
		grid-row-gap: 3vw;
		grid-column-gap: 3vw;
	}
}



.multicol-block
{
	margin-top: 10vh;
}

.image-links-double-column-container .multicol-block
{
	margin-top: 10vh;
}

section ~ section .image-links-double-column-container .multicol-block
{
	margin-top: 0;
}

.image-links-double-column-container .section-text, .image-links-double-column-container .heading-text
{
	width: 30.5vw;
}

.image-links-double-column-container .image-links
{
	width: 30.5vw;
	
	grid-template-columns: repeat(3, 1fr);
	
	grid-row-gap: 1.5vw;
	grid-column-gap: 1.5vw;
}

.multicol-text
{
	width: 30.5vw;
}