/* Adds support for image links, the main form of navigation on the site. */



.image-links
{
	display: grid;
	
	grid-row-gap: 18px;
	grid-column-gap: 30px;
	grid-template-columns: repeat(5, 1fr);
	justify-content: center;
	
	width: min(900px, 90vw);
	margin: 0 auto;
	
	margin-top: 48px;
}

.image-link
{
	width: 100%;
	
	border-radius: 10%;
}

.image-link img
{
	width: 100%;
	aspect-ratio: 1;
	
	border-radius: 10%;
	
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .16);
}

.image-link img:not(:hover):focus
{
	transform: scale(1.05);
	outline: none;
}

.image-link-subtext
{
	margin-top: 10px;
	width: calc(100% + 10px);
	margin-left: -5px;
	
	
	color: var(--normal-contrast);
	text-align: center;
	font-size: 100%;
}



img[src="/gallery/cover.webp"]
{
	background-color: rgb(74.84% 93.59% 73.79%);
	background-color: lch(90% 30 140);
}

img[src="/applets/cover.webp"]
{
	background-color: rgb(100% 81.25% 82.79%);
	background-color: lch(87.5% 32.5 15);
}

img[src="/teaching/cover.webp"]
{
	background-color: rgb(96.61% 88.19% 58.38%);
	background-color: lch(95% 35 90);
}

img[src="/slides/cover.webp"]
{
	background-color: rgb(91.32% 86.89% 100%);
	background-color: lch(90% 32.5 300);
}

img[src="/writing/cover.webp"]
{
	background-color: rgb(80.89% 90.01% 100%);
	background-color: lch(90% 20 255);
}

img[src="/about/cover.webp"]
{
	background-color: rgb(88.76% 88.76% 88.76%);
	background-color: lch(90% 0 0);
}



@media (max-width: 967px)
{
	.image-links
	{
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 776px)
{
	.image-links
	{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 574px)
{
	.image-links
	{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 330px)
{
	.image-links
	{
		grid-template-columns: repeat(1, 200px);
	}
}

@media (max-width: 222px)
{
	.image-links
	{
		grid-template-columns: repeat(1, 1fr);
	}
	
	.image-link-subtext
	{
		font-size: 75%;
	}
}