/* Adds support for image links, the main form of navigation on the site. */



.image-links
{
	display: grid;
	
	grid-template-columns: repeat(4, 1fr);
	
	/* Make the rows and columns have the same spacing. */
	grid-row-gap: 5vw;
	grid-column-gap: 5vw;
	
	width: 70vw;
	margin: 0 auto;
}

.image-link
{
	width: 100%;
	
	border-radius: 10%;
}

.image-link img
{
	width: 100%;
	
	border-radius: 10%;
	
	transition: filter .15s ease-in-out;
	filter: brightness(100%);
}

.image-link img.hover
{
	filter: brightness(75%);
}

.image-link img:not(:hover):focus
{
	filter: brightness(75%);
	outline: none;
}

.image-link-subtext
{
	margin-top: 1vh;
	margin-bottom: calc(-1vh - 16px);
	margin-left: -1.5vw;
	margin-right: -1.5vw;
	
	color: rgb(127, 127, 127);
	text-align: center;
	font-size: 100%;
}

/* Added to images with white around the edges to provide contrast. */
.image-link-light img
{
	filter: brightness(95%) !important;
}

.image-link-light img.hover
{
	filter: brightness(75%) !important;
}

.image-link-light img:not(:hover):focus
{
	filter: brightness(75%) !important;
	outline: none;
}




@media (min-width: 1000px)
{
	.image-link-subtext
	{
		margin-bottom: calc(-1vh - 20px);
	}
}



/* Compact layout: reduce to two images per row. */
@media (max-aspect-ratio: 9/16), (max-width: 700px)
{
	.image-links
	{
		width: 90vw;
		
		grid-template-columns: repeat(2, 1fr);
		
		grid-row-gap: 10vw;
		grid-column-gap: 10vw;
	}
}



/* Ultrawide layout: increase to six images per row. */
@media (min-aspect-ratio: 16/9), (min-width: 1400px)
{
	.image-links
	{
		grid-template-columns: repeat(6, 1fr);
		
		grid-row-gap: 3vw;
		grid-column-gap: 3vw;
	}
}