/* Provides support for the various kinds of text, the logo, and the footer. */



html
{
	font-size: 16px;
	font-family: "Rubik", sans-serif;
	
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	min-height: 100vh;
	
	overflow-x: hidden;
	overflow-y: scroll;
}

body
{
	margin: 0;
	padding: 0;
	
	overflow-x: hidden;
	
	-webkit-text-size-adjust: 100%;
}

.page
{
	overflow-x: hidden;
}



header
{
	margin-top: 80px;
	margin-bottom: 32px;
}

section
{
	margin-bottom: 128px;
}



a
{
	color: rgb(127, 192, 127);
	text-decoration: none;
	transition: color .125s ease-in-out;
	
	cursor: pointer;
}

a.hover
{
	color: rgb(192, 255, 192);
}

a:not(:hover):focus
{
	color: rgb(192, 255, 192);
	outline: none;
}

p, h1, h2
{
	margin: 0;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	
	font-weight: normal;
}

q
{
	font-style: italic;
}

q:before, q:after
{
	content: "";
}

dfn
{
	font-weight: bold;
	font-style: normal;
}

code
{
	font-family: Menlo, Monaco, Consolas, monospace;
}

pre code.highlightable
{
	position: relative;
	width: calc(70vw - 24px);
	margin: 0 auto;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
}



img
{
	transform: translateZ(0);
	perspective: 1000;
	
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}



#logo, #logo-no-link
{
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

#logo img, #logo-no-link img
{
	position: absolute;
	width: 100px;
	height: 100px;
	
	border-radius: 50px;
};

#logo img:not(:hover):focus
{
	transform: scale(1.05);
	outline: none;
}



.heading-text, .section-text, .body-text, .date-text, .song-lyrics
{
	position: relative;
	width: 70vw;
	margin: 0 auto;
	margin-bottom: 16px;
}

.body-text.narrow
{
	width: 60vw;
}

.heading-text
{
	font-size: 175%;
	color: rgb(0, 0, 0);
	text-align: center;
}

.date-text
{
	font-size: 100%;
	color: rgb(0, 0, 0);
	text-align: center;
}

.section-text
{
	font-size: 125%;
	color: rgb(48, 48, 48);
	text-align: center;
}

.body-text
{
	font-size: 100%;
	color: rgb(96, 96, 96);
	text-align: justify;
	line-height: 1.55;
}



.body-text span
{
	display: inline-block;
	text-align: justify;
}

/* Centers body text, but only if it's a single line (not long enough to justify). */
.center-if-needed
{
	text-align: center !important;
}



/* Centers whatever's inside of it, no margins needed. For use when margin: 0 auto just won't work. */
.center-content
{
	display: flex;
	justify-content: center;
	margin: 0 auto;
}



.foreign-language
{
	font-style: italic;
}



/* Applied whenever things need an opacity animation. Usually a substitute for $().animate. */
.animated-opacity
{
	transition: opacity .25s ease-in-out;
}



/* Used on pages with nonstandard background colors to fade to the default. */
.background-transition
{
	transition: background-color .5s ease-in-out !important;
}



#MathJax_Message
{
	display: none !important;
}

mjx-container
{
	overflow-x: auto;
	overflow-y: hidden;
	margin: 0 !important;
}

.tex-holder
{
	background-color: rgba(255, 255, 255, 0);
	
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .2);
	
	max-width: 100%;
}

.tex-holder.hover
{
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .2);
}

.tex-holder.active
{
	cursor: pointer;
	
	transition: box-shadow .1s ease-out;
}



#card-container
{
	position: fixed;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100vh;
	
	z-index: 1000;
	
	display: none;
	justify-content: center;
	align-items: center;
	
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

.card
{
	position: relative;
	
	opacity: 0.01;
	
	width: min(70vw, 100vw - 64px);
	padding: 16px;
	border-radius: 16px;
	
	max-height: calc(100vh - 64px);
	
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .3);
	
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	
	scrollbar-width: none;
}

.card::-webkit-scrollbar
{
	display: none;
}

.card::-webkit-scrollbar
{
	display: none;
}

.card .body-text, .card .section-text, .card .heading-text
{
	width: 100% !important;
	
	text-align: left;
}

.card .heading-text
{
	/* Makes things look just a little nicer. */
	
	margin-top: -4.5px;
	width: calc(100% - 50px) !important;
	margin-left: 0;
}

.card > *:last-child
{
	margin-bottom: 0;
}

#card-container .card
{
	display: block !important;
}

#card-close-button
{
	position: fixed;
	
	top: 0;
	right: 0;
	
	font-size: 32px;
	color: rgb(48, 48, 48);
	
	cursor: pointer;
	
	border-radius: 10px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: rgb(255, 255, 255);
	
	width: 38px;
	
	margin: 6px;
	
	z-index: 1001;
}

#card-close-button.hover
{
	background-color: rgb(224, 224, 224);
}



*:focus
{
	outline: none;
}



/* Compact layout: reduce margins. */
@media (max-width: 700px)
{
	.heading-text, .section-text, .body-text, .date-text, .line-break
	{
		width: 90vw;
	}
	
	.body-text.narrow
	{
		width: 80vw;
	}
	
	pre code.highlightable
	{
		width: 90vw;
	}
	
	.line-break
	{
		left: 5vw;
	}
	
	.card
	{
		width: min(90vw, 100vw - 64px);
	}
}

@media (min-width: 1400px)
{
	pre code.highlightable
	{
		width: calc(50vw - 24px);
	}
}