iframe
{
	margin-top: -46px;
	
	width: calc(75vmin - 4px);
	height: calc(75vmin - 4px + 46px);
	
	border: none;
}

.iframe-clipper
{
	position: absolute;
	width: calc(75vmin - 4px);
	height: calc(75vmin - 4px);
	
	border: 2px solid rgb(255, 255, 255);
	
	border-radius: 13px;
	
	overflow-y: hidden;
	
	transition: border-color .25s ease-in-out;
}

.iframe-outer-border
{
	border: 2px solid rgb(127, 127, 127);
	border-radius: 15px;
	width: 75vmin;
	height: 75vmin;
}

.iframe-container
{
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: calc(75vmin + 4px);
	display: flex;
	justify-content: center;
	
	margin-top: 5vh;
	margin-bottom: 5vh;
}



.notes-image
{
	width: 70%;
	margin: 0 auto;
}



.notes-example, .notes-exercise, .notes-def, .notes-prop, .notes-thm, .notes-proof, .notes-comment, .notes-cor, .notes-lemma, .notes-axiom
{
	width: calc(70% - 16px);
	margin: 0 auto;
	margin-bottom: 16px;
	border-width: 0 0 0 4px;
	border-style: solid;
	padding: 0 0 0 10px;
}

.notes-def
{
	border-color: rgb(63, 127, 63);
}

.notes-example, .notes-exercise
{
	border-color: rgb(127, 127, 127);
}

.notes-prop, .notes-thm
{
	border-color: rgb(127, 85, 63);
}

.notes-proof
{
	border-color: rgb(74, 63, 127);
}

.notes-comment
{
	border-color: rgb(63, 106, 127);
}

.notes-cor
{
	border-color: rgb(63, 85, 127);
}

.notes-lemma
{
	border-color: rgb(127, 127, 63);
}

.notes-axiom
{
	border-color: rgb(127, 63, 63);
}



.notes-example br:last-child, .notes-exercise br:last-child, .notes-def br:last-child, .notes-prop br:last-child, .notes-thm br:last-child, .notes-proof br:last-child, .notes-comment br:last-child, .notes-cor br:last-child, .notes-lemma br:last-child, .notes-axiom br:last-child
{
	display: none;
}

.notes-example .iframe-container:last-child, .notes-exercise .iframe-container:last-child, .notes-def .iframe-container:last-child, .notes-prop .iframe-container:last-child, .notes-thm .iframe-container:last-child, .notes-proof .iframe-container:last-child, .notes-comment iframe:last-child, .notes-cor .iframe-container:last-child, .notes-lemma .iframe-container:last-child, .notes-axiom .iframe-container:last-child
{
	margin-bottom: 0;
}



.notes-example-title, .notes-exercise-title, .notes-def-title, .notes-prop-title, .notes-thm-title, .notes-proof-title, .notes-comment-title, .notes-cor-title, .notes-lemma-title, .notes-axiom-title
{
	color: rgb(255, 255, 255) !important;
	
	border-radius: 5px;
	padding: 2px 4px 2px 4px;
	
	margin-right: 4px;
	
	font-weight: bold;
	font-style: normal;
}

.notes-def-title
{
	background-color: rgb(63, 127, 63);
}

.notes-example-title, .notes-exercise-title
{
	background-color: rgb(127, 127, 127);
}

.notes-prop-title, .notes-thm-title
{
	background-color: rgb(127, 85, 63);
}

.notes-proof-title
{
	background-color: rgb(74, 63, 127);
}

.notes-comment-title
{
	background-color: rgb(63, 106, 127);
}

.notes-cor-title
{
	background-color: rgb(63, 85, 127);
}

.notes-lemma-title
{
	background-color: rgb(127, 127, 63);
}

.notes-axiom-title
{
	background-color: rgb(127, 63, 63);
}



@media (max-width: 700px)
{
	.notes-example, .notes-exercise, .notes-def, .notes-prop, .notes-thm, .notes-proof, .notes-comment, .notes-cor, .notes-lemma, .notes-axiom
	{
		width: calc(90% - 16px);
	}
	
	.notes-example .body-text, .notes-exercise .body-text, .notes-def .body-text, .notes-prop .body-text, .notes-thm .body-text, .notes-proof .body-text, .notes-comment .body-text, .notes-cor .body-text, .notes-lemma .body-text, .notes-axiom .body-text
	{
		width: 100%;
	}
}

@media (min-width: 1400px)
{
	.notes-example, .notes-exercise, .notes-def, .notes-prop, .notes-thm, .notes-proof, .notes-comment, .notes-cor, .notes-lemma, .notes-axiom
	{
		width: calc(50% - 16px);
	}
}