iframe
{
	width: calc(75vmin - 4px);
	height: calc(75vmin - 4px);
	
	border: none;
	
	background-color: rgb(255, 255, 255);
}

.iframe-clipper
{
	position: absolute;
	width: calc(75vmin - 4px);
	height: calc(75vmin - 4px);
	
	border: 2px solid rgb(255, 255, 255);
	
	border-radius: 13px;
	
	overflow-y: hidden;
	
	transition: border-color .25s ease-in-out;
}

.iframe-outer-border
{
	border: 2px solid rgb(127, 127, 127);
	border-radius: 15px;
	width: 75vmin;
	height: 75vmin;
}

.iframe-container
{
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: calc(75vmin + 4px);
	display: flex;
	justify-content: center;
	
	margin-top: 5vh;
	margin-bottom: 5vh;
}



.desmos-border
{
	margin: 0 auto;
	
	border: 2px solid rgb(127, 127, 127);
	border-radius: 15px;
	padding: 2px;
	
	margin-bottom: 16px;
}

.desmos-container
{
	border-radius: 11px;
}

.dcg-container
{
	border-radius: 11px !important;
}

.desmos-border, .desmos-container, .dcg-container
{
	width: calc(70vw - 4px) !important;
	height: calc(70vw - 4px) !important;
}

.notes-environment .desmos-border, .notes-environment .desmos-container, .notes-environment .dcg-container
{
	width: calc(70vw - 20px) !important;
	height: calc(70vw - 20px) !important;
}



.notes-image
{
	width: 70%;
	margin: 0 auto;
}



.notes-environment
{
	width: calc(70vw - 12px);
	margin: 0 auto;
	margin-bottom: 16px;
	border-width: 0 0 0 4px;
	border-style: solid;
	padding: 0 0 0 8px;
}

.notes-environment .body-text
{
	width: 100% !important;
}

.notes-def
{
	border-color: rgb(3% 54% 0%);
}

.notes-example
{
	border-color: rgb(47% 47% 47%);
}

.notes-exercise
{
	border-color: rgb(0% 50% 74%);
}

.notes-prop, .notes-thm
{
	border-color: rgb(72% 37% 0%);
}

.notes-proof
{
	border-color: rgb(63% 27% 100%);
}

.notes-cor
{
	border-color: rgb(0% 4% 57%);
}

.notes-lemma
{
	border-color: rgb(78% 66% 0%);
}

.notes-axiom
{
	border-color: rgb(74% 1% 0%);
}



.notes-environment br:last-child
{
	display: none;
}

.notes-environment .iframe-container:last-child
{
	margin-bottom: 0;
}



.notes-example-title, .notes-exercise-title, .notes-def-title, .notes-prop-title, .notes-thm-title, .notes-proof-title, .notes-cor-title, .notes-lemma-title, .notes-axiom-title
{
	color: rgb(255, 255, 255) !important;
	
	border-radius: 5px;
	padding: 0px 6px 0px 6px;
	
	margin-right: 4px;
	
	font-weight: bold;
	font-style: normal;
}

.notes-def-title
{
	background-color: rgb(3% 54% 0%);
}

.notes-example-title
{
	background-color: rgb(47% 47% 47%);
}

.notes-exercise-title
{
	background-color: rgb(0% 50% 74%);
}

.notes-prop-title, .notes-thm-title
{
	background-color: rgb(72% 37% 0%);
}

.notes-proof-title
{
	background-color: rgb(63% 27% 100%);
}

.notes-cor-title
{
	background-color: rgb(0% 4% 57%);
}

.notes-lemma-title
{
	background-color: rgb(78% 66% 0%);
}

.notes-axiom-title
{
	background-color: rgb(74% 1% 0%);
}



@media (max-width: 700px)
{
	.notes-environment
	{
		width: calc(90vw - 12px);
	}
	
	.desmos-border, .desmos-container, .dcg-container
	{
		width: calc(90vw - 4px) !important;
		height: calc(90vw - 4px) !important;
	}
	
	.notes-environment .desmos-border, .notes-environment .desmos-container, .notes-environment .dcg-container
	{
		width: calc(90vw - 20px) !important;
		height: calc(90vw - 20px) !important;
	}
}

@media (min-width: 1400px)
{
	.notes-example, .notes-exercise, .notes-def, .notes-prop, .notes-thm, .notes-proof, .notes-cor, .notes-lemma, .notes-axiom
	{
		width: calc(50vw - 12px);
	}
	
	.desmos-border, .desmos-container, .dcg-container
	{
		width: calc(50vw - 4px) !important;
		height: calc(50vw - 4px) !important;
	}
	
	.notes-environment .desmos-border, .notes-environment .desmos-container, .notes-environment .dcg-container
	{
		width: calc(50vw - 20px) !important;
		height: calc(50vw - 20px) !important;
	}
}