#slide-container
{
	display: flex;
	flex-direction: column;
	
	align-items: center;
	justify-content: center;
	
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	overflow-y: hidden;
}

.slide
{
	position: relative;
	
	width: 90vw;
	height: 50.625vw;
	
	border-radius: 2.5vw;
	
	padding: 2.5vw;
	
	box-shadow: 0px 0px 8px 0px rgb(127, 127, 127);
}

.slide .heading-text, .slide .section-text, .slide .body-text
{
	width: 100%;
	
	text-align: left;
	
	line-height: 1.25;
}

.slide .heading-text
{
	font-size: 5vw;
	
	margin-top: -1vw;
}

.slide .section-text
{
	font-size: 3vw;
}

.slide .body-text
{
	font-size: 2vw;
}

.footer-text
{
	width: 100%;
	position: absolute;
	bottom: 0;
}



@media (min-aspect-ratio: 16/9)
{
	.slide
	{
		height: 90vh;
		width: 50.625vh;
		
		border-radius: 2.5vh;
		
		padding: 2.5vh;
	}
	
	.slide .heading-text
	{
		font-size: 5vh;
		
		margin-top: -1vh;
	}

	.slide .section-text
	{
		font-size: 3vh;
	}

	.slide .body-text
	{
		font-size: 2vh;
	}
}