#slide-container
{
	display: flex;
	flex-direction: column;
	
	align-items: center;
	justify-content: center;
	
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	overflow-y: hidden;
}

.slide
{
	position: relative;
	
	width: 90vw;
	height: 50.625vw;
	
	border-radius: 2.5vw;
	
	padding: 2.5vw;
	
	box-shadow: 0px 0px 8px 0px rgb(127, 127, 127);
}

.slide .heading-text, .slide .section-text, .slide .body-text
{
	width: 100%;
	
	text-align: left;
	
	line-height: 1.25;
}

.slide .heading-text
{
	font-size: 5vw;
	
	margin-top: -1vw;
	
	margin-bottom: 1.5vw;
}

.slide .section-text
{
	font-size: 3vw;
	
	margin-bottom: 1.5vw;
}

.slide .body-text
{
	font-size: 2vw;
	
	margin-bottom: 1.5vw;
}

.footer-text
{
	width: 100%;
	position: absolute;
	bottom: calc(2.5vw - 4px);
}

.footer-text p
{
	margin-bottom: 0 !important;
}



.slide .wilson-applet-canvas-container
{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.slide canvas
{
	border-radius: 15px;
}

.bottom-right-canvas #canvas-bundle
{
	position: absolute;
	
	right: 2.5vw;
	bottom: calc(2.5vw - 4px);
}

.bottom-middle-canvas #canvas-bundle
{
	position: absolute;
	
	left: 27.5vw;
	bottom: calc(2.5vw - 4px);
}

.medium-canvas canvas
{
	width: 40vw;
	height: 40vw;
}

.large-canvas canvas
{
	width: 45vw;
	height: 45vw;
}



/* By default, the slide is 95vw wide due to the padding, and the height is 55.625vw. This aspect ratio is 152:89, so when we're larger than that, we switch to measuring in terms of vh instead. At the switching point, 1vw = 1vh * 152/89, which we use for our calculations. */
@media (min-aspect-ratio: 152/89)
{
	.slide
	{
		height: calc(50.625vh * 152 / 89);
		width: calc(90vh * 152 / 89);
		
		border-radius: calc(2.5vh * 152 / 89);
		
		padding: calc(2.5vh * 152 / 89);
	}
	
	.slide .heading-text
	{
		font-size: calc(5vh * 152 / 89);
		
		margin-top: calc(-1vh * 152 / 89);
		
		margin-bottom: calc(1.5vh * 152 / 89);
	}

	.slide .section-text
	{
		font-size: calc(3vh * 152 / 89);
		
		margin-bottom: calc(1.5vh * 152 / 89);
	}

	.slide .body-text
	{
		font-size: calc(2vh * 152 / 89);
		
		margin-bottom: calc(1.5vh * 152 / 89);
	}
	
	.footer-text
	{
		bottom: calc(2.5vh * 152 / 89 - 4px);
	}
	
	
	
	.bottom-right-canvas #canvas-bundle
	{
		bottom: calc(2.5vh * 152 / 89 - 4px);
		right: calc(2.5vh * 152 / 89);
	}
	
	.bottom-middle-canvas #canvas-bundle
	{
		left: calc(27.5vh * 152 / 89);
		bottom: calc(2.5vh * 152 / 89 - 4px);
	}
	
	.medium-canvas canvas
	{
		width: calc(40vh * 152 / 89);
		height: calc(40vh * 152 / 89);
	}
	
	.large-canvas canvas
	{
		width: calc(45vh * 152 / 89);
		height: calc(45vh * 152 / 89);
	}
}