#slide-container
{
	display: flex;
	flex-direction: column;
	
	align-items: center;
	justify-content: center;
	
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	overflow-y: hidden
}

.slide
{
	width: 90vw;
	height: 50.625vw;
	
	border-radius: 50px;
	
	padding: 25px;
	
	box-shadow: 0px 0px 8px 0px rgb(127, 127, 127);
}

.slide .heading-text, .slide .section-text, .slide .body-text
{
	width: 100%;
	
	text-align: center;
}

@media (min-aspect-ratio: 90/50.625)
{
	.slide
	{
		height: 90vh;
		width: 50.625vh;
	}
}