/* Provides support for a progress bar and fillable bubbles, both to indicate progress toward something. */



.stage-bubbles
{
	display: grid;
	
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: calc(27.5vw - 12px);
	grid-row-gap: 5vw;
	
	width: 70vw;
	margin: 0 auto;
}

.stage-bubble
{
	width: 5vw;
	height: 5vw;
	
	border: 2px solid rgb(152, 152, 152);
	border-radius: 10%;
	padding: 2px;
}

.stage-bubble span
{
	width: 0%;
	height: 0%;
	margin: 0 auto;
	position: relative;
	display: block;
	
	border-radius: calc(10% - 3px);
	
	background-color: rgb(152, 152, 152);
	overflow: hidden;
	
	transition: width 1.2s ease, height 1.2s ease, background-color 1.2s ease;
	
	top: 50%;
  	transform: translateY(-50%);
}

.stage-bubble-subtext
{
	width: 17.5vw;
	margin-left: -6.25vw;
	margin-top: calc(5vw + 1vh);
	text-align: center;
	
	transition: margin-top 1.2s ease;
}



.progress-bar
{
	width: calc(70vw - 8px);
	height: 5vh;
	margin: 0 auto;
	border: 2px solid rgb(152, 152, 152);
	
	border-radius: 7px;
	
	padding: 2px;
}

.progress-bar span
{
	width: 0%;
	position: relative;
	display: block;
	height: 100%;
	
	border-radius: 3px;
	
	background-color: rgb(152, 152, 152);
	overflow: hidden;
	
	transition: width 1.2s ease;
}



.loading-spinner
{
	width: 40px;
	height: 40px;
}

.loading-spinner:after
{
	content: " ";
	display: block;
	width: 32px;
	height: 32px;
	margin: 4px;
	border-radius: 50%;
	border: 4px solid rgb(127, 127, 127);
	border-color: rgb(127, 127, 127) transparent rgb(127, 127, 127) transparent;
	animation: loading-spinner 1.2s linear infinite;
}

@keyframes loading-spinner
{
	0%
	{
		transform: rotate(0deg);
	}
	
	100%
	{
		transform: rotate(360deg);
	}
}



/* Compact layout: fit to the correct margins. */
@media (max-aspect-ratio: 9/16), (max-width: 700px)
{
	.stage-bubbles
	{
		width: 90vw;
		
		grid-column-gap: calc(30vw - 12px);
		grid-row-gap: 10vw;
	}
	
	.stage-bubble
	{
		width: 10vw;
		height: 10vw;
	}
	
	.stage-bubble-subtext
	{
		margin-top: calc(10vw + 1vh);
		width: 25vw;
		margin-left: -7.5vw;
	}
	
	.progress-bar
	{
		width: calc(90vw - 8px);
	}
}



/* Ultrawide layout: put the stage bubbles on one line. */
@media (min-aspect-ratio: 16/9), (min-width: 1400px)
{
	.stage-bubbles
	{
		grid-template-columns: repeat(6, 1fr);
		
		grid-column-gap: calc(8vw - 9.6px);
	}
}