/* Provides support for navigation buttons, decorative images, and song lyrics, all used in blog posts and other writing pages. */



.song-lyrics
{
	font-size: 100%;
	color: rgb(127, 127, 127);
	text-align: center;
	font-family: "Gentium Book Basic", serif;
}



.nav-buttons
{
	display: flex;
	width: 70vw;
	margin: 0 auto;
	justify-content: space-between;
}

.nav-button
{
	color: rgb(127, 127, 127);
	background-color: rgb(255, 255, 255);
	height: 20px;
	position: relative;
	opacity: 1;

	border: 2px solid rgb(127, 127, 127);
	border-radius: 10px;
	padding: 10px;
	
	transition: filter .1s ease-in-out;
	filter: brightness(100%);
	
	outline: none;
}

.nav-button.hover
{
	filter: brightness(75%);
}

.nav-button:not(:hover):focus
{
	filter: brightness(75%);
	outline: none;
}



/* Used for two small horizontal images side by side. */
.image-row
{
	display: flex;
	width: 70vw;
	margin: 0 auto;
	justify-content: space-between;
}

.big-image-horizontal
{
	position: relative;
	width: 70vw;
	height: auto;
	margin-left: 15vw;
	display: inline-block;
}

.small-image-horizontal
{
	position: relative;
	float: left;
	width: 32.5vw;
	height: auto;
	display: inline-block;
}

.big-image-vertical
{
	position: relative;
	width: 50vw;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.small-image-vertical
{
	position: relative;
	width: 30vw;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.big-image-horizontal, .small-image-horizontal, .big-image-vertical, .small-image-vertical
{
	transition: filter .1s ease-in-out;
	filter: brightness(100%);
}

.big-image-horizontal.hover, .small-image-horizontal.hover, .big-image-vertical.hover, .small-image-vertical.hover
{
	filter: brightness(75%);
}

.big-image-horizontal:not(:hover):focus, .small-image-horizontal:not(:hover):focus, .big-image-vertical:not(:hover):focus, .small-image-vertical:not(:hover):focus
{
	filter: brightness(75%);
	outline: none;
}



/* Compact layout: fit the images to the correct margins. */
@media (max-aspect-ratio: 9/16), (max-width: 700px)
{
	.song-lyrics
	{
		width: 90vw;
	}
	
	
	
	.nav-buttons
	{
		width: 90vw;
	}
	
	
	
	.big-image-horizontal
	{
		width: 90vw;
		margin-left: 5vw;
	}

	.small-image-horizontal
	{
		width: 42.5vw;
	}
	
	.image-row
	{
		width: 90vw;
	}

	.big-image-vertical
	{
		width: 60vw;
	}
	
	.small-image-vertical
	{
		width: 40vw;
	}
}



/* Ultrawide layout: tone down the height of the images so that they don't fill the whole screen. */
@media (min-aspect-ratio: 16/9), (min-width: 1400px)
{
	.big-image-horizontal
	{
		width: 50vw;
		margin-left: 25vw;
	}
	
	
	
	.big-image-vertical
	{
		width: 25vw;
	}
	
	.small-image-vertical
	{
		width: 25vw;
	}
}