#output-canvas-container
{
	position: absolute;
	width: calc(75vmin + 8px);
}

#output-canvas-container.fullscreen
{
	width: 100%;
}



#quasi-fuchsian-groups-plot
{
	position: absolute;
	
	width: 75vmin;
	height: 75vmin;
	margin: 0 auto;
	
	border: 2px solid rgb(127, 127, 127);
	border-radius: 15px;
	padding: 2px;
	
	transition: opacity .3s ease-in-out;
	
	user-select: none;
	-webkit-user-select: none;
}

#coefficient-selector
{
	position: absolute;
	
	width: 75vmin;
	height: 75vmin;
	margin: 0 auto;
	
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 15px;
	padding: 2px;
	
	transition: opacity .3s ease-in-out;
	
	user-select: none;
	-webkit-user-select: none;
}

.coefficient-marker
{
	position: absolute;
	
	width: 25px;
	height: 25px;
	
	left: 0;
	top: 0;
	
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(0, 0, 0);
	border-radius: 50%;
	
	touch-action: none;
	user-select: none;
	-webkit-user-select: none;
	
	cursor: pointer;
	
	transition: background-color .15s ease-in-out, opacity .3s ease-in-out;
}

.coefficient-marker:active
{
	background-color: rgb(127, 127, 127);
}