#output-canvas
{
	aspect-ratio: 1024 / 683;
}

#guess-canvases
{
	width: 100%;
	margin-top: 16px;
	margin-bottom: 16px;

	display: grid;
	grid-template-columns: repeat(3, 1fr);

	row-gap: 16px;
	column-gap: 16px;
}

.guess
{
	position: relative;
}

.guess-canvas, .overlay-canvas
{
	width: calc(100% - 8px);
	aspect-ratio: 1024 / 683;
	border-radius: 12px;
	padding: 2px;
	border: 2px solid var(--normal-contrast);
}

.overlay-canvas
{
	opacity: 0;
}

.guess > *:last-child
{
	position: absolute;
	top: 0;
	left: 0;
}

.WILSON_applet-container
{
	margin-top: 0 !important;
}

#guess-canvases .WILSON_draggables-container
{
	cursor: pointer;
}