/* The gallery is divided into sections, each of which is a 2x3 rectangle. This can be:
	- one large image
	- two 1x1s and then a 2x2
	- a 2x2 and then two 1x1s
	- two 1x1s and then two 2x1s
	- two 2x1s and then two 1x1s
	
	These are then placed together: one per row on the compact layout, two on the default layout, and three on the ultrawide.
*/

#gallery
{
	width: calc(100% - 20px);
	margin: 10px;
	
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	
	grid-gap: 10px;
}

.gallery-block
{
	width: 100%;
	
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	
	grid-gap: 10px;
}

.gallery-image-1-1 img, .gallery-image-2-2 img, .gallery-image-3-3 img
{
	width: 100%;
	height: 100%;
	
	object-fit: cover;
	
	transition: transform .125s ease-in-out; 
}

.gallery-image-1-1
{
	grid-row: span 1;
	grid-column: span 1;
}

.gallery-image-2-2
{
	grid-row: span 2;
	grid-column: span 2;
}

.gallery-image-3-3
{
	grid-row: span 3;
	grid-column: span 3;
}


.gallery-image-1-1 img.hover, .gallery-image-2-2 img.hover, .gallery-image-3-3 img.hover
{
	transform: scale(1.05);
}

.gallery-image-1-1 img:not(:hover):focus, .gallery-image-2-2 img:not(:hover):focus, .gallery-image-3-3 img:not(:hover):focus
{
	transform: scale(1.05);
}



@media (max-aspect-ratio: 9/16), (max-width: 700px)
{
	#gallery
	{
		grid-template-columns: 1fr;
	}
}

@media (min-aspect-ratio: 16/9), (min-width: 1400px)
{
	#gallery
	{
		grid-template-columns: repeat(3, 1fr);
	}
}