section
{
	margin-bottom: 0 !important;
}

.body-text:first-of-type
{
	width: min(100% - 64px, 100% - env(safe-area-inset-left) - env(safe-area-inset-right));
}

@media (max-width: 500px)
{
	.body-text:first-of-type
	{
		width: min(100% - 32px, 100% - env(safe-area-inset-left) - env(safe-area-inset-right));
	}
}

#gallery
{
	padding: 10px;
	padding-top: 50px;
	margin-bottom: 0px;
	overflow: hidden;
	
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	
	grid-gap: 10px;
}

.page
{
	width: calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right)) !important;
	padding-left: env(safe-area-inset-left) !important;
	padding-right: env(safe-area-inset-right) !important;
}

.gallery-block
{
	width: 100%;
	
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	
	grid-gap: 10px;
}

.gallery-image-1-1, .gallery-image-2-2, .gallery-image-3-3
{
	font-size: 0;
}

.gallery-image-1-1 img, .gallery-image-2-2 img, .gallery-image-3-3 img
{
	width: 100%;
	
	object-fit: cover;
	
	cursor: pointer;
}

.gallery-image-1-1
{
	grid-row: span 1;
	grid-column: span 1;
}

.gallery-image-2-2
{
	grid-row: span 2;
	grid-column: span 2;
}

.gallery-image-3-3
{
	grid-row: span 3;
	grid-column: span 3;
}

.gallery-image-1-1 img.hover, .gallery-image-2-2 img.hover, .gallery-image-3-3 img.hover
{
	outline: 2px solid var(--contrast-border-color);
}


#high-res-viewer-card img
{
	max-width: 100%;
	width: calc(100vh - 300px);
	aspect-ratio: 1;
	border-radius: 16px;
}

.card
{
	max-width: none !important;
}



@media (max-width: 2100px)
{
	#gallery
	{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 1400px)
{
	#gallery
	{
		grid-template-columns: repeat(2, 1fr);
	}
}


@media (max-width: 700px)
{
	#gallery
	{
		grid-template-columns: 1fr;
	}
}