section
{
	margin-bottom: 10px !important;
}

#gallery
{
	width: calc(100vw - 20px);
	
	margin-top: 50px;
	margin-left: 10px;
	
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	
	grid-gap: 10px;
}

.gallery-block
{
	width: 100%;
	
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	
	grid-gap: 10px;
}

.gallery-image-1-1, .gallery-image-2-2, .gallery-image-3-3
{
	font-size: 0;
}

.gallery-image-1-1 img, .gallery-image-2-2 img, .gallery-image-3-3 img
{
	width: 100%;
	
	object-fit: cover;
	
	cursor: pointer;
}

.gallery-image-1-1
{
	grid-row: span 1;
	grid-column: span 1;
}

.gallery-image-2-2
{
	grid-row: span 2;
	grid-column: span 2;
}

.gallery-image-3-3
{
	grid-row: span 3;
	grid-column: span 3;
}


.gallery-image-1-1 img:not(:hover):focus
{
	transform: scale(1.075);
	
	z-index: 1000;
}

.gallery-image-2-2 img:not(:hover):focus
{
	transform: scale(1.0375);
	
	z-index: 1000;
}

.gallery-image-3-3 img:not(:hover):focus
{
	transform: scale(1.025);
	
	z-index: 1000;
}



#full-res-viewer
{
	position: fixed;
	
	width: 100%;
	height: 100%;
	
	z-index: 1000;
	
	top: 0;
	left: 0;
	
	background-color: rgba(0, 0, 0, .9);
	
	display: none;
	opacity: 0;
}

#full-res-viewer-image-container
{
	position: relative;
	
	width: 75vh;
	height: 75vh;
	margin-top: 12.5vh;
	margin-left: 5vh;
	
	display: flex;
	
	justify-content: center;
	align-items: center;
}

#full-res-viewer-image
{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	
	cursor: pointer;
}

#full-res-viewer-text-container
{
	position: fixed;
	
	right: 10px;
	bottom: 0;
	
	width: calc(100vw - 80vh - 20px);
	height: 100%;
	
	display: flex;
	
	flex-direction: column;
	
	justify-content: center;
	align-items: center;
}

#main-text-container
{
	width: 100%;
}

#full-res-viewer-text-container .body-text, #full-res-viewer-text-container .section-text, #full-res-viewer-text-container .heading-text
{
	width: 90%;
}



@media (max-aspect-ratio: 9/16), (max-width: 700px)
{
	#gallery
	{
		grid-template-columns: 1fr;
	}
}

@media (min-aspect-ratio: 16/9), (min-width: 1400px)
{
	#gallery
	{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-aspect-ratio: 1/1)
{
	#full-res-viewer-image-container
	{
		width: 75vw;
		height: 75vw;
		margin-top: 5vw;
		margin-left: 12.5vw;
	}
	
	#full-res-viewer-text-container
	{
		height: calc(100vh - 80vw - 20px);
		width: 100%;
		
		right: 0;
		bottom: 10px;
	}
}