section
{
	margin-bottom: 10px !important;
}

#gallery
{
	width: calc(100vw - 20px);
	
	margin-top: 50px;
	margin-left: 10px;
	
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	
	grid-gap: 10px;
}

.gallery-block
{
	width: 100%;
	
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	
	grid-gap: 10px;
}

.gallery-image-1-1, .gallery-image-2-2, .gallery-image-3-3
{
	font-size: 0;
}

.gallery-image-1-1 img, .gallery-image-2-2 img, .gallery-image-3-3 img
{
	width: 100%;
	
	object-fit: cover;
	
	cursor: pointer;
}

.gallery-image-1-1
{
	grid-row: span 1;
	grid-column: span 1;
}

.gallery-image-2-2
{
	grid-row: span 2;
	grid-column: span 2;
}

.gallery-image-3-3
{
	grid-row: span 3;
	grid-column: span 3;
}


.gallery-image-1-1 img:not(:hover):focus
{
	transform: scale(1.075);
	
	z-index: 1000;
}

.gallery-image-2-2 img:not(:hover):focus
{
	transform: scale(1.0375);
	
	z-index: 1000;
}

.gallery-image-3-3 img:not(:hover):focus
{
	transform: scale(1.025);
	
	z-index: 1000;
}



#high-res-viewer-card img
{
	max-width: 100%;
	max-height: calc(100vh - 100px);
}



@media (max-aspect-ratio: 9/16), (max-width: 700px)
{
	#gallery
	{
		grid-template-columns: 1fr;
	}
}

@media (min-aspect-ratio: 16/9), (min-width: 1400px)
{
	#gallery
	{
		grid-template-columns: repeat(3, 1fr);
	}
}