#sudoku-container
{
	width: 80%;
	margin: 0 auto;
}

#sudoku-grid
{
	width: 100%;
	opacity: 0;
	aspect-ratio: 1/1;
}

.WILSON_fullscreen-container.WILSON_fullscreen
{
	background-color: var(--background) !important;
}