#brownian-tree-graph
{
	width: 80vmin;
	height: 80vmin;
	margin: 0 auto;
	
	border: 2px solid rgb(127, 127, 127);
	border-radius: 15px;
	padding: 2px;
}



.progress-bar
{
	width: calc(80vmin - 8px) !important;
	transition: opacity .3s ease-in-out, margin-top .3s ease-in-out, margin-bottom .3s ease-in-out;
}