#grid-graph
{
	width: 90vmin;
	height: 90vmin;
	margin: 0 auto;
	
	border: 2px solid rgb(127, 127, 127);
	border-radius: 15px;
	padding: 2px;
}



.text-box-row
{
	width: 70vw;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}



#download-button
{
	display: flex;
	justify-content: center;
	opacity: 0;
	width: 70vw;
	margin: 0 auto;
}