.major-version, .medium-version, .minor-version
{
	margin-top: 15vh;
}

.major-version .body-text, .medium-version .body-text, .minor-version .body-text
{
	width: 50vw;
}



.major-version div:first-child .heading-text
{
	font-size: 350%;
}

.major-version div:nth-child(-n+2) .heading-text
{
	font-weight: bold;
}



.medium-version div:first-child .section-text
{
	font-size: 250%;
}

.medium-version div:nth-child(-n+2) .section-text
{
	font-weight: bold;
}



.minor-version
{
	display: hidden;
	
	position: fixed;
	
	top: 10000px;
	
	opacity: 0;
}

.minor-version div:first-child .body-text
{
	font-size: 150%;
}

.minor-version div:nth-child(-n+2) .body-text
{
	font-weight: bold;
	text-align: center;
}



@media (max-aspect-ratio: 9/16), (max-width: 700px)
{
	.major-version .body-text, .medium-version .body-text, .minor-version .body-text
	{
		width: 90vw;
	}
}



@media (min-aspect-ratio: 16/9), (min-width: 1400px)
{
	.major-version .body-text, .medium-version .body-text, .minor-version .body-text
	{
		width: 30vw;
	}
}