.major-version, .medium-version, .minor-version
{
	margin-top: 20vh;
	
	transition: opacity .3s ease-in-out;
}



.major-version div:first-child .heading-text
{
	font-size: 350%;
}

.major-version div:nth-child(-n+2) .heading-text
{
	font-weight: bold;
}



.medium-version div:first-child .section-text
{
	font-size: 250%;
}

.medium-version div:nth-child(-n+2) .section-text
{
	font-weight: bold;
}



.minor-version
{
	display: none;
	
	opacity: 0;
}

.minor-version div:first-child .body-text
{
	font-size: 150%;
}

.minor-version div:nth-child(-n+2) .body-text
{
	font-weight: bold;
	text-align: center;
}