#container
{
	display: flex;
	justify-content: space-between;
	width: 70vw;
	margin: 0 auto;
}

#mandelbrot-set, #julia-set
{
	width: 30vw;
	height: 30vw;
}

#high-res-julia-set
{
	width: 90vmin;
	height: 90vmin;
	margin: 0 auto;
}

#mandelbrot-set, #julia-set, #high-res-julia-set
{
	border: 2px solid rgb(127, 127, 127);
	border-radius: 15px;
	padding: 2px;
}



.text-box-row
{
	width: 70vw;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}



@media (max-aspect-ratio: 9/16), (max-width: 700px)
{
	#container
	{
		flex-direction: column;
	}
	
	#mandelbrot-set, #julia-set
	{
		width: 70vw;
		height: 70vw;
	}
	
	#mandelbrot-set
	{
		margin-bottom: 5vw;
	}
}