.canvas-bundle canvas
{
	border-radius: calc(2.5 * var(--vl));
	width: calc(50 * var(--vl));
	height: calc(50 * var(--vl));
}

.left-text
{
	position: relative;
}



#title .canvas-bundle
{
	bottom: calc(-5 * var(--vl));
}

#title .canvas-bundle canvas
{
	width: calc(55 * var(--vl));
	height: calc(55 * var(--vl));
}



#parallelization
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#parallelization :is(#cpu-canvas-container, #gpu-canvas-container)
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

:is(#cpu-canvas-container, #gpu-canvas-container) canvas
{
	width: calc(43.75 * var(--vl));
	height: calc(43.75 * var(--vl));
	aspect-ratio: 1;

	border-radius: calc(2.5 * var(--vl));
}

:is(#cpu-canvas-container, #gpu-canvas-container) p
{
	text-align: center;
	margin-top: calc(3.5 * var(--vl));
}



:is(#webAssembly, #expandability, #interactivity, #animationFlair, #accessibility, #palettes, #designingAroundSound) .canvas-bundle
{
	bottom: calc(1.25 * var(--vl));
	right: calc(1.25 * var(--vl));
}

:is(#webAssembly, #expandability, #interactivity, #animationFlair, #accessibility, #palettes, #designingAroundSound) .canvas-bundle canvas
{
	border-radius: calc(1.25 * var(--vl));
	width: calc(45 * var(--vl));
	height: calc(45 * var(--vl));
}



:is(#performanceCompromises, #animationEducation, #thankYou) .canvas-bundle canvas
{
	width: calc(47.5 * var(--vl));
	height: calc(47.5 * var(--vl));
}



#interactivity #WILSON_draggable-a
{
	background-color: rgb(255, 127, 127);
}



#beauty .canvas-bundle
{
	bottom: calc(-6 * var(--vl));
	right: calc(-9 * var(--vl));
}

#beauty .canvas-bundle canvas
{
	width: calc(62.5 * var(--vl));
	height: calc(62.5 * var(--vl));
}



#palettes .WILSON_draggable
{
	display: none;
}



#designingAroundSound #fractal-sounds-canvas-container
{
	position: relative;
	width: calc(45 * var(--vl));
	height: calc(45 * var(--vl));
}

#designingAroundSound #fractal-sounds-mandelbrot-canvas-container, #fractal-sounds-path-canvas-container
{
	position: absolute;
	top: 0;
	left: 0;
}

input[type="range"]
{
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track
{
	-webkit-appearance: none;
	background: #ccc; /* or whatever you want */
	height: 8px;
	border-radius: 4px;
}

.sliders
{
	position: relative;
	display: grid;
	
	justify-content: center;
	
	width: 70%;
	margin: 0 auto;

	grid-template-columns: repeat(auto-fit, 170px);
	
	row-gap: 16px;
	column-gap: 10px;
	
	margin-top: 32px;
}

.slider-container
{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slider-bar
{
	background: rgb(224, 224, 224);
	width: 100%;
	height: 2.5px;
	border-radius: 2.5px;

	transition: background 0.25s ease-out;
}

.slider-thumb
{
	position: absolute;
	top: calc(-24px / 2 - 2.5px / 2);
	left: 0;

	background: rgb(0, 0, 0);
	border-radius: 50%;
	border: 2.5px solid rgb(224, 224, 224);
	cursor: pointer;
	width: 24px;
	height: 24px;

	z-index: 10;
	touch-action: none;

	transition: margin-top 0.125s ease-in-out, margin-left 0.125s ease-in-out, width 0.125s ease-in-out, height 0.125s ease-in-out, transform 0.125s ease-in-out, border-color 0.25s ease-out !important;
}

.slider-thumb:active
{
	transform: scale(1.1) !important;

	width: 12px;
	height: 12px;
	margin-top: 6px;
	margin-left: 6px;
}

.slider-subtext
{
	text-align: center !important;
	margin-top: 16px !important;
	font-size: 75%;
	margin-bottom: 0 !important;
	width: 100% !important;
	user-select: none;
	-webkit-user-select: none;
	color: rgb(224, 224, 224);

	transition: color 0.25s ease-out;
}

.slider-subtext span
{
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
}

.slider-subtext .slider-value
{
	font-family: Menlo, Monaco, Consolas, monospace;
	cursor: text;
	text-align: center;
}

.slider-subtext .cap-triangle
{
	display: none;
}