.canvas-bundle canvas
{
	border-radius: calc(2.5 * var(--vl));
	width: calc(50 * var(--vl));
	height: calc(50 * var(--vl));
}

.left-text
{
	position: relative;
}



#title .canvas-bundle
{
	bottom: calc(-5 * var(--vl));
}

#title .canvas-bundle canvas
{
	width: calc(55 * var(--vl));
	height: calc(55 * var(--vl));
}



#parallelization
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#parallelization :is(#cpu-canvas-container, #gpu-canvas-container)
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

:is(#cpu-canvas-container, #gpu-canvas-container) canvas
{
	width: calc(43.75 * var(--vl));
	height: calc(43.75 * var(--vl));
	aspect-ratio: 1;

	border-radius: calc(2.5 * var(--vl));
}

:is(#cpu-canvas-container, #gpu-canvas-container) p
{
	text-align: center;
	margin-top: calc(3.5 * var(--vl));
}



:is(#webAssembly, #expandability, #interactivity, #animationFlair, #accessibility, #palettes) .canvas-bundle
{
	bottom: calc(1.25 * var(--vl));
	right: calc(1.25 * var(--vl));
}

:is(#webAssembly, #expandability, #interactivity, #animationFlair, #accessibility, #palettes) .canvas-bundle canvas
{
	border-radius: calc(1.25 * var(--vl));
	width: calc(45 * var(--vl));
	height: calc(45 * var(--vl));
}



#performanceCompromises .canvas-bundle canvas
{
	width: calc(47.5 * var(--vl));
	height: calc(47.5 * var(--vl));
}



#interactivity #WILSON_draggable-a
{
	background-color: rgb(255, 127, 127);
}



#metric-slider
{
	width: 50%;
	margin-left: -1.5%;
}



#beauty .canvas-bundle
{
	bottom: calc(-6 * var(--vl));
	right: calc(-9 * var(--vl));
}

#beauty .canvas-bundle canvas
{
	width: calc(62.5 * var(--vl));
	height: calc(62.5 * var(--vl));
}



#palettes .WILSON_draggable
{
	display: none;
}



#designingAroundSound .canvas-bundle
{
	position: relative;
}

#designingAroundSound #fractal-sounds-mandelbrot-canvas, #fractal-sounds-path-canvas
{
	position: absolute;
	top: 0;
	left: 0;
}